<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'home/style/images/logo/favicon.png' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="google-site-verification" content="JG1CxJpUx1tAYQReDoQKHcJKXz-4Zk4UVAGOn5O9AvU" />
    <link href="https://fonts.googleapis.com/css?family=Changa" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <style>
        .container{
            min-width: 100%;
        }

        .container > .row {
            margin: 0;
        }


        .container > .row > .col {
            padding: 0;
        }

        *{
            padding: 0px;
            margin: 0px;
            font-family: 'Changa', 'myFont';
        }

        @font-face {
            font-family: 'myFont';
            src: url('/static/account/fonts/Changa/myFont.ttf');
        }


        .nav-wrapper ul li a{
            font-size: 13px;
            color: orange;
        }

        .nav-wrapper ul li a:hover{
            color: grey;
        }



        #footer-content{
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #footer-content li{
            float: left;
            height: 20px;
            line-height: 1.1em;
            margin: 0 .5em 0 -.5em;
            padding: 0 .5em 0 .5em;
            color: white;
        }

        .sub-menu-ams ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .sub-menu-ams ul li{
            float: left;
            margin-left: 20px;
        }

        .sub-menu-ams ul li a{
            color: grey;
        }

        .sub-menu-ams ul li a:hover{
            color: black;
        }

        footer a{
            color: #666a65;
        }

        footer a:hover{
            color: orange;
            text-decoration: underline;
        }

        .preloader-background {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;

            position: fixed;
            z-index: 100;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }



        .goog-te-gadget-simple{
            background-color: black !important;
            height: 0px !important;
            border: none !important;
        }

        .goog-te-menu-value{
            color: white !important;
        }


        body > .skiptranslate {
            display: none;
        }

        body {top: 0px !important; position: static !important; }
        .goog-te-banner-frame {display:none !important}



    </style>

    {% block add-css %}
    {% endblock %}

</head>
<body>
    <div class="container">
        <input type="hidden" id="login_username" value="{{ request.user.username }}">

        <!--start navbar-->

        <div id="google_translate_element" style="display: none;"></div>

        <!-- web sub menu -->
        <ul id="dashboard" class="dropdown-content">
            <li><a href="{% url 'home:leader-board' %}">Leader Board</a></li>
            <li><a href="{% url 'topic:step_1' %}">5 Steps Quick Start</a></li>
            <li><a href="{% url 'course:course' %}">Video Course</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'home:what-is-bitcoin' %}">What Is Bitcoin</a></li>
            <li><a href="{% url 'home:buy-bitcoins-here' %}">Get Bitcoin Here</a></li>
            <li><a href="{% url 'home:bitcoin-wallets' %}">Bitcoin Wallets</a></li>
            <li><a href="{% url 'home:bitcoin-debit-cards' %}">Bitcoin Debit Cards</a></li>
        </ul>

        <ul id="passive-profite" class="dropdown-content">
            <li><a href="{% url 'home:passive-income' %}">Passive Income</a></li>
            <li><a href="{% url 'home:crypto-trading' %}">Crypto Trading</a></li>
            <li><a href="{% url 'home:crypto-mining' %}">Bitcoin and Altcoin mining</a></li>
            <li><a href="{% url 'home:crypto-resource' %}">Crypto Recources</a></li>
        </ul>

        <ul id="my-account" class="dropdown-content">
            <li><a href="{% url 'account:profile' %}">Profile Settings</a></li>
            <li><a href="{% url 'home:payment-account-setting' %}">Payment Account Setting</a></li>
            <li><a href="{% url 'home:my-commission' %}">My Commission</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'account:membership-level-premium' %}">Premium Membership</a></li>
            <li><a href="{% url 'account:membership-level-vip' %}">VIP Membership</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'account:my-autoresponder-settings' %}">Autoresponder Settings</a></li>
            <li><a href="{% url 'account:my-referrals' %}">My Referrals</a></li>
            <li class=""><a class="red-text" href="{% url 'account:logout' %}">Logout</a></li>
        </ul>


        <ul id="training-marketing" class="dropdown-content">
            <li><a href="{% url 'home:manage-team' %}">Manage Team</a></li>
            <li><a href="{% url 'home:affiliate_link' %}">Affiliate Links & Funnels</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'home:banners' %}">Banners</a></li>
            <li><a href="{% url 'home:email_swipes' %}">Email Swipes</a></li>
        </ul>


        <ul id="support" class="dropdown-content">
            <li><a href="{% url 'home:faq' %}">FAQ</a></li>
            <li><a href="{% url 'home:recent-update' %}">BTM Updates</a></li>
            <li><a target="_blank" href="https://www.facebook.com/groups/336201610190269/">BTM Facebook Group</a></li>
            <li><a target="_blank" href="https://www.facebook.com/Be-The-Millionaire-2158534220826913/">BTM Facebook Page</a></li>
        </ul>

        <!-- end web sub menu -->


        {% if user.is_authenticated %}
        <div class="navbar-fixed">
            <nav class="black" style="opacity: .9;">
                <div class="nav-wrapper">

                    <!--mobile menu-->
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

                    <span style="font-size: 20px;" class="hide-on-large-only">
                        BeTheMillionaire
                    </span>

                    <!--main web menu-->
                    <ul class="left hide-on-med-and-down">
                        <li><a href="{% url 'home:index' %}">BeTheMillionaire</a></li>
                        <li><a class="dropdown-trigger dropdown-button" href="#!" data-target="dashboard">BTM Dashboard</a></li>
                        <li><a class="dropdown-trigger dropdown-button" href="#!" data-target="passive-profite">Passive Profits</a></li>
                        <li><a class="dropdown-trigger dropdown-button" href="#!" data-target="my-account">My Account Settings</a></li>
                        <li><a class="dropdown-trigger dropdown-button" href="#!" data-target="training-marketing">Training & Marketing</a></li>
                        <li><a class="dropdown-trigger dropdown-button" href="#!" data-target="support">Support</a></li>
                    </ul>
                    <!--main web menu-->



                    <ul class="right white-text hide-on-med-and-down" style="">
                        <li><a class="dropdown-trigger dropdown-button1 waves-effect waves-light btn green white-text" data-alignment="right" data-target="dropdown-lang">Language</a></li>

                        <ul id='dropdown-lang' class='dropdown-content translation-links' style="">
                            <li><a href="#" class="" data-lang="Arabic">Arabic</a></li>
                            <li><a href="#" class="" data-lang="English">English</a></li>
                        </ul>


                        {% if user.is_authenticated %}
                        <li><a class="dropdown-button waves-effect waves-light btn orange black-text" href="{% url 'account:profile' %}">{{ request.user.username | title }}</a></li>
                        {% else %}
                        <li><a class="dropdown-button waves-effect waves-light btn orange black-text" href="{% url 'account:login' %}">Login</a></li>
                        {% endif %}
                    </ul>





                </div>
            </nav>
        </div>




        <!--mobile menu-->
        <div class="sidenav" id="mobile-demo">

            <div class="row" style="padding: 20px;">
                <div class="col s4 offset-s3 center-align">
                    {% if request.user.profile_picture %}
                        <img height="100%" width="100%" src="{{ request.user.profile_picture.url }}" alt="">
                    {% else %}
                        <img class="col m10 offset-m1 l10 offset-l1" src="{% static 'account/style/images/no-img.jpg' %}" height="100%" width="100%" style="margin-top: 20px;" alt="">
                    {% endif %}
                    {{ request.user.username | title }}<br>
                    {{ request.user.membership.name | upper }}
                </div>
            </div>

            <div class="col s12 m12 l12 divider">

            </div>

            <ul class="collapsible">
                <a href="{% url 'home:index' %}" style="color: black">
                <li>
                    <div class="collapsible-header"><i class="material-icons">account_balance</i>Home</div>
                    <div class="collapsible-body">

                    </div>
                </li>
                </a>

                <li>
                    <div class="collapsible-header"><i class="material-icons">dashboard</i>BTM Dashboard</div>
                    <div class="row collapsible-body">

                        <div class="collection">
                            <a href="{% url 'home:leader-board' %}" class="collection-item">Leader Boards</a>
                            <a href="{% url 'topic:step_1' %}" class="collection-item">START HERE - 5 Steps To Set Up BTM!</a>
                            <a href="{% url 'course:course' %}" class="collection-item">Video Course: Secrets To Growing</a>
                            <a href="{% url 'home:what-is-bitcoin' %}" class="collection-item">What Is Bitcoin</a>
                            <a href="{% url 'home:buy-bitcoins-here' %}" class="collection-item">Get Bitcoin Here</a>
                            <a href="{% url 'home:bitcoin-wallets' %}" class="collection-item">Bitcoin Wallets</a>
                            <a href="{% url 'home:bitcoin-debit-cards' %}" class="collection-item">Bitcoin Debit Cards</a>
                        </div>


                    </div>
                </li>

                <li>
                    <div class="collapsible-header"><i class="material-icons">device_hub</i>Passive Profits</div>
                    <div class="collapsible-body">


                        <div class="collection">
                            <a href="{% url 'home:passive-income' %}" class="collection-item">Passive Income</a>
                            <a href="{% url 'home:crypto-trading' %}" class="collection-item">Cryptocurrency Trading</a>
                            <a href="{% url 'home:crypto-mining' %}" class="collection-item">Bitcoin and Altcoin mining</a>
                            <a href="{% url 'home:crypto-resource' %}" class="collection-item">Crypto Recources</a>
                        </div>



                    </div>
                </li>

                <li>
                    <div class="collapsible-header"><i class="material-icons">accessibility</i>My Account</div>
                    <div class="collapsible-body">


                        <div class="collection">
                            <a href="{% url 'account:profile' %}" class="collection-item">My Profile Settings</a>
                            <a href="{% url 'home:payment-account-setting' %}" class="collection-item">Payment Account Setting</a>
                            <a href="{% url 'home:my-commission' %}" class="collection-item">My Commission</a>
                            <a href="{% url 'account:membership-level-premium' %}" class="collection-item">Premium Membership</a>
                            <a href="{% url 'account:membership-level-vip' %}" class="collection-item">VIP Membership</a>
                            <a href="{% url 'account:my-autoresponder-settings' %}" class="collection-item">My Autoresponder Settings</a>
                            <a href="{% url 'account:my-referrals' %}" class="collection-item">My Referrals</a>
                            <a href="{% url 'account:logout' %}" class="collection-item red">Logout</a>
                        </div>


                    </div>
                </li>

                <li>
                    <div class="collapsible-header"><i class="material-icons">record_voice_over</i>Training & Marketing</div>
                    <div class="collapsible-body">



                        <div class="collection">
                            <a href="{% url 'home:manage-team' %}" class="collection-item">Manage Team</a>
                            <a href="{% url 'home:affiliate_link' %}" class="collection-item">Affiliate Links & Funnels</a>
                            <a href="{% url 'home:banners' %}" class="collection-item">Banners</a>
                            <a href="{% url 'home:email_swipes' %}" class="collection-item">Email Swipes</a>
                        </div>


                    </div>
                </li>

                <li>
                    <div class="collapsible-header"><i class="material-icons">call</i>Support</div>
                    <div class="collapsible-body">


                        <div class="collection">
                            <a href="{% url 'home:faq' %}" class="collection-item">FAQ</a>
                            <a href="{% url 'home:recent-update' %}" class="collection-item">BTM Recent Updates</a>
                            <a href="{% url 'home:banners' %}" class="collection-item">BTM Facebook Group</a>
                            <a target="_blank" href="https://www.facebook.com/Be-The-Millionaire-2158534220826913/" class="collection-item">BTM Facebook Fanpage</a>
                        </div>



                    </div>
                </li>
            </ul>



        </div>
        <!--end mobile menu-->



        <!--end start navbar-->


        <div class="row">
            <div class="col m12 l12 l12" style="padding: 5px; box-shadow: 1px 1px grey; background-color: #333;">
                <div class="col l7 offset-l3 sub-menu-ams" style="">
                    <ul style="font-size: 14px;">
                        <li>
                            <span class="grey-text">MEMBERSHIP:
                                {% if request.user.membership.name == 'free' %}
                                    <span class="red-text">{{ request.user.membership.name | upper }}</span>
                                {% else %}
                                    <span>{{ request.user.membership.name | upper }}</span>
                                {% endif %}
                            </span>
                        </li>

                        <li>
                            <p class="grey-text">SPONSOR: <a class="" href="{% url 'account:public-profile' %}?userid={{ request.user.username }}">{{ request.user.sponsor.username | upper }}</a></p>
                        </li>

                        <li>
                            <span class="grey-text">TOTAL MEMBER: <span class="" id="left_bar_total_member" style=""></span></span>
                        </li>

                        <li>
                            <p class="grey-text">{% now "jS F Y H:i" %}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        {% endif %}

        {% block main %}

        {% endblock %}


        <!--off--
        <footer class="row">
            <div class="col s12 m12 l12" style="">
                <div class="col l4 offset-l4" style="">
                    <img src="{% static 'home/style/images/logo/logo.png' %}" style="height: 100%; width: 100%;" alt="">
                </div>
            </div>

            <div class="col s12 m12 l12" style="margin-top: 20px;">
                <div class="col s12 m10 offset-m1 l5 offset-l4 white-text center-align" style="boder: 1px solid red;">
                    <ul id="footer-content">
                        <li>
                           <a class="" href="{% url 'home:faq' %}">
                                FAQ
                            </a>
                        </li>

                        <li>
                            <a class="" href="{% url 'home:privacy-policy' %}">
                                Privacy Policy
                            </a>
                        </li>

                        <li>
                           <a class="" href="{% url 'home:recent-update' %}">
                                Recent Update
                            </a>
                        </li>

                        <li>
                            <a class="" href="https://www.facebook.com/groups/336201610190269/">
                                Facebook
                            </a>
                        </li>

                        <li>
                            <a class="" href="{% url 'home:index' %}">
                                Terms & Conditions
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col s12 m12 l12 center-align grey-text" style="margin-top: 10px; margin-bottom: 20px;">
                &copy; 2018-2018 All right reserved Mena Refaat
            </div>
        </footer>-->


        <footer class="row col s12 m12 l12 hide-on-med-and-down" style="background-color: #33363f; height: 600px; padding: 100px; border-top: 4px solid black;">
            <div class="col l3 center-align" style="padding: 30px;">
                <img src="{% static 'home/style/images/logo/logo.png' %}" style="height: 100%; width: 100%;" alt="">
                <h5 class="" style="color: #666a65;">BeTheMillionaire</h5>
                <p class="" style="color: #666a65;">@all right reserved</p>
                <p class="" style="color: #666a65;">@Mena Refaat</p>
                <p class="" style="color: #666a65;">@2018-2018</p>
            </div>

            <div class="col l9" style=" padding: 30px;">

                <div class="col l4">
                    <p style="color: #666a65; text-decoration: underline;">Quick Links</p>

                    <a href="#" class="col s12 m12 l12" style="padding: 0px; margin-top: 20px;">5 Steps Quick Start</a><br>
                    <a href="#" class="" style="">Browse Our Course</a><br>
                    <a href="#" class="" style="">Affiliate Links</a><br>
                    <a href="#" class="" style="">Banners</a><br>
                    <a href="#" class="" style="">Teams</a><br>
                    <a href="#" class="" style="">Passive Profits</a><br>
                    <a href="#" class="" style="">Email Swipes</a><br>
                    <a href="#" class="" style="">Account Settings</a><br>
                    <a href="#" class="" style="">My Commissions</a><br>
                    <a href="#" class="" style="">My Autoresponder</a><br>
                </div>

                <div class="col l4">
                    <p style="color: #666a65; text-decoration: underline;">Social Platform</p>

                    <a href="#" class="col s12 m12 l12" style=" padding: 0px; margin-top: 20px;">Facebook Page</a><br>
                    <a href="#" class="" style="padding: 0px; ">Facebook Group</a><br>
                    <a href="#" class="" style="padding: 0px; ">Telegram</a><br>
                    <a href="#" class="" style="padding: 0px; ">Youtube</a><br>
                    <a href="#" class="" style="padding: 0px; ">Twitter</a><br>
                    <a href="#" class="" style="padding: 0px; ">Instagram</a><br>
                    <a href="#" class="" style="padding: 0px; ">Google +</a><br>

                </div>


                <div class="col l4">
                    <p style="color: #666a65; text-decoration: underline;">Support</p>

                    <a href="#" class="col s12 m12 l12" style="padding: 0px; margin-top: 20px; ">FAQ</a><br>
                    <a href="#" style="padding: 0px; ">Recent Updates</a><br>
                    <a href="#" style="padding: 0px; ">Privacy Policy</a><br>
                    <a href="#" style="padding: 0px; ">Terms and Conditions</a><br>

                </div>


            </div>


            <p class="col s12 m12 l12 divider grey" style="margin-top: 80px;">

            </p>


            <div class="col s12 m12 l12 valign-wrapper" style=" height: 50px; margin-top: 20px; padding: 10px;">
                <div class="col s12 m12 l12 left">
                <span style="margin-right: 20px;">
                    <i style="font-size: 30px; color: grey;" class="fab fa-facebook-square"></i>
                </span>

                <span style="margin-right: 20px;">
                    <i style="font-size: 30px; color: grey;" class="fab fa-telegram"></i>
                </span>


                <span style="margin-right: 20px;">
                    <i style="font-size: 30px; color: grey;" class="fab fa-twitter-square"></i>
                </span>

                <span style="margin-right: 20px;">
                    <i style="font-size: 30px; color: grey;" class="fab fa-google-plus-square"></i>
                </span>

                <span style="margin-right: 20px;">
                    <i style="font-size: 30px; color: grey;" class="fab fa-youtube"></i>
                </span>

                <span style="margin-right: 20px;">
                    <i style="font-size: 30px; color: grey;" class="fab fa-instagram"></i>
                </span>
                </div>


                <span class="right grey-text">
                    www.bethemillionaire.com
                </span>

            </div>




        </footer>


    </div>


    <!--preloader-->

    <div class="preloader-background">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-orange-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <!--end preloader-->

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    /*
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5ac39b5b4b401e45400e4ebe/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    */
    </script>
    <!--End of Tawk.to Script-->


    <!--fb chat-->


    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
      attribution="setup_tool"
      page_id="1666949863355373"
      logged_in_greeting="Hi! How can we help you?"
      logged_out_greeting="Hi! How can we help you?">
    </div>



    <!--end-->

</body>
</html>

<!--js-->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>


<script>

    document.addEventListener("DOMContentLoaded", function(){
        $('.preloader-background').delay(1700).fadeOut('slow');

        $('.preloader-wrapper')
            .delay(1700)
            .fadeOut();
    });

    {% if user.is_authenticated %}
    $(document).ready(function(){
        var username = $("#login_username").val();

        $.ajax({
                url: '/account/api/user-profile/',
                data: { "username":username },
                dataType: 'json',
                success: function (data) {

                    $("#login_user_sponsor").append(data.data[0].sponsor_username);
                    $("#login_user_sponsor").attr("href","/account/membership-account/public-profile/?userid="+data.data[0].sponsor_username);
                    $("#login_user_sponsor_left").append(data.data[0].sponsor_username);
                    $("#login_user_membership").append(data.user_membership_name);
                    $("#login_user_sponsor_email").append(data.data[0].sponsor_email);
                    $("#login_user_sponsor_phone").append(data.data[0].sponsor_phone);
                    $("#login_user_sponsor_skype").append(data.data[0].sponsor_skype);

                    $("#left_bar_total_member").append(data.total_member);

                    //$("#login_user_sponsor_profile_picture").append(data[0].sponsor_profile_picture);
                }
        });
    })

    {% endif %}
</script>

<script>
    $(".dropdown-trigger").dropdown();


    /*$('.dropdown-button1').dropdown({
          inDuration: 300,
          outDuration: 225,
          constrainWidth: true, // Does not change width of dropdown to that of the activator
          hover: false, // Activate on hover
          gutter: ($('.dropdown-content').width()*2)/3.4,
          belowOrigin: true, // Displays dropdown below the button
          alignment: 'left', // Displays dropdown with edge aligned to the left of button
          stopPropagation: false // Stops event propagation
        }
    */


     $(".dropdown-button").dropdown({
          inDuration: 300,
          outDuration: 225,
          constrainWidth: false, // Does not change width of dropdown to that of the activator
          hover: false, // Activate on click
          alignment: "left", // Aligns dropdown to left or right edge (works with constrain_width)
          gutter: 0, // Spacing from edge
          belowOrigin: true,
      }


    );
</script>


<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


<script type="text/javascript">
$('.translation-links a').click(function() {
  var lang = $(this).data('lang');

  var $frame = $('.goog-te-menu-frame:first');
  if (!$frame.length) {
    return false;
  }
  $frame.contents().find('.goog-te-menu2-item span.text:contains('+lang+')').get(0).click();
  return false;
});


$(document).ready(function(){
    $('.sidenav').sidenav();
  });


  $(document).ready(function(){
        $('.collapsible').collapsible();
    });
</script>







{% block script %}

{% endblock %}
