{% extends 'base_v_2.html' %}

{% block title %}BeTheMillionaire | Add member to team{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">

    <style>
        .left_main_menu a{
            color: orange;
        }

        .left_main_menu a:hover{
            color: white;
            text-decoration: underline;
        }

        .site-background{
            background-image: url('/static/account/style/images/reg/back-1.jpeg');
            background-repeat: repeat;
            background-position: center;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="row site-background" style="">
        <div class="col s12 l8 offset-l2" style="">
            <div class="col m4 l3 blue" style="">
                <div class="col s12 m12 l12 #1a237e indigo orange-text darken-4 center-align" style="padding: 10px;">
                    <h5>Manage Team</h5>
                </div>

                <div class="col s12 m12 l12 white center-align" style="min-height: 200px;">
                    {% if request.user.sponsor.profile_picture %}
                        <img class="col m10 offset-m1 l10 offset-l1" src="{{ request.user.sponsor.profile_picture.url}}" height="100%" width="100%" style="margin-top: 20px;" alt="">
                    {% else %}
                        <img class="col m10 offset-m1 l10 offset-l1" src="{% static 'account/style/images/no-img.jpg' %}" height="100%" width="100%" style="margin-top: 20px;" alt="">
                    {% endif %}
                    <p style="margin-bottom: 10px;">@{{ request.user.sponsor.username | title }}</p>
                </div>

                <div class="col s12 m12 l12 #1a237e indigo orange-text darken-4 left_main_menu" style="padding: 10px; margin-bottom: 20px;">
                    <a class="left col s12 m12 l12 white-text" href="{% url 'home:manage-team' %}" style="padding: 10px;">Manage Team
                        <span class="right" style=""> > </span>
                    </a>

                    <a class="left col s12 m12 l12" href="{% url 'account:membership-level-vip' %}" style="padding: 10px;">Upgrade VIP
                        <span class="right" style=""> > </span>
                    </a>

                    <a class="left col s12 m12 l12" href="{% url 'account:membership-level-premium' %}" style="padding: 10px;">Upgrade Premium
                        <span class="right" style=""> > </span>
                    </a>
                </div>
            </div>

            <div class="col m8 l9" style="padding: 0px; margin-top: 0px; opacity: .9; margin-bottom: 20px;">
                <div class="col s12 l12 white center-align" style="padding: 20px;">

                    <h4 class="left-align orange-text">My Team</h4>

                    <p class="col s12 m12 l12 divider" style="margin-top: 30px; margin-bottom: 30px;"></p>


                    <div class="col s12 m12 l12">
                        <table class="centered responsive-table striped" style="margin-bottom: 20px;">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Team Name</th>
                                    <th>Owner</th>
                                    <th>Total Member</th>
                                    <th>Add This Team</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for my_team in my_teams %}

                                <tr>
                                    <td><b>{{ forloop.counter }}. </b></td>
                                    <td>{{ my_team.name | title }}</td>
                                    <td>{{ my_team.owner.username | title }}</td>
                                    <td>{{ my_team.member.all.count }}</td>
                                    <td><a href="" style="font-size: 12px;">Remove</a></td>
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>


                    <div class="col s12 m12 l12" style="margin-top: 30px; margin-bottom: 40px;">

                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}

<script>

</script>

{% endblock %}
