{% extends 'base.html' %}

{% block title %}Banners | BeTheMillionaire{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col s12 m12 l12" style="">
            <div class="col s12 m12 l9 right main-content" style="">
                <div class="col s12 m12 l12" style="margin-top: 20px; margin-bottom: 20px;">
                    <h4 class="center-align">
                        Here You Will Find Banner Resources To Help You Advertise Bitcoins Wealth Club!
                    </h4>
                </div>

                <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1" style="height: 400px;">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/-2X4mB4hyLA" frameborder="0" gesture="media" allow="encrypted-media" autoplay="true" allowfullscreen></iframe>
                </div>

                <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2" style="margin-top: 20px;">
                    <a target="_blank" href="https://infinitytrafficboost.com/profitwithvitaliy/"><div class="card blue" style="cursor: pointer;">
                        <div class="card-content white-text">
                            <h5 class="center-align">
                                Click Here To Create ITB Account Here
                            </h5>
                        </div>
                    </div></a>
                </div>


                <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2" style="margin-top: 20px;">
                    <a target="_blank" href="https://clickmagick.com/go/vdubinin"><div class="card blue" style="cursor: pointer;">
                        <div class="card-content white-text">
                            <h5 class="center-align">
                                Click Here To Create FREE ClickMagic Account To Track Your Banner Clicks
                            </h5>
                        </div>
                    </div></a>
                </div>

                <div class="col s12 m12 l12" style="margin-top: 20px; margin-bottom: 20px;">
                    <h4 class="center-align">
                        Top Banner Advertising Networks
                    </h4>
                </div>

                <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
                    <p>
                        1. <a href="#">a-ads.com</a>
                    </p>

                    <p>
                        2. <a href="#">Coinad.com</a>
                    </p>

                    <p>
                        3. <a href="#">iBotoolbox.com</a>
                    </p>

                    <p>
                        4. <a href="#">CoinMedia.co</a>
                    </p>

                    <p>
                        5. <a href="#">BitCoset.com</a>
                    </p>

                    <p>
                        6. <a href="#">BitMedia.io</a>
                    </p>

                    <p>
                        7. <a href="#">Adbit.biz</a>
                    </p>
                </div>

                <div class="col s12 m12 l12" style="margin-top: 20px;">
                    <h4 class="center-align">
                        Banner Images And Links
                    </h4>
                </div>

                <div class="col s12 m12 l12" style="margin-bottom: 20px;">
                    <h5 class="center-align">
                        Banner Size: (320X250)
                    </h5>
                </div>
                
                <div class="col s12 m12 l12 center-align" style="margin-bottom: 20px;">
                    <img src="{% static 'home/style/images/banner/btm300x250.gif' %}">
                </div>

                <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1" style="margin-top: 20px;">
                    <div class="card blue" style="cursor: pointer;">
                        <div class="card-content white-text">
                            <p class="">
                                COPY THIS LINK and make sure it's YOUR OWN USERNAME in the URL: <br>
                                &lt;a href=&#8221;<a class="white-text" href="https://www.bethemillionaire.com/?userid={{ request.user.username }}" target="_blank" class="promote" title="https://www.bethemillionaire.com/?userid={{ request.user.username }}">https://www.bethemillionaire.com/?userid={{ request.user.username }}</a>&#8221; target=&#8221;_blank&#8221;&gt;<br />
                                &lt;img src=&#8221;http://b.aplus.io/17/186/j8cljcdc.gif&#8221; width=&#8221;320&#8243; height=&#8221;250&#8243; border=&#8221;0&#8243;&gt;<br />
                                &lt;/a&gt;
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col s12 m12 l12" style="margin-bottom: 20px;">
                    <h5 class="center-align">
                        Banner Size: (250X250)
                    </h5>
                </div>

                <div class="col s12 m12 l12 center-align" style="margin-bottom: 20px;">
                    <img src="{% static 'home/style/images/banner/btm250by250.gif' %}">
                </div>

                <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1" style="margin-top: 20px;">
                    <div class="card blue" style="cursor: pointer;">
                        <div class="card-content white-text">
                            <p class="">
                                COPY THIS LINK and make sure it's YOUR OWN USERNAME in the URL: <br>
                                &lt;a href=&#8221;<a class="white-text" href="https://www.bethemillionaire.com/?userid={{ request.user.username }}" target="_blank" class="promote" title="https://www.bethemillionaire.com/?userid={{ request.user.username }}">https://www.bethemillionaire.com/?userid={{ request.user.username }}</a>&#8221; target=&#8221;_blank&#8221;&gt;<br />
                                &lt;img src=&#8221;http://b.aplus.io/17/186/t3tl72mu.gif&#8221; width=&#8221;250&#8243; height=&#8221;250&#8243; border=&#8221;0&#8243;&gt;<br />
                                &lt;/a&gt;
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col s12 m12 l12" style="margin-bottom: 20px;">
                    <h5 class="center-align">
                        Banner Size: (200X200)
                    </h5>
                </div>

                <div class="col s12 m12 l12 center-align" style="margin-bottom: 20px;">
                    <img src="{% static 'home/style/images/banner/btm200x200.gif' %}">
                </div>

                <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1" style="margin-top: 20px;">
                    <div class="card blue" style="cursor: pointer;">
                        <div class="card-content white-text">
                            <p class="">
                                COPY THIS LINK and make sure it's YOUR OWN USERNAME in the URL: <br>
                                &lt;a href=&#8221;<a class="white-text" href="https://www.bethemillionaire.com/?userid={{ request.user.username }}" target="_blank" class="promote" title="https://www.bethemillionaire.com/?userid={{ request.user.username }}">https://www.bethemillionaire.com/?userid={{ request.user.username }}</a>&#8221; target=&#8221;_blank&#8221;&gt;<br />
                                &lt;img src=&#8221;http://b.aplus.io/17/186/lg16nc46.gif&#8221; width=&#8221;200&#8243; height=&#8221;200&#8243; border=&#8221;0&#8243;&gt;<br />
                                &lt;/a&gt;
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m12 l12" style="margin-bottom: 20px;">
                    <h5 class="center-align">
                        Banner Size: (728X90)
                    </h5>
                </div>

                <div class="col s12 m12 l12 center-align" style="margin-bottom: 20px;">
                    <img src="{% static 'home/style/images/banner/btm728_90.gif' %}">
                </div>

                <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1" style="margin-top: 20px;">
                    <div class="card blue" style="cursor: pointer;">
                        <div class="card-content white-text">
                            <p class="">
                                COPY THIS LINK and make sure it's YOUR OWN USERNAME in the URL: <br>
                                &lt;a href=&#8221;<a class="white-text" href="https://www.bethemillionaire.com/?userid={{ request.user.username }}" target="_blank" class="promote" title="https://www.bethemillionaire.com/?userid={{ request.user.username }}">https://www.bethemillionaire.com/?userid={{ request.user.username }}</a>&#8221; target=&#8221;_blank&#8221;&gt;<br />
                                &lt;img src=&#8221;http://b.aplus.io/17/186/kstltzoa.gif&#8221; width=&#8221;728&#8243; height=&#8221;90&#8243; border=&#8221;0&#8243;&gt;<br />
                                &lt;/a&gt;
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col s12 m12 l12" style="margin-bottom: 20px;">
                    <h5 class="center-align">
                        Banner Size: (468x60)
                    </h5>
                </div>

                <div class="col s12 m12 l12 center-align" style="margin-bottom: 20px;">
                    <img src="{% static 'home/style/images/banner/btmbanner468by60.gif' %}">
                </div>

                <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1" style="margin-top: 20px;">
                    <div class="card blue" style="cursor: pointer;">
                        <div class="card-content white-text">
                            <p class="">
                                COPY THIS LINK and make sure it's YOUR OWN USERNAME in the URL: <br>
                                &lt;a href=&#8221;<a class="white-text" href="https://www.bethemillionaire.com/?userid={{ request.user.username }}" target="_blank" class="promote" title="https://www.bethemillionaire.com/?userid={{ request.user.username }}">https://www.bethemillionaire.com/?userid={{ request.user.username }}</a>&#8221; target=&#8221;_blank&#8221;&gt;<br />
                                &lt;img src=&#8221;http://b.aplus.io/17/186/rl6fbcbk.gif&#8221; width=&#8221;468&#8243; height=&#8221;60&#8243; border=&#8221;0&#8243;&gt;<br />
                                &lt;/a&gt;
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col s12 m12 l12" style="margin-bottom: 20px;">
                    <h5 class="center-align">
                        Banner Size: (160x600)
                    </h5>
                </div>

                <div class="col s12 m12 l12 center-align" style="margin-bottom: 20px;">
                    <img src="{% static 'home/style/images/banner/btm160x600.gif' %}">
                </div>

                <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1" style="margin-top: 20px;">
                    <div class="card blue" style="cursor: pointer;">
                        <div class="card-content white-text">
                            <p class="">
                                COPY THIS LINK and make sure it's YOUR OWN USERNAME in the URL: <br>
                                &lt;a href=&#8221;<a class="white-text" href="https://www.bethemillionaire.com/?userid={{ request.user.username }}" target="_blank" class="promote" title="https://www.bethemillionaire.com/?userid={{ request.user.username }}">https://www.bethemillionaire.com/?userid={{ request.user.username }}</a>&#8221; target=&#8221;_blank&#8221;&gt;<br />
                                &lt;img src=&#8221;http://b.aplus.io/17/186/v5hut26q.gif&#8221; width=&#8221;160&#8243; height=&#8221;600&#8243; border=&#8221;0&#8243;&gt;<br />
                                &lt;/a&gt;
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col s12 m12 l12" style="margin-bottom: 20px;">
                    <h5 class="center-align">
                        Banner Size: (120x600)
                    </h5>
                </div>

                <div class="col s12 m12 l12 center-align" style="margin-bottom: 20px;">
                    <img src="{% static 'home/style/images/banner/btm120x600.gif' %}">
                </div>

                <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1" style="margin-top: 20px;">
                    <div class="card blue" style="cursor: pointer;">
                        <div class="card-content white-text">
                            <p class="">
                                COPY THIS LINK and make sure it's YOUR OWN USERNAME in the URL: <br>
                                &lt;a href=&#8221;<a class="white-text" href="https://www.bethemillionaire.com/?userid={{ request.user.username }}" target="_blank" class="promote" title="https://www.bethemillionaire.com/?userid={{ request.user.username }}">https://www.bethemillionaire.com/?userid={{ request.user.username }}</a>&#8221; target=&#8221;_blank&#8221;&gt;<br />
                                &lt;img src=&#8221;http://b.aplus.io/17/186/2pkklz0a.gif&#8221; width=&#8221;120&#8243; height=&#8221;600&#8243; border=&#8221;0&#8243;&gt;<br />
                                &lt;/a&gt;
                            </p>
                        </div>
                    </div>
                </div>


            </div>
            <!--end main-content -->

            <div class="col s12 m12 l3 left left-content" style="">
                <div class="col s12 m12 l12">
                    <div class="card white black-text">
                        <div class="card-content black-text left-content-introduction">
                            <div class="card-title valign-wrapper" style="background-color: blue; color: white">Quick Start Video</div>

                            <div>
                                <a href="#">
                                    <p class="valign-wrapper">START HERE - 5 Steps To Set Up Bitcoins Wealth Club System!</p>
                                </a>
                            </div>

                            <div>
                                <a href="#">
                                    <p class="valign-wrapper">Video Course: Secrets To Growing Your Wealth In Bitcoins</p>
                                </a>
                            </div>

                            <div>
                                <a href="#">
                                    <p class="valign-wrapper">UPGRADE YOUR MEMBERSHIP</p>
                                </a>
                            </div>

                            <div>
                                <a href="#">
                                    <p class="valign-wrapper">BWC Facebook Group</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col s12 m12 l12">
                    <div class="collection">
                        <a href="#!" class="collection-item black-text"><span class="badge red-text"><b>100300</b></span>Current Members</a>
                    </div>
                </div>


                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="card white">
                            <div class="card-content black-text">
                                <span class="card-title">Your BWC Sponsor</span>

                                <div class="row">
                                    <div class="col s12 m12 l12" style=" width: 90%">
                                        {% for user_pro in user_profile %}
                                            {% if user_pro.sponsor.profile_picture %}
                                                <img src="{{ user_pro.sponsor.profile_picture.url }}" width="100%" style="">
                                            {% else %}
                                                <img src="{% static 'account/style/images/no-img.jpg' %}"  width="100%" style="">
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                    <div class="col s12 m6 offset-m3 l6 offset-l3">
                                        <h4 id="login_user_sponsor_left"></h4>
                                    </div>

                                    <div class="col s12 m12 l12">
                                        <p>Email: <span id="login_user_sponsor_email"></span></p>
                                    </div>

                                    <div class="col s12 m12 l12">
                                        <p>Phone: <span id="login_user_sponsor_phone"></span></p>
                                    </div>

                                    <div class="col s12 m12 l12">
                                        <p>Skype: <span id="login_user_sponsor_skype"></span></p>
                                    </div>

                                    <a href="#">
                                        <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                            <p style="width: 100%" class="center-align">Message Me On Facebook</p>
                                        </div>
                                    </a>

                                    <a href="#">
                                        <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                            <p style="width: 100%" class="center-align">Training By Your Sponsor</p>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <!--end left-content -->
        </div>
    </div>
{% endblock %}
