{% extends 'base.html' %}

{% block title %}Bitcoin Debit Cards | BeTheMillionaire{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col s12 m12 l12" style="">
            <div class="col s12 m12 l9 right main-content" style="">
                <div class="col s12 m10 offset-m1 l10 offset-l1" style="margin-top: 20px;">
                    <h4 class="center-align">
                        Here You Can Get Yourself A Bitcoins VISA Debit Card So That You Can Buy Anything Online And Withdraw In Any ATM Machine In The World In Local Currency
                    </h4>
                </div>

                <div class="col s12 m12 l10 offset-l1" style="margin-top: 20px; height: 400px;">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/FGFk44Dxdpw" frameborder="0" gesture="media" allow="encrypted-media" autoplay="true" allowfullscreen></iframe>
                </div>

                <div class="col s12 m10 offset-m1 l10 offset-l1" style="margin-top: 50px; margin-bottom: 30px;">
                    <p>With Bitcoin Debit Cards you can BUY ANYTHING you want ONLINE & Offline as well as internationally, making it simple to use Bitcoins at businesses all around the world.</p><br>
                    <p>Go shopping with Bitcoins, pay your Bills, go on a vacation with Bitcoins and travel around the world.</p><br>
                    <p>You can turn your Bitcoins into CASH in local currency no matter where you are located in the world using an ATM machine.</p><br>
                    <p>You can cash out your hard earned Bitcoins.</p><br>
                    <p>You can use the profits you are generating from BeTheMillionaire Wealth Building Vehicles and cash it out to do whatever you want with your Bitcoins.</p><br>
                    <p>Note ** <b>Usually you will have to upload Proof of identity and proof of address to increase your limits on your debit card or have it shipped to you.</b></p><br>
                    <p>Note: Bitcoin is both a currency and an asset, Bitcoin is a DIGITAL GOLD.</p><br>
                    <p>Because Bitcoin value is generally going up if we look at longer periods of time, I don’t really recommend to spend all the Bitcoins you earn.</p><br>
                    <p>Don’t kill the "GOLDEN GOOSE" that lays you golden eggs.</p><br>
                    <p>When you save Bitcoins and invest Bitcoins and let them grow using the strategies inside BeTheMillionaire, you are going to super accelerate your wealth, because you will have MORE Bitcoins & each Bitcoin will be worth more.</p>
                </div>

                <div class="col s12 m10 offset-m1 l10 offset-l1" style="margin-top: 40px; margin-bottom: 30px;">
                    <h5 class="center-align">
                        My Top Bitcoin Debit Card Recommendations
                    </h5>
                </div>

                <div class="col s12 m6 l6" style="margin-top: 40px;">
                    <h5 class="center-align">
                        Ships Worldwide (Not USA)
                    </h5>
                </div>

                <div class="col s12 m6 l6" style="margin-top: 40px;">
                    <h5 class="center-align">
                        Ships To USA As Well
                    </h5>
                </div>

                <div class="col s12 m6 l6" style="margin-top: 20px;">
                    <a target="_blank" href="{{ cryptocoin_account.cryptopay_card_username }}">
                        <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                            <p style="width: 100%; font-size: 20px;" class="center-align">Get Cryptopay Bitcoin Visa Card</p>
                        </div>
                    </a>
                </div>

                <div class="col s12 m6 l6" style="margin-top: 20px;">
                    <a target="_blank" href="{{ spectrocoin_account.spectrocoin_card_username }}">
                        <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                            <p style="width: 100%; font-size: 20px;" class="center-align">Get Spectropay Visa Card</p>
                        </div>
                    </a>
                </div>

                <div class="col s12 m6 l6" style="margin-top: 20px;">
                    <a target="_blank" href="https://www.bitwala.com/">
                        <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                            <p style="width: 100%; font-size: 20px;" class="center-align">Get Bitwala Bitcoin Debit Card</p>
                        </div>
                    </a>
                </div>

                <div class="col s12 m6 l6" style="margin-top: 20px;">
                    <a target="_blank" href="https://bitpay.com/card/get-started">
                        <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                            <p style="width: 100%; font-size: 20px;" class="center-align">Get BitPay Bitcoin Visa Card</p>
                        </div>
                    </a>
                </div>

                <div class="col s12 m6 l6" style="margin-top: 20px;">
                    <a target="_blank" href="https://xapo.com/card/">
                        <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                            <p style="width: 100%; font-size: 20px;" class="center-align">Get Xapo Bitcoin Visa Card</p>
                        </div>
                    </a>
                </div>

                <div class="col s12 m6 l6" style="margin-top: 20px;">
                    <a target="_blank" href="https://www.shiftpayments.com/card">
                        <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                            <p style="width: 100%; font-size: 20px;" class="center-align">Get Shift Bitcoin Visa Card</p>
                        </div>
                    </a>
                </div>

                <div class="col s12 m12 l12" style="margin-top: 20px;">
                    <a target="_blank" href="https://advcash.com/">
                        <div class="col s12 m6 l6 valign-wrapper message_me_fb">
                            <p style="width: 100%; font-size: 20px;" class="center-align">Get ADVCash Bitcoin Visa Card</p>
                        </div>
                    </a>
                </div>

                <div class="col s12 m12 l12" style="margin-top: 20px; margin-bottom: 50px;">
                    <a target="_blank" href="https://uquid.com/account/register/">
                        <div class="col s12 m6 l6 valign-wrapper message_me_fb">
                            <p style="width: 100%; font-size: 20px;" class="center-align">Get Uquid Bitcoin Visa Card</p>
                        </div>
                    </a>
                </div>


            </div>
            <!--end main-content -->

            <div class="col s12 m12 l3 left left-content" style="border-right: 1px solid #333; margin-top: 20px;">
                <div class="col s12 m12 l12">

                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'home:what-is-bitcoin' %}">What is Bitcoin</a>
                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'home:buy-bitcoins-here' %}">Buy Bitcoin Here</a>
                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'home:bitcoin-wallets' %}">Bitcoin Wallets</a>
                    <a class="col s12 m12 l12 navy-text" style="padding: 10px;" href="{% url 'home:bitcoin-debit-cards' %}">Bitcoin Debit Card</a>

                </div>
            </div>
            <!--end left-content -->
        </div>
    </div>
{% endblock %}

{% block script %}

    <script>
        $(document).ready(function(){
            $('.modal').modal();
        });

        $(document).ready(function(){
            $('ul.tabs').tabs();
        });
    </script>

{% endblock %}
