{% extends 'base1.html' %}

{% block title %}BeTheMillionaire | Bitcoin Wallet{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">

    <style>
        .left_main_menu a{
            color: orange;
        }

        .left_main_menu a:hover{
            color: white;
            text-decoration: underline;
        }

        #particles-js{
            background-image: url('/static/account/style/images/reg/back-1.jpeg');
            background-repeat: no-repeat;
            background-position: center;
            height: 250vh;
            width: 100%;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="row" id="particles-js" style="">
        <div class="col s12 l8 offset-l2" style="position: absolute;">
            <div class="col m4 l3 blue" style="">
                <div class="col s12 m12 l12 #1a237e indigo orange-text darken-4 center-align" style="padding: 10px;">
                    <h5>Bitcoin</h5>
                </div>

                <div class="col s12 m12 l12 white center-align" style="min-height: 200px;">
                    {% if request.user.profile_picture %}
                        <img class="col m10 offset-m1 l10 offset-l1" src="{{ request.user.profile_picture.url}}" height="100%" width="100%" style="margin-top: 20px;" alt="">
                    {% else %}
                        <img class="col m10 offset-m1 l10 offset-l1" src="{% static 'account/style/images/no-img.jpg' %}" height="100%" width="100%" style="margin-top: 20px;" alt="">
                    {% endif %}
                    <p style="margin-bottom: 10px;">@{{ request.user.username | title }}</p>
                </div>

                <div class="col s12 m12 l12 #1a237e indigo orange-text darken-4 left_main_menu" style="padding: 10px; margin-bottom: 20px;">
                    <a class="left col s12 m12 l12" href="{% url 'home:what-is-bitcoin' %}" style="padding: 10px;">What Is Bitcoin
                        <span class="right" style=""> > </span>
                    </a>

                    <a class="left col s12 m12 l12" href="{% url 'home:buy-bitcoins-here' %}" style="padding: 10px;">Buy Bitcoin Here
                        <span class="right" style=""> > </span>
                    </a>

                    <a class="left col s12 m12 l12 white-text" href="{% url 'home:bitcoin-wallets' %}" style="padding: 10px;">Bitcoin Wallets
                        <span class="right" style=""> > </span>
                    </a>

                    <a class="left col s12 m12 l12" href="{% url 'home:bitcoin-debit-cards' %}" style="padding: 10px;">Bitcoin Debit Card
                        <span class="right" style=""> > </span>
                    </a>
                </div>
            </div>

            <div class="col m8 l9" style="padding: 0px; margin-top: 0px; opacity: .9;">
                <div class="col s12 l12 white center-align" style="padding: 20px;">

                    <h4 class="left-align orange-text">The Best Bitcoin Wallets To Use To Store Your Bitcoins Safely</h4>







                    <div class="col s12 m12 l12" style="margin-top: 20px; height: 400px; padding: 0px;">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/w8ezovecv_k" frameborder="0" gesture="media" allow="encrypted-media" autoplay="true" allowfullscreen></iframe>
                    </div>

                    <div class="col s12 m12 l12" style="margin-top: 10px; padding: 0px">
                        <div class="col s12 m12 l12" style="padding: 0px;">
                            <ul class="tabs">
                                <li class="tab col s3"><a class="active black-text" href="#mobile_wallet" style="font-size: 12px;">Mobile Wallets</a></li>
                                <li class="tab col s3"><a class="black-text" href="#online_wallet" style="font-size: 12px;">Online Wallets</a></li>
                                <li class="tab col s3"><a class="black-text" href="#desktop_wallet" style="font-size: 12px;">Desktop Wallets</a></li>
                                <li class="tab col s3"><a class="black-text" href="#hardware_wallet" style="font-size: 12px;">Hardware Wallets</a></li>
                            </ul>
                        </div>

                        <!--tab mobile wallets-->
                        <div class="col s12 m12 l12" id="mobile_wallet" style="padding: 30px;">
                            <p>
                                Mobile wallets are run on an app on your mobile phone and are useful because they can be used everywhere including retail stores. You can download Android version on Google Play Store or for Iphone iOs App Store. Here are my top recommended Mobile wallets:
                            </p>

                            <div class="col s12 m12 l12" style="margin-top: 20px; padding: 0px;">
                                <div class="col l4 center-align">
                                    <a target="_blank" href="https://wallet.mycelium.com/index.html" class="waves-effect waves-light btn">#1-Mycelium Wallet</a>
                                </div>

                                <div class="col l4 center-align">
                                    <a target="_blank" href="https://bitpay.com/wallet" class="waves-effect waves-light btn">#2-Bitpay Wallet</a>
                                </div>

                                <div class="col l4 center-align">
                                    <a target="_blank" href="https://copay.io/" class="waves-effect waves-light btn">#3-Copay Wallet</a>
                                </div>
                            </div>
                        </div>
                        <!--end tab mobile wallets-->

                        <!--tab online wallets-->
                        <div class="col s12 m12 l12" id="online_wallet" style="padding: 30px;">
                            <p>
                                Online bitcoin wallets are wallets that are <b>easily accessibly on the Web</b> via any device so long as it can be connected to the Internet.
                                While they are more convenient, they store your private keys online and because of that it’s easier to hack your private keys and access your funds.
                                However it is <b>easier and faster to make transactions via online wallets</b> due to its accessibility.
                                It's recommended not to store large amount of Bitcoins in online wallets and online exchanges. Here are my top recommended online wallets:
                            </p>

                            <div class="col s12 m12 l12" style="margin-top: 20px;">
                                <div class="col l4 center-align">
                                    <a target="_blank" href="http://blockchain.info/wallet/" class="waves-effect waves-light btn">#1 - Blockchain Wallet</a>
                                </div>
                            </div>

                            <div class="col s12 m12 l12" style="margin-top: 20px;">
                                <a target="_blank" href="{{ coin_base_account.coinbase_username }}">
                                    <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                        <p style="width: 100%; font-size: 20px;" class="center-align">Create Your Coinbase Wallet</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--end tab online wallets-->

                        <!--tab desktop wallets-->
                        <div class="col s12 m12 l12" id="desktop_wallet" style="padding: 30px;">
                            <p>
                                Wallets are downloaded and installed on a PC, Mac, Linux or laptop, and they are only accessible from a single computer in which they are downloaded.
                                You must <b>download the software to your computer and perform bitcoin transactions from desktops</b> and not on your phone, so it may not be practical for some people.
                                Here is my top recommended Desktop Wallet:
                            </p>

                            <div class="col s12 m12 l12" style="margin-top: 20px;">
                                <div class="col l4 center-align">
                                    <a target="_blank" href="https://www.exodus.io/" class="waves-effect waves-light btn">#1 - Exodus Wallet</a>
                                </div>
                            </div>
                        </div>
                        <!--end tab desktop wallets-->

                        <!--tab hardware wallets-->
                        <div class="col s12 m12 l12" id="hardware_wallet" style="padding: 30px;">
                            <p>
                                Hardware wallets are basically an electronic invention made to store your private keys offline away from the vulnerable online environment so that they can’t be hacked.
                                This is the most secure and safest way to store your bitcoins because they are stored in an offline environment and is recommended for storing large amounts of Bitcoins.
                                The wallets are on a physical device, they store the user’s private keys on a hardware device and connect to PC with USB.
                                If you don’t want to risk any crypto-currency you keep it on a cold storage device!
                                It’s the method of choice for many bitcoin holders to <b>keep significant quantities of bitcoins</b>.
                                Hardware bitcoin wallets are <b>user-friendly and portable</b>.
                                In case your device is destroyed, as long as you have a backup code, you can retrieve your keys and bitcoins.  My top recommended hardware wallets:
                            </p>

                            <div class="col s12 m12 l12" style="margin-top: 20px;">
                                <a target="_blank" href="https://shop.trezor.io/">
                                    <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                        <p style="width: 100%; font-size: 20px;" class="center-align">Click Here To Order Trezor - Best Hardware Wallet</p>
                                    </div>
                                </a>
                            </div>


                            <div class="col s12 m12 l12" style="margin-top: 20px;">
                                <a target="_blank" href="{{ ladger_nano_s_account.ledger_nano_s_username }}">
                                    <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                        <p style="width: 100%; font-size: 20px;" class="center-align">Click Here To Order Ledger Nano S</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--end tab hardware wallets-->


                    </div>
                    <!--end tab wallet-->

                    <div class="col s12 m12 l12" style="margin-top: 20px; padding: 0px;">
                        <h5 class="center-align">
                            Key considerations when you choose bitcoin wallets
                        </h5>
                    </div>

                    <div class="col s12 m12 l10 offset-l1 left-align" style="margin-top: 20px; padding: 0px;">
                        <p><b>Control of private keys –</b> Do you own and control your keys?</p>
                        <p><b>Backup & security features –</b> Do you have seed backup keys and pin codes?</p>
                        <p><b>Developer community –</b> Does it have an Active development community for maintenance?</p>
                        <p><b>Ease of use –</b> Does it have an elegant User Interface for fast and easy use?</p>
                        <p><b>Compatibility –</b> Is it compatible on different operating systems?</p>
                        <p>Do you need a wallet for everyday purchases or just buying and holding digital currency?</p>
                        <p>Do you plan to use several currencies or one single currency?</p>
                        <p>Do you require to access your digital wallet from anywhere or only from home?</p>
                    </div>

                    <div class="col s12 m12 l12" style="margin-top: 20px;">
                        <h5 class="center-align">
                            Always remember the 3 rules:
                        </h5>
                    </div>

                    <div class="col s12 m10 offset-m1 l10 offset-l1 left-align" style="margin-top: 20px; margin-bottom: 30px;">
                        <p>1. <b>Always Backup your wallet, Always! (12 or 24 words phrase and keep it safe!)</b></p>
                        <p>2. <b>Always encrypt your wallet! (Password and pincode)</b></p>
                        <p>3. <b>Diversify your bitcoins across several bitcoin wallets</b></p>
                    </div>


                    <!--end tab buy bitcoins-->










                </div>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>
    particlesJS.load("particles-js", "{% static 'home/js/particles.json' %}",
        function(){
            console.log("particles.js loaded...")
        }
    )
</script>
{% endblock %}


{% block script %}

<script>

     $(document).ready(function() {
        $('select').material_select();
      });

</script>

{% endblock %}
