{% extends 'base.html' %}

{% block title %}Buy Bitcoins Here | BeTheMillionaire{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col s12 m12 l12" style="">
            <div class="col s12 m12 l9 right main-content" style="">
                <div class="col s12 m10 offset-m1 l10 offset-l1" style="margin-top: 20px;">
                    <h4 class="center-align">
                        The Ultimate Guide To Easily, Quickly & Safely Buy Bitcoins Online & Offline
                    </h4>
                </div>

                <div class="col s12 m12 l10 offset-l1" style="margin-top: 20px; height: 400px;">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/-2X4mB4hyLA" frameborder="0" gesture="media" allow="encrypted-media" autoplay="true" allowfullscreen></iframe>
                </div>

                <div class="col s12 m10 offset-m1 l10 offset-l1 center-align" style="margin-top: 50px;">
                    <h5 class="">
                        How to buy bitcoins? It’s as simple as 1,2,3
                    </h5>
                </div>

                <div class="col s12 m10 offset-m1 l10 offset-l1" style="margin-top: 30px; margin-bottom: 30px;">
                    <p><b>1. Find a good Bitcoin Exchange</b></p>
                    <p><b>2. Trade your local currency (like USD or Euro) for Bitcoins</b></p>
                    <p><b>3. Move your Bitcoins into a secure wallet</b></p>
                </div>

                <!--tab buy bitcoins-->

                <div class="col s12 m12 l10 offset-l1" style="margin-top: 20px;">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s4"><a style="font-size: 12px;" class="active black-text" href="#buy_bitcoins_credit_card">Buy Bitcoins With Credit Card</a></li>
                            <li class="tab col s4"><a style="font-size: 12px;" class="black-text" href="#buy_bitcoins_cash">Buy Bitcoins With Cash</a></li>
                            <li class="tab col s4"><a style="font-size: 12px;" class="black-text" href="#buy_bitcoins_bank_wires">Buy Bitcoins With Bank Wires</a></li>
                        </ul>
                    </div>

                    <!--tab buy_bitcoins_credit_card-->
                    <div class="col s12 m12 l12" id="buy_bitcoins_credit_card" style="padding: 30px;">
                        <p>
                            Credit cards is one of the easiest and quickest way to buy bitcoins online<br>
                            You’ll get Bitcoins instantly once initial verification of your identity is complete, it’s very convenient to buy.<br>
                            Typically cheaper fees than any Bitcoin ATM Machine.<br>
                            Cons: Usually you pay a little higher fees buying with a credit card, so if you're patient and not in a rush to buy then use a bank transfer to pay lower fees<br>
                            It’s not a private way to buy so your ID will be required to buy with a credit card
                        </p>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="https://www.coinmama.com/?ref=vdubinin">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">Coinmama (Worldwide)</p>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="https://www.coinbase.com/join/58f5417d2fbc10029629f007">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">Coinbase (US, CA, EU)</p>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="https://cex.io/r/0/up106929641/0/">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">Cex.io (Worldwide)</p>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="https://www.bitpanda.com/?ref=7026669601178423592">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">BitPanda (Europe)</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--end tab buy_bitcoins_credit_card-->

                    <!--tab buy_bitcoins_cash wallets-->
                    <div class="col s12 m12 l12" id="buy_bitcoins_cash" style="padding: 30px;">
                        <p>
                            Cash deposit is often the easiest, fastest and most private ways to buy Bitcoins. You can usually receive your bitcoins within a couple hours.<br>
                            Can be more private since in some cases no personal information is required, it’s very fast cause no verification is required.<br>
                            It’s pretty much instant, there is no need to wait 2-5 days for a bank transfer to process.<br>
                            There are Bitcoin ATMs all around the world that let you purchase bitcoin with cash and you may have one near your home. Cons: Privacy comes at a cost; Cash exchanges often have price 5%-15% above market rate.<br>
                            Cons: Can be hard to buy large amount of Bitcoins<br>
                            Cons: Easier to get scammed so you need to be on alert who you are buying from and follow the exchange's rules.
                        </p>

                        <div class="col s12 m12 l12" style="margin-top: 20px;">
                            <a target="_blank" href="https://coinatmradar.com/">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">Find Local Bitcoin ATM Machine Near You</p>
                                </div>
                            </a>
                        </div>


                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="https://localbitcoins.com/buy-bitcoins-online/?ch=cl8b">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">LocalBitcoins</p>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="https://wallofcoins.com/">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">Wall Of Coins</p>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="https://bitquick.com/">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">BitQuick (USA Only)</p>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="https://paxful.com/">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">Paxful (Worldwide)</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--end tab buy_bitcoins_cash wallets-->

                    <!--tab buy_bitcoins_bank_wires-->
                    <div class="col s12 m12 l12" id="buy_bitcoins_bank_wires" style="padding: 30px;">
                        <p>
                            Bank transfer is one of best ways to buy bitcoins in most countries. It’s a great way to buy large amount of Bitcoins.
                            Using a bank transfer will usually result in the lowest fees, so you can get a great price on your purchase.
                            <br><b>CONS:</b> Usually requires ID verification, so not a good choice for privacy
                            <br><b>CONS:</b> It’s very slow; bank transfers can take UP to 5 days to complete (depending on the exchange and country)
                        </p>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="https://www.coinbase.com/join/58f5417d2fbc10029629f007">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">Coinbase (US, CA, EU)</p>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="https://gdax.com/">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">GDAX</p>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="https://uphold.com/">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">Uphold</p>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="https://gemini.com/">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">Gemini</p>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="https://cex.io/">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">CEX.IO</p>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="https://bitpanda.com/">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">BitPanda (EU)</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--end tab buy_bitcoins_bank_wires-->

                </div>

                <!--end tab buy bitcoins-->
            </div>
            <!--end main-content -->

            <div class="col s12 m12 l3 left left-content" style="">
                <div class="col s12 m12 l12">
                    <div class="card white black-text">
                        <div class="card-content black-text left-content-introduction">
                            <div class="card-title valign-wrapper" style="background-color: blue; color: white">Quick Start Video</div>

                            <div>
                                <a href="#">
                                    <p class="valign-wrapper">START HERE - 5 Steps To Set Up Bitcoins Wealth Club System!</p>
                                </a>
                            </div>

                            <div>
                                <a href="#">
                                    <p class="valign-wrapper">Video Course: Secrets To Growing Your Wealth In Bitcoins</p>
                                </a>
                            </div>

                            <div>
                                <a href="#">
                                    <p class="valign-wrapper">UPGRADE YOUR MEMBERSHIP</p>
                                </a>
                            </div>

                            <div>
                                <a href="#">
                                    <p class="valign-wrapper">BWC Facebook Group</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col s12 m12 l12">
                    <div class="collection">
                        <a href="#!" class="collection-item black-text"><span class="badge red-text"><b>100300</b></span>Current Members</a>
                    </div>
                </div>


                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="card white">
                            <div class="card-content black-text">
                                <span class="card-title">Your BTM Sponsor</span>

                                <div class="row">
                                    <div class="col s12 m12 l12" style=" width: 90%">
                                        {% for user_pro in user_profile %}
                                            {% if user_pro.sponsor.profile_picture %}
                                                <img src="{{ user_pro.sponsor.profile_picture.url }}" width="100%" style="">
                                            {% else %}
                                                <img src="{% static 'account/style/images/no-img.jpg' %}"  width="100%" style="">
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                    <div class="col s12 m6 offset-m3 l6 offset-l3">
                                        <h4 id="login_user_sponsor_left"></h4>
                                    </div>

                                    <div class="col s12 m12 l12">
                                        <p>Email: <span id="login_user_sponsor_email"></span></p>
                                    </div>

                                    <div class="col s12 m12 l12">
                                        <p>Phone: <span id="login_user_sponsor_phone"></span></p>
                                    </div>

                                    <div class="col s12 m12 l12">
                                        <p>Skype: <span id="login_user_sponsor_skype"></span></p>
                                    </div>

                                    <a href="#">
                                        <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                            <p style="width: 100%" class="center-align">Message Me On Facebook</p>
                                        </div>
                                    </a>

                                    <a href="#">
                                        <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                            <p style="width: 100%" class="center-align">Training By Your Sponsor</p>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <!--end left-content -->
        </div>
    </div>
{% endblock %}

{% block script %}

    <script>
        $(document).ready(function(){
            $('.modal').modal();
        });

        $(document).ready(function(){
            $('ul.tabs').tabs();
        });
    </script>

{% endblock %}
