{% extends 'base_v_2.html' %}

{% block title %}BeTheMillionaire | Income Stream{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">

    <style>
        .left_main_menu a{
            color: orange;
        }

        .left_main_menu a:hover{
            color: white;
            text-decoration: underline;
        }

        #particles-js1{
            background-image: url('/static/account/style/images/reg/back-1.jpeg');
            background-repeat: repeat;
            background-position: center;
            min-height: 350vh;
            width: 100%;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="row" id="particles-js1" style="">
        <div class="col s12 l8 offset-l2" style="">
            <div class="col s12 m4 l3 blue hide-on-med-and-down" style="">
                <div class="col s12 m12 l12 #1a237e indigo orange-text darken-4 center-align" style="padding: 10px;">
                    <h5>Passive Profits</h5>
                </div>

                <div class="col s12 m12 l12 white center-align" style="min-height: 200px;">
                    {% if request.user.sponsor.profile_picture %}
                        <img class="col m10 offset-m1 l10 offset-l1" src="{{ request.user.sponsor.profile_picture.url}}" height="100%" width="100%" style="margin-top: 20px;" alt="">
                    {% else %}
                        <img class="col m10 offset-m1 l10 offset-l1" src="{% static 'account/style/images/no-img.jpg' %}" height="100%" width="100%" style="margin-top: 20px;" alt="">
                    {% endif %}
                    <p style="margin-bottom: 10px;">@{{ request.user.sponsor.username | title }}</p>
                </div>

                <div class="col s12 m12 l12 #1a237e indigo orange-text darken-4 left_main_menu" style="padding: 10px; margin-bottom: 20px;">
                    <a class="left col s12 m12 l12" href="{% url 'home:passive-income' %}" style="padding: 10px;">Passive Income
                        <span class="right" style=""> > </span>
                    </a>

                    <a class="left col s12 m12 l12" href="{% url 'home:crypto-trading' %}" style="padding: 10px;">Crypto Trading
                        <span class="right" style=""> > </span>
                    </a>

                    <a class="left col s12 m12 l12 white-text" href="{% url 'home:crypto-mining' %}" style="padding: 10px;">Income Stream
                        <span class="right" style=""> > </span>
                    </a>

                    <a class="left col s12 m12 l12" href="{% url 'home:crypto-resource' %}" style="padding: 10px;">Crypto Resources
                        <span class="right" style=""> > </span>
                    </a>
                </div>
            </div>

            <div class="col s12 m8 l9" style="padding: 0px; margin-top: 0px; opacity: .9;">
                <div class="col s12 l12 white center-align" style="">
                    <div class="col s12 m12 l12" style="padding: 0px;">




                        <!--passive income navigation menu for mobile-->


                        <!-- Modal Trigger -->

                        <a style="margin-top: 10px;" class="left-align waves-effect waves-light btn red modal-trigger hide-on-large-only" href="#passive-menu">Passive Income Locator</a>

                        <!-- Modal Structure -->
                        <div id="passive-menu" class="modal bottom-sheet">
                            <div class="modal-content">
                                <div class="collection left-align">
                                    <a href="{% url 'home:passive-income' %}" class="collection-item">Passive Income</a>
                                    <a href="{% url 'home:crypto-trading' %}" class="collection-item">Crypto Trading</a>
                                    <a href="{% url 'home:crypto-mining' %}" class="collection-item orange-text">Income Stream</a>
                                    <a href="{% url 'home:crypto-resource' %}" class="collection-item">Crypto Resources</a>
                                </div>


                            </div>
                        </div>


                        <!--end passive income navigation menu for mobile-->




                        <!--crypto mining-->
                        <div id="crypto_mining" class="col s12 m12 l12" style="margin-bottom: 20px; padding: 0px;">
                            <h3 class="orange-text hide-on-med-and-down" style="text-decoration: underline;">Bitclub Network</h3>
                            <h5 class="orange-text hide-on-large-only" style="text-decoration: underline;">Bitclub Network</h5>

                            <h5 class="left-align col s12 m12 l12 orange-text" style="padding: 0px;">
                                Discover How You Can Earn Bitcoins Passively From The 9th Largest Mining Pool In The World For The Next 5 Years!
                            </h5>


                            <div class="col s12 m12 l12" style="margin-top: 10px; margin-bottom: 40px; padding: 0px;">
                                <div class="video-container" style="">
                                    <iframe width="100%" height="450px" src="https://www.youtube.com/embed/AajNTycAjKo" frameborder="0" gesture="media" allow="encrypted-media" autoplay="true" allowfullscreen></iframe>
                                </div>
                            </div>


                            <a target="_blank" href="{% url 'account:membership-level-vip' %}" class="col s12 m12 l12 btn waves-effect waves-light orange black-text" style="margin-top: 20px;">
                                bitclub network
                            </a>

                            <p class="col s12 m12 l12 divider" style="margin-top: 50px;"></p>

                            <h3 class="orange-text col s12 m12 l12 hide-on-med-and-down" style="text-decoration: underline; margin-top: 50px; ">HashFlare</h3>
                            <h5 class="orange-text col s12 m12 l12 hide-on-large-only" style="text-decoration: underline; margin-top: 50px; ">HashFlare</h5>

                            <h5 class="left-align col s12 m12 l12 orange-text" style="padding: 0px;">
                                HashFlare is a new range of cloudmining services brought to you by the HashCoins team of cryptomining experts
                            </h5>


                            <div class="col s12 m12 l12" style="margin-top: 10px; margin-bottom: 40px; padding: 0px;">
                                <div class="video-container" style="">
                                    <iframe width="100%" height="450px" src="https://www.youtube.com/embed/AajNTycAjKo" frameborder="0" gesture="media" allow="encrypted-media" autoplay="true" allowfullscreen></iframe>
                                </div>
                            </div>


                            <a target="_blank" href="{% url 'account:membership-level-vip' %}" class="col s12 m12 l12 btn waves-effect waves-light orange black-text" style="margin-top: 20px;">
                                HashFlare
                            </a>

                            <p class="col s12 m12 l12 divider" style="margin-top: 50px;"></p>

                            <h3 class="orange-text col s12 m12 l12 hide-on-med-and-down" style="text-decoration: underline; margin-top: 50px; ">Genses</h3>
                            <h5 class="orange-text col s12 m12 l12 hide-on-large-only" style="text-decoration: underline; margin-top: 50px; ">Genses</h5>

                            <h5 class="left-align col s12 m12 l12 orange-text" style="padding: 0px;">
                                It’s super simple - Your mining rigs are already set up and running.
                                As soon as you’ve set-up your account you can start to earn your first coins from our bitcoin cloud mining service!
                            </h5>


                            <div class="col s12 m12 l12" style="margin-top: 10px; margin-bottom: 40px; padding: 0px;">
                                <div class="video-container" style="">
                                    <iframe width="100%" height="450px" src="https://www.youtube.com/embed/AajNTycAjKo" frameborder="0" gesture="media" allow="encrypted-media" autoplay="true" allowfullscreen></iframe>
                                </div>
                            </div>


                            <a target="_blank" href="{% url 'account:membership-level-vip' %}" class="col s12 m12 l12 btn waves-effect waves-light orange black-text" style="margin-top: 20px;">
                                Genses
                            </a>

                        </div>
                        <!--end crypto mining-->
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block script %}

<script>
  $(document).ready(function(){
    $('.modal').modal();
  });
</script>

{% endblock %}
