{% extends 'base.html' %}

{% block title %}Email Swipes | BeTheMillionaire{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col s12 m12 l12" style="">
            <div class="col s12 m12 l9 right main-content" style="">
                <div class="col s12 m12 l12" style="margin-top: 20px; margin-bottom: 20px;">
                    <h4 class="center-align">
                        Here Are Sample Email Swipes That You Can Send To Your Email List
                    </h4>
                </div>

                <div class="col s12 m6 l6" style="">
                    <div class="center-align">
                         <i class="large material-icons">email</i>
                    </div>

                    <div class="center-align" style="font-size: 30px; margin-bottom: 20px;">
                         Email Swipe #1
                    </div>

                    <div class="">
                        <b>Subject Line: الموضوع الرئيسي:كيف يمكن ان تصبح غنيا مع البيتكوين؟ </b><br>
                        <b>Body:</b><br><br>
                        <p>
                            كم انه مذهل ، لقد وجدت ان البيتكوين نظام رائع حقا،  كما انه يظهر كيفيه كسب جداول متعدده من الدخل المتنوع وان الانضمام بها مجانا 100%!
                        </p><br>

                        <p>
                            ولقد زادت قيمة البتكوين من 1 دولار الي 2.700 دولار لكل 1 بيتكوين وبالفعل العديد حققوا الملايين.
                            ولكنها مجرد بداية،
                            يوما ما سيصل البيتكوين الي اكثر من 50.000دولارا

                        </p><br>

                        <p>
                            الان هو الوقت المناسب لكسب اكبر عدد ممكن من البيتكوين كما تريد،  ولكن كيف تفعل ذلك؟
                        </p><br>

                        <p>
                            >>>انقر هنا هذا النظام يظهر كل شئ خطوه بخطوه
                        </p><br>

                        <p>
                            ===> <a target="_blank" href="https://bethemillionaire.pythonanywhere.com/?userid={{ request.user.username }}">https://www.bethemillionaire.com/?userid={{ request.user.username }}</a>
                        </p><br>

                        <p>
                            اذا كنت من العلامات التجاريه الجديدة ، سوف تتعلم "ما هو البيتكوين"؟
                        </p><br>

                        <p>
                            وكيفيه البدء ف استخدامه الان ، والاهم من ذلك انها سوف تعلمك كيفيه مضاعفه اموالك ل 5 مرات ف السنه كحد ادني وكسب جداول متعدده من الدخل المتنوع.
                        </p><br>

                        <p>
                            هناك العديد من الاعضاء الذين يبدأوا كسب اليوم الاول.
                        </p><br>

                        <p>
                            الجميع يفوز هنا ، وان الانضمام الي مشروع كريبتو مليونير مجانا 100%!
                        </p><br>

                        <p>
                            >>>انقر هنا لإنشاء حساب مجاني 100% الان!
                        </p><br>

                        <p>
                            ===> <a target="_blank" href="https://bethemillionaire.pythonanywhere.com/?userid={{ request.user.username }}">https://www.bethemillionaire.com/?userid={{ request.user.username }}</a>
                        </p><br>

                        <p>
                            نتكلم قريبا،
                        </p>

                        <p style="margin-bottom: 30px;">
                            <b>-الاسم</b>
                        </p>

                    </div>
                </div>

                <div class="col s12 m6 l6" style="">
                    <div class="center-align">
                         <i class="large material-icons">email</i>
                    </div>

                    <div class="center-align" style="font-size: 30px; margin-bottom: 20px;">
                         Email Swipe #2
                    </div>

                    <div class="">
                        <b>Subject Line:  كيفيه كسب 10 اضعاف لجداول الدخل السلبي علي الطيار الالكتروني</b><br>
                        <b>Body:</b><br><br>

                        <p>
                            مذهل حقا شيئا لا يصدق،  انضممت مؤخرا الي نظام مدهش يظهر كيفيه زياده ثروتك ف مشروع كريبتو مليونير  بطرق عديده.
                        </p><br>

                        <p>
                            الا اذا كنت تعيش تحت صخره،  كما تعلم ان هناك انتقال ضخم ف الثروه ، والثوره الماليه التي تحدث الان.
                            الملايين من الدولارات تتدفق الي البيتكوين.
                        </p><br>

                        <p>
                            ما هو البيتكوين؟
                                _انه افضل من المال ،
                                ف الحقيقه اليوم 1 بيتكوين يساوي حوالي 10000 دولار امريكي ، وكما يقول الناس انها سوف تزداد الي 50.000 دولار او حتي الي 100.000 دولار.
                        </p><br>

                        <p>
                            الكثير من الناس يسارعون للحصول على اكبر عدد ممكن من البيتكوين،
                            ف البدايه كنت متشككا ان يكونوا صادقين معى،  كما ان هناك الكثير من الخداعات علي مواقع الانترنت .

                        </p><br>

                        <p>
                            لكن هذه هي الصفقة الحقيقية،  والجانب المجذب لها هي مجانيه الانضمام اليها 100%!
                        </p><br>

                        <p>
                            >>>انقر هنا للتحقق من ذلك
                        </p><br>

                        <p>
                            ===> <a target="_blank" href="https://bethemillionaire.pythonanywhere.com/?userid={{ request.user.username }}">https://www.bethemillionaire.com/?userid={{ request.user.username }}</a>
                        </p><br>

                        <p>
                            اذا كنت من العلامات التجارية الجديدة سوف لن تتعلم فقط ماهو البيتكوين وكيفيه البدء ف استخدامه اليوم ، ولكن الأكثر أهمية انها سوف
                        </p><br>

                        <p>
                            تعلمك كيفية مضاعفة اموالك ل 5 مرات ف السنه كحد ادني وكيفيه كسب جداول متعدده للدخل المتنوع
                        </p><br>

                        <p>
                            لم اري شئ من قبل مثل هذا القبيل ف اي مكان.
                        </p><br>

                        <p>
                            >>>انقر هنا لإنشاء حساب مجانا 100%الان!
                        </p><br>

                        <p>
                            ===> <a target="_blank" href="https://bethemillionaire.pythonanywhere.com/?userid={{ request.user.username }}">https://www.bethemillionaire.com/?userid={{ request.user.username }}</a>
                        </p><br>

                        <p>
                            نتكلم قريبا،
                        </p>

                        <p style="margin-bottom: 30px;">
                            <b>-الاسم </b>
                        </p>
                    </div>
                </div>
            </div>
            <!--end main-content -->

            <div class="col s12 m12 l3 left left-content" style="">
                <div class="col s12 m12 l12">
                    <div class="card white black-text">
                        <div class="card-content black-text left-content-introduction">
                            <div class="card-title valign-wrapper" style="background-color: blue; color: white">Quick Start Video</div>

                            <div>
                                <a href="#">
                                    <p class="valign-wrapper">START HERE - 5 Steps To Set Up BeTheMillionaire System!</p>
                                </a>
                            </div>

                            <div>
                                <a href="#">
                                    <p class="valign-wrapper">Video Course: Secrets To Growing Your Wealth In Bitcoins</p>
                                </a>
                            </div>

                            <div>
                                <a href="#">
                                    <p class="valign-wrapper">UPGRADE YOUR MEMBERSHIP</p>
                                </a>
                            </div>

                            <div>
                                <a href="#">
                                    <p class="valign-wrapper">BTM Facebook Group</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col s12 m12 l12">
                    <div class="collection">
                        <a href="#!" class="collection-item black-text"><span class="badge red-text"><b>100300</b></span>Current Members</a>
                    </div>
                </div>


                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="card white">
                            <div class="card-content black-text">
                                <span class="card-title">Your BTM Sponsor</span>

                                <div class="row">
                                    <div class="col s12 m12 l12" style="width: 90%">
                                        {% for user_pro in user_profile %}
                                            {% if user_pro.sponsor.profile_picture %}
                                                <img src="{{ user_pro.sponsor.profile_picture.url }}" width="100%" style="">
                                            {% else %}
                                                <img src="{% static 'account/style/images/no-img.jpg' %}"  width="100%" style="">
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                    <div class="col s12 m6 offset-m3 l6 offset-l3">
                                        <h4 id="login_user_sponsor_left"></h4>
                                    </div>

                                    <div class="col s12 m12 l12">
                                        <p>Email: <span id="login_user_sponsor_email"></span></p>
                                    </div>

                                    <div class="col s12 m12 l12">
                                        <p>Phone: <span id="login_user_sponsor_phone"></span></p>
                                    </div>

                                    <div class="col s12 m12 l12">
                                        <p>Skype: <span id="login_user_sponsor_skype"></span></p>
                                    </div>

                                    <a href="#">
                                        <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                            <p style="width: 100%" class="center-align">Message Me On Facebook</p>
                                        </div>
                                    </a>

                                    <a href="#">
                                        <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                            <p style="width: 100%" class="center-align">Training By Your Sponsor</p>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <!--end left-content -->
        </div>
    </div>
{% endblock %}
