{% extends 'base.html' %}

{% block title %}Email Swipes | BeTheMillionaire{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col s12 m12 l12" style="">
            <div class="col s12 m12 l9 right main-content" style="">
                <div class="col s12 m12 l12" style="margin-top: 20px; margin-bottom: 20px;">
                    <h4 class="center-align">
                        Here Are Sample Email Swipes That You Can Send To Your Email List
                    </h4>
                </div>

                <div class="col s12 m6 l6" style="">
                    <div class="center-align">
                         <i class="large material-icons">email</i>
                    </div>

                    <div class="center-align" style="font-size: 30px; margin-bottom: 20px;">
                         Email Swipe #1
                    </div>

                    <div class="" style="font-size: 18px;">
                        الموضوع الرئيسي:كيف يمكن ان تصبح غنيا مع البيتكوين؟ <br><br>

                        الموضوع:<br><br>

                        كم انه مذهل ، لقد وجدت ان البيتكوين نظام رائع حقا،  كما انه يظهر كيفيه كسب مصادر متعدده من الدخل المتنوع وان الانضمام بها 100% مجاناً!<br><br>

                         ولقد زادت قيمة البتكوين من 1 دولار الي 19.700 دولار لكل 1 بيتكوين وبالفعل العديد حققوا الملايين.
                        <br><br>
                        ولكنها مجرد بداية،
                        <br>
                        يوما ما سيصل البيتكوين الي اكثر من 50.000دولارا
                        <br><br>
                        الان هو الوقت المناسب لكسب اكبر عدد ممكن من البيتكوين كما تريد،  ولكن كيف تفعل ذلك؟
                        <br><br>
                        >>>انقر هنا هذا النظام يظهر كل شئ خطوه بخطوه <br>
                        ===> https://www.bethemillionaire.com/?userid={{ request.user.username }}
                        <br><br>



                        اذا كنت من العلامات التجاريه الجديدة ، سوف تتعلم "ما هو البيتكوين"؟<br>
                        وكيفيه البدء ف استخدامه الان ، والاهم من ذلك انها سوف تعلمك كيفيه مضاعفه اموالك ل 5 مرات ف السنه كحد ادني وكسب مصادر متعدده من الدخل المتنوع. <br>

                        هناك العديد من الاعضاء الذين يبدأوا كسب اليوم الاول.<br><br>

                        الجميع يفوز هنا ، وان الانضمام الي مشروع كريبتو مليونير 100% مجانا!
                        <br><br>
                        >>>انقر هنا لإنشاء حساب مجاني 100% الان!
                        <br><br>
                        ==> https://www.bethemillionaire.com/?userid={{ request.user.username }}
                        <br><br>
                        نتكلم قريبا،
                        <br>
                        -الاسم<br>

                    </div>
                </div>

                <div class="col s12 m6 l6" style="">
                    <div class="center-align">
                         <i class="large material-icons">email</i>
                    </div>

                    <div class="center-align" style="font-size: 30px; margin-bottom: 20px;">
                         Email Swipe #2
                    </div>

                    <div class="" style="font-size: 18px;">
                        الموضوع الاساسي : كيفيه كسب 10 اضعاف لمصادر الدخل المتعدد بالكامل اوتوماتيك ..<br><br>

                        الموضوع:<br><br>



                        مذهل حقا شيئا لا يصدق،  انضممت مؤخرا الي نظام مدهش يظهر كيفيه زياده ثروتك ف مشروع كريبتو مليونير  بطرق عديده.<br><br>


                        الا اذا كنت تعيش تحت صخره،  كما تعلم ان هناك انتقال ضخم ف الثروه ، والثوره الماليه التي تحدث الان.
                        الملايين من الدولارات تتدفق الي البيتكوين.<br><br>


                        ما هو البيتكوين؟  <br>
                        _انه افضل من المال ، <br><br>
                        ف الحقيقه اليوم 1 بيتكوين يساوي حوالي 10000 دولار امريكي ، وكما يقول الناس انها سوف تزداد الي 50.000 دولار او حتي الي 100.000 دولار.
                        <br><br>


                        الكثير من الناس يسارعون للحصول على اكبر عدد ممكن من البيتكوين،  <br><br>
                        ف البدايه كنت متشككا ان يكونوا صادقين معى،  كما ان هناك الكثير من الخداعات علي مواقع الانترنت .
                        <br><br>

                        لكن هذه هي الصفقة الحقيقية،  والجانب المجذب لها هي مجانيه الانضمام اليها 100%ـ!<br><br>

                        >>>انقر هنا للتحقق من ذلك
                        <br><br>
                        ===> https://www.bethemillionaire.com/?userid={{ request.user.username }}
                        <br><br>

                        اذا كنت من العلامات التجارية الجديدة سوف لن تتعلم فقط ماهو البيتكوين وكيفيه البدء ف استخدامه اليوم ، ولكن الأكثر أهمية انها سوف تعلمك كيفية مضاعفة اموالك ل 5 مرات ف السنه كحد ادني وكيفيه كسب مصادر متعدده للدخل المتنوع.
                        <br><br>
                        لم اري شئ من قبل مثل هذا القبيل ف اي مكان.
                        <br><br>

                        >>>انقر هنا لإنشاء حساب مجانا 100% الان!
                        <br><br>
                        ==> https://www.bethemillionaire.com/?userid={{ request.user.username }}
                        <br><br>

                        نتكلم قريبا،
                        <br>
                        -الاسم<br>
                    </div>
                </div>
            </div>
            <!--end main-content -->

            <div class="col s12 m12 l3 left left-content" style="border-right: 1px solid #333; margin-top: 20px;">
                <div class="col s12 m12 l12">

                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'home:manage-team' %}">Manage Team</a>
                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'home:affiliate_link' %}">Affiliate Links And Funnels</a>
                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'home:banners' %}">Banners</a>
                    <a class="col s12 m12 l12 navy-text" style="padding: 10px;" href="{% url 'home:email_swipes' %}">Email Swipes</a>

                </div>
            </div>
            <!--end left-content -->
        </div>
    </div>
{% endblock %}
