{% extends 'base1.html' %}

{% block title %}BeTheMillionaire | FAQ{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">

    <style>
        .left_main_menu a{
            color: orange;
        }

        .left_main_menu a:hover{
            color: white;
            text-decoration: underline;
        }

        #particles-js1{
            background-image: url('/static/account/style/images/reg/back-1.jpeg');
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
            width: 100%;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="row" id="particles-js1" style="">
        <div class="col s12 l8 offset-l2" style="">
            <div class="col m4 l3 blue" style="">
                <div class="col s12 m12 l12 #1a237e indigo orange-text darken-4 center-align" style="padding: 10px;">
                    <h5>BTM Support</h5>
                </div>

                <div class="col s12 m12 l12 white center-align" style="min-height: 200px;">
                    {% if request.user.profile_picture %}
                        <img class="col m10 offset-m1 l10 offset-l1" src="{{ request.user.profile_picture.url}}" height="100%" width="100%" style="margin-top: 20px;" alt="">
                    {% else %}
                        <img class="col m10 offset-m1 l10 offset-l1" src="{% static 'account/style/images/no-img.jpg' %}" height="100%" width="100%" style="margin-top: 20px;" alt="">
                    {% endif %}
                    <p style="margin-bottom: 10px;">@{{ request.user.username | title }}</p>
                </div>

                <div class="col s12 m12 l12 #1a237e indigo orange-text darken-4 left_main_menu" style="padding: 10px; margin-bottom: 20px;">
                    <a class="left col s12 m12 l12 white-text" href="{% url 'home:faq' %}" style="padding: 10px;">FAQ
                        <span class="right" style=""> > </span>
                    </a>

                    <a class="left col s12 m12 l12" href="{% url 'home:recent-update' %}" style="padding: 10px;">Recent Update
                        <span class="right" style=""> > </span>
                    </a>

                    <a class="left col s12 m12 l12" href="{% url 'home:privacy-policy' %}" style="padding: 10px;">Privacy Policy
                        <span class="right" style=""> > </span>
                    </a>

                    <a class="left col s12 m12 l12" target="_blank" href="https://www.facebook.com/groups/336201610190269/" style="padding: 10px;">Facebook Group
                        <span class="right" style=""> > </span>
                    </a>
                </div>
            </div>

            <div class="col m8 l9" style="padding: 0px; margin-top: 0px; opacity: .9;">
                <div class="col s12 l12 white center-align" style="padding: 20px;">

                    <div class="col s12 m12 l12 right-align" style="margin-top: 30px; margin-bottom: 40px;">


                        <h4 style="text-decoration: underline;">مرحبا بكم في نظام الدفع الالكتروني " مشروع كريبتو المليونير" </h4>

                        <br><br>
                        <p>
                            لقد تم انشاء  نظام الدفع الالكتروني من قبل  >مينا رفعت<  للمساعدة في تثقيف الناس / الأشخاص حول عالم
                            <br>
                            العملات الإلكترونية و البيتكوين , و مساعدة اعضاءه في متابعة أو "  التحكم آليا " في تسويقهم و ترويجهم
                            <br>
                            للبرامج التابعه لهم و التمتع بوسائل متعددة للدخل الشهري بطريقة متكررة. الآن نظامي هو نظامك.
                            <br>

                        </p>

                        <br><br>

                        <p>

                          مهمتنا و هدفنا هو مساعدة الناس / الاشخاص  ليصبحوا أصحاب ملايين و تحقيق نمط حياة من التحرر المالي " الحرية المالية ".

                        </p>

                        <br><br>

                        <p>

                            • يساعد الناس/ الأشخاص على خلق فرص متعددة للحصول علي دخل بلا عناء  من خلال الاستفاده من احد الانظمه المجانية المّعده للاستخدام.
                            <br>
                            • يقدم / يزود  جميع اعضاءه بأفضل التحديثات  و احدث المعلومات حول عالم العملات الإلكترونية و البيتكوين بحيث يمكنك الاستفادة الكاملة ! / حيث تتمكن من الاستفاده الكامله !.
                            <br>
                            • يعمل على تبادل / مشاركه افضل المصادر لمساعدة الأشخاص في شراء , تبادل , تجارة البيتكوين و غيرها من العملات الإلكترونية و تحقيق الأرباح الوفيره / الضخمه.
                            <br>
                            • التعاون مع الأعضاء الآخرين و المساعده في تحديد وتجنب الفرص الوهميه و عمليات الاحتيال و بالتالي حمايتك و حماية الاشخاص الذين تحبهم من خسارة المال.
                            <br>
                            • يسمح لك بالاستفادة من النظام و الحصول علي  فرص متعددة للدخل بلا عناء من خلال فرص بيتكوين و ايثيريوم و غيرها من العملات الالكترونية الحقيقيه في المستقبل.
                            <br>
                        هل لديك اي أسئلة؟ هنا الاسئلة الاكثر شيوعا التي نحصل عليها/ التي نتلقاها. إذا لم تتمكن من العثور على إجابتك هنا , تحقق من الراعي الخاص بك او أضف سؤالك علي جروبنا الخاص بالفيس بوك في "مشروع كريبتو المليونير".


                        </p>

                        <br><br>

                        <p>
                            قضى مينا رفعت عشرات الآلاف من الدولارات ومئات الساعات لتصميم هذا النظام لذلك انت لن تتعلم عن طريق التجربة والخطأ. و سوف تري ان هذا النظام يقدم لك قيمه و محتوي مذهل و قد تثبت نظام المبيعات , لذلك يمكنك الحصول علي 100%  من العمولات بكافه وسائل الدخل المتعددة.
                        </p>
                        <br><br>

                        <h4>ما المقصود بالقمع " الغلق" ؟</h4><br>
                        <p>
                            القمع، أو "منع ظهور المبيعات" هو مجرد موقع على شبكة الانترنت، صفحة أو سلسلة من الصفحات التي توفر المعلومات للناس، تثقيفا لهم، ويسمح لهم باتخاذ القرارات بغلق المبيعات بالنسبة لك - تلقائيا.

                        </p>
                        <br><br>

                        <h4>ماذا يكلف الانضمام الي نظام الدفع الالكتروني " مشروع كريبتو المليونير"؟</h4><br>
                        <p>

                            لا توجد تكلفة للانضمام إلى هذا النظام التسويقي، انه مجاني 100% . عند التسجيل سوف تتلقى صفحات مخصصه لك لاستخدامها ,  لتتحول من الاشخاص المستخدمي لنظام الدفع الالكتروني" مشروع كريبتو المليونير"    , والحفاظ على العملاء المحتملين داخل المستجيب التلقائي الخاص بك، يمكنك وضع / اعداد طرق دخل متعددة كما تريد , كما ان لديك الفرص لمتابعة اعمالك من خلال نظام الرسائل الآلي " الرد التلقائي" الذي يتواصل مع متابعيك و يزودهم بالمعلومات و التدريبات الجديده و يدعوهم الي الندوات القادمة و يساعد في تحويل المتابعين لك الي تابعين لك و شركاء عمل معك.
                        </p>
                        <br><br>

                        <h4>أين الرابط التابع لي؟ </h4><br>
                        <p>

                            يمكن العثور على الرابط التابع لك في الصفحة الرئيسية للعضو. روج لهذا الرابط كيفما تري / كما تراه مناسب , يمكنك ان تتعلم داخل مركز التأهيل و موارد التسويق المزيد من التدريب عن كيفية التسويق لهذا النظام.
                            النظام سوف يتواصل تلقائيا مع متابعيك و يدعوهم الي الندوات القادمة و يقدم تقييم لاجراءاتك و يساعدك للقيام بمبيعات / بكسب مبيعات. لا يمكنك ابدا رؤيتي مباشرتا و لكن فقط من خلال النظام و هذا يعزز فرصه الاعضاء في الانضمام له من خلال رابط مباشر, مما يعني أنهم سوف ينضموا دائما لك في الأعمال التي تحتاج فقط أن يكون لديك هويات  المستخدم المحفوظة داخل النظام.

                        </p>

                        <br><br>

                        <h4>كم يمكنني الكسب في هذا البرنامج؟</h4><br>
                        <p>

                            ليس هناك حد لحساب كيف  يمكنك الكسب داخل نظام الدفع الالكتروني " مشروع كريبتو المليونير" . والامر متروك لك و لكيفية  عملك وجهدك لجني ثمار النجاح. كل ما تجنيه البرامج  التابعه لك  من عمولات يذهب اليك بنسبة 100%  . كما ان الأموال التي تكسبها من الإحالات الخاصة بك جميعها  تذهب إليك.
                        </p>
                        <br><br>

                        <h4>هل مينا رفعت حلمى/ راعي الرسمي ؟</h4><br>
                        <p>

                            إذا تم إدخالك إلى النظام من قبل مينا رفعت اذا ف هو كفيلك داخل النظام ولكن ليس بالضرورة في أي من البرامج التابعة التي يقدمها، إلا إذا انضممت لهم من داخل النظام.
                            لا يهم أي من الطريقين. تم تصميم هذا النظام حتى تتمكن من عمل نظام خاص بك والنجاح بغض النظر عن من هو الكفيل الخاص بك. يظهر اسم المستخدم واسم راعيك في الجزء العلوي، أعلى قائمة التنقل مباشرة في جميع الصفحات.
                        </p>
                        <br><br>

                        <h4>كيف يمكنني الحصول على صورتي لتظهر كخلفيه ؟</h4><br>
                        <p>

                            يرجى النقر على الزر "تعديل الملف الشخصي" وإكمال المعلومات المطلوبة ضمن تفاصيل الحساب وتحميل صورة لنفسك بالنقر على الرابط تحميل الصورة الرمزية. ملاحظة - سوف تظهر علي سطح المكتب  للأشخاص المتابعين لك.بينما  صورة الكفيل الخاص بك  سوف تظهر على الشاشة الرئيسية.

                        </p>
                        <br><br>

                        <h4>ماذا يحدث إذا لم أكن جزءا من أحد البرامج التابعة  و أشار إلى عضو من مشروع كريبتو المليونير لينضم اليه؟</h4><br>
                        <p>


                            إذا اردت ان يستخدم الاشخاص الرابط الخاص بك و قام احدهم بالانضمام إلى النظام ثم سجل و مول
                         احد برامج النظام التي لم تكن عضو فيها , سيتم تمرير العمولات  إلى الكفيل الخاص بك! و لن تتلقى عمولات لأي برنامج لا تنتمي إليه. لذلك فمن مصلحتك القصوى ان تنضم الي اكبر عدد من طرق الدخل التابعة للنظام و تصبح عضو في "كل" برامج نظام الدفع الالكتروني " مشروع كريبتو المليونير".  حتى إذا كنت تستثمر الحد الأدنى من المبلغ  , ف هذا سوف يخدمك في بناء فريق متكامل في شتى طرق الدخل .

                        </p>
                        <br><br>

                        <h4>ما هو خيار " الكل " في نظام الدفع الالكتروني " مشروع كريبتو المليونير" ؟</h4><br>
                        <p>

                            خيار " الكل " في هذا النظام هم الأشخاص المنضمين الي كل طرق الدخل التابعة التي يقدمها نظام الدفع الالكتروني " مشروع كريبتو المليونير"  و بالتالي فهم يقولوا / يزيدوا من امكانية دخلهم . انهم يحاولون تحقيق اكبر قدر من المال بحيث لا توجد احتمالية فقدان اي عمولات بسبب عدم تأهيلهم / وجودهم في هذه البرامج.
                        </p>
                        <br><br>

                        <h4>هل ستبقى البرامج كما هي إلى الأبد؟</h4><br>
                        <p>

                            ليس لدينا أي سيطرة على البرامج الفردية نفسها. ومع تقدم الأمور و مرور الوقت، قد تحدث تغييرات في البرامج وتكون ضرورية، وقد تأتي برامج جديدة حتى تحل محل البرامج الموجودة حاليا في النظام. نحن نحتفظ بالحق في جعل ما نعتبره تغييرات ضرورية على النظام لفائدة جميع الأعضاء، وزيادة التحويل والدخل للأعضاء، والحفاظ على هذا النظام يعمل وكذلك ممكن لأطول فترة ممكنة للحصول على أكبر قدر من النتائج بقدر الإمكان. و لكنك سوف تحتفظ بمصادرك  الأكثر قيمة، بما في  ذلك - القائمة الخاصة بك. ستكون لديك قائمة بالمشتركين والأشخاص المشاركين معك في الماضي و هذه أفضل طريقة لضمان مواصلة المشاركة معهم والنجاح معهم في المستقبل.
                            ليس لدي خبرة في التسويق عبر الإنترنت. هل يمكنني فعل ذلك حقا؟  بالطبع!  فقد تم تصميم هذا النظام للعمل للأشخاص الذين لديهم علامة تجارية جديدة لتسويق الإنترنت، والناس الذين ليس لديهم خبرة أو أي مهارات حقيقية. معظم البرامج هي مكسب لك من المال سواء كنت من هؤلاء  الاشخاص أم لا.
                            كلما نما نشاطك ,  كلما زاد تعلمك و تطور مهاراتك و  قد ترغب في تعديل جوانب التسويق الخاص بك للاستفادة من المهارات والموارد الجديدة، ولكن تم تصميم النظام للعمل بدون أي خبرة تسويق سابقة.
                        </p>
                        <br><br>

                        <h4>ليس لدي قائمة بالمشتركين، هل يمكنني فعل ذلك حقا؟</h4><br>
                        <p>

                            بالطبع. فقد تم تصميم هذا النظام للعمل مع مصادر الزيارات المتعددة - وليس فقط للأشخاص الذين لديهم قائمة خاصة بالمشتركين أو المتابعين.
                            اذا كان لديك مشتركين , فهيا تقدم و روج لهم عن هذا الموقع ، ولكن إذا كانت العلامة التجارية جديدة وليس لديك قائمة، فمرحبا بك لدينا - سوف تكون قادر على البدء في بناء قائمتك باستخدام هذا النظام! تلك هي الأصول التجارية التي يمكنك إنشاء والحفاظ على العمل معها لسنوات قادمة - كجزء من هذا النظام، أو مع أي مشروع تراه مناسبا.
                            لقد نشرت الروابط التابعة لي علي الفيسبوك ولكن تم حظرهم، فما الذي فعلته خطأ؟
                            يفضل الفيسبوك بيع الاعلانات , لذلك فهم لا يريدون فعل ذلك مجانا . فهم يرون الترويج للبرامج التابعة للنظام ك "إعلانات" وعلى هذا النحو، فإنها غالبا ما تقيد المجالات والروابط التي يمكن استخدامها في نظامهم. في مرحلة ما قد ترغب في الحصول على المجال الخاص بك لاستخدامه  مع هذا النظام أو النظر في وسائل أخرى للتواصل مع الناس في الفيسبوك.  العديد من المسوقين الناجحين يستطيعوا ببساطه الاستفادة من الفيسبوك والتواصل مع الناس هناك حتى يتمكنوا من متابعتهم عن طريق البريد الإلكتروني أو بعض الوسائل الأخرى التي يرونها مناسبة.
                            استخدام خيالك وتطوير طريقتك الخاصة من التواصل حتى تتمكن من الحصول على المعلومات الخاصة بك عبر لجمهورك. حيث توجد  الإرادة , هناك وسيلة!

                        </p>
                        <br><br>

                        <h4>كيف أعرف إذا كان هذا يعمل؟</h4><br>
                        <p>

                            انظر إلى الخلفيه ، وانقر على "تعديل الملف الشخصي" ثم أنظر إلى الأعضاء المشار إليهم. ستشاهد عدد المتابعين لك اللذين قاموا بالتسجيل باستخدام الرابط التابع لك، يمكنك النقر لتوسيع هذه القائمة لعرض الأسماء وعناوين البريد الإلكتروني أو يمكنك تنزيلها كملف " CSV "
                            إذا كنت ترغب في التواصل مع هؤلاء الأشخاص للمضي قدما.
                            وسوف تشكل هذه الشركات التابعة فريقك – ساعدهم وادعمهم على أفضل وجه ممكن، وضمان الحصول على اتصال مع فريق الفيسبوك وتأكد من أنهم يعرفون مواعيد الندوات الأسبوعية و ابقي على اتصال معهم. بمجرد ان يروا هذه الفرصه و كيفيه الاستفاده القصوي من ذلك لانفسهم , سيكون من المحتمل ان ينضوا اليك كتابعيين و يبدأوا في تنميه فرقهم الخاصه.

                        </p>
                        <br><br>

                        <h4>ليس لدي ما يكفي من المال للانضمام إلى البرامج على أعلى المستويات، كيف يؤثر ذلك على ارباحي؟ </h4><br>
                        <p>

                        الحصول على على أعلى مستوى في كل برنامج سوف يسمح لك لكسب المزيد، ويمكن أيضا منعك من "تمرير" اشتراكات جديدة على طول الطريق. بغض النظر عن ذلك، بدء العمل هو أكثر أهمية من البدء على أعلى مستوى كما يمكنك البدء في كسب على الفور في أي برنامج تكون مؤهلا له. كلما تكسب أكثر يمكنك الترقية في البرامج والانتقال إلى مستويات أعلى للتأهل للحصول على المزيد من العمولات.

                        لقد أرسلت للتو 100 نقرة من خلال حملة إعلانية منفردة. كم عدد المبيعات التي أتوقع أن أقوم بها وكم من الوقت سيستغرقونها؟
                        يعتمد عدد المبيعات التي تقوم بها على من يشاهد في نهاية المطاف التسويق الخاص بك، وما إذا كان أو لا يشعر أنها تناسب لهم. تذكر، في التسويق اونلاين ، تحصل على أموال أكثر لمساعدة الناس اكثر.


                        اجعله خاص بفريقك و ساعد اكبر عدد ممكن من الاشخاص لتحصل علي اكبر عدد من العمولات التي سوف تزيد بسرعة كبيرة عند مساعدتك اشخاص اكثر .



                       عدد وحجم المبيعات سوف تتقلب اعتمادا على الذي ينهي الاتصال معك من خلال رابط  التسويق الخاص بك. قد    يكون هناك صعودا وهبوطا في هذا العمل، كما هو الحال في أي عمل.التسويق المناسب , المتابعة المناسبه والاهتمام المستمر هي مفاتيح لتحقيق الاستفادة القصوى من هذه الفرصة المغيرة للحياة.

                        </p>
                        <br><br>

                        <h4>هل هناك أي لافتة الإعلانات يمكنني استخدامها؟</h4><br>
                        <p>

                            لا يتم توفير لافتات كجزء من هذا النظام، ولكن يمكنك استخدام صفحاتك المقصودة أينما كانت مناسبة. إذا كنت بحاجة إلى لافتة، وهناك العديد من الأدوات المجانية التي يمكنك استخدامها على الانترنت والعديد من البرامج التعليمية على يوتيوب تشرح كيف يمكنك أن تعلم بنفسك بسهولة جدا. مثل fiverr.com أيضا يمكن أن توفر لك كيف تصمم لافتات و  بتكلفة منخفضة .

                        </p>
                        <br><br>

                        <h4>ليس لدي ما يكفي من المال لتمويل البرامج. كيف يجب أن أبدأ؟</h4><br>
                        <p>

                            ابدأ من الحد الأدنى بالمبلغ الذي يمكنك في اي برنامج يهمك ومن ثم البدء في تعزيز " مشروع كريبتو المليونير"  باستخدام استراتيجيات الفيسبوك ويوتيوب المجانيه .

                        </p>
                        <br><br>

                        <h4>بخلاف توصيات الزيارات  المجانية والمدفوعة(Traffic)، ماذا يمكنني أن أفعل لزيادة دخلي مع هذا النظام؟</h4><br>
                        <p>

                            يمكنك تسويق النظام الخاص بك في أي مكان تراه مناسب. ينجح الأعضاء في إنشاء مقاطع فيديو يوتوب ذات صلة بالنظام، ونشرها على فيسبوك، والإعلان عن روابطهم على مواقع التواصل الاجتماعي (الفيسبوك، تويتر، لينكدين، إينستجرام وغيرها من المواقع - في أي مكان أن يجذب انتباه الناس.)
                        </p>
                        <br><br>

                        <h4>كيف يمكنني معرفة ما إذا كانت إعلاناتي تعمل؟</h4><br>
                        <p>

                            بعض مصادر الإعلان تقدم تتبع. بعضهم يترك الأمر لك لتتبع عدد النقرات أو الزيارات التي يتلقاها الرابط (عدد الأشخاص الذين يتعرضون لرسالتك.)
                            تأكد من أنك تحصل على أكبر قدر ممكن من الاهتمام إلى أقصى حد ممكن, في كل التدريبات التي تتلقاها في البرامج، ووضعه في العمل والحصول على الرابط الخاص بك. يجب عليك متابعه التسجيلات التي تأتي لك كتابعيين جدد للالتحاق بفريقك. كلما نما فريقك في الحجم والنجاح كلما حصلت علي عمولات اكثر من هذا النظام.
                        </p>
                        <br><br>

                        <h4>لدي وظيفة بدوام كامل - كم من الوقت سوف يستغرق هذا؟</h4><br>
                        <p>

                            ليس كثيرا! النظام آليا. إذا كان يمكنك أن تتفرغ لبضع دقائق في اليوم لتتفقد التدريب و الفيديوهات عند اانضمامك للنظام ، وإعداد النظام الخاص بك والروابط التابعة لها، وسوف ترى أن التسويق المستمر وقيادة حركة المرور إلى الرابط الخاص بك يمكن أن يتم في أقل من بضع دقائق في الأسبوع مع مصادر مدفوعة الأجر، أو يمكن أن تقوم بالتسويق المجاني  على نحو فعال ايضا.

                        </p>
                        <br><br>

                        <h4>أين يمكنني معرفة ما إذا كان لدي أي شركاء(افلييت)  تابعين  جدد قد اشتركوا معى؟</h4><br>
                        <p>

                            انظر إلى مكتبك الخلفي ، وانقر على "تعديل الملف الشخصي" ثم أنظر إلى الأعضاء المشار إليهم. ستشاهد عدد الشركات التابعة (افيلييت) التي سجلت باستخدام الرابط التابع لك، يمكنك النقر لتوسيع هذه القائمة لعرض الأسماء وعناوين البريد الإلكتروني أو يمكنك تنزيله كملف "  CSV " إذا كنت ترغب في التواصل مع هؤلاء الناس من حين لآخر. وهذه الشركات التابعة سوف تشكل فريقك - ساعدهم وادعمهم بقدر الإمكان، وضمان الحصول على اتصال مع جروب " مشروع كريبتو المليونير" علي الفيس بوك، وتأكد من أنهم يعرفون مواعيد الندوات الأسبوعية و ابقي على اتصال معهم. بمجرد ان يروا هذه الفرصه و كيفيه الاستفاده القصوي من ذلك لانفسهم , سيكون من المحتمل ان ينضموا إليك كتابعيين و يبدأوا في تنمية فرقهم الخاصة
                        </p>
                        <br><br>

                        <h4>لقد انضمت إلى  شركات تابعة جديدة، لماذا لا أحصل على رسائل إلكترونية لإعلامي / لاخباري ؟</h4><br>
                        <p>

                            تحقق من فلتر الرسائل غير المرغوب فيها. حيث يجب عليك "تنظيفه / تنقيته " support@bethemillionaire.com  لضمان تسليم البريد الإلكتروني إلى البريد الوارد الخاص بك. (قد يكون ذلك بسيطا كإضافته إلى جهات الاتصال، ولكن العملية ستختلف حسب مزود البريد الإلكتروني و / أو أي برنامج بريد إلكتروني قد تستخدمه.)
                        </p>
                        <br><br>

                        <h4>لدي مجموعة من الشركات التابعة الجديدة التي سجلت لدي ، ولكن لا توجد عمولات منها. ماذا حدث؟</h4><br>
                        <p>

                            النظام يسمح لك تلقائيا بتقديم مجموعة متنوعة من فرص الدخل للأشخاص التابعين لك  . العرض الذي نستخدمه هو موقع تسويق مجاني  - وهذا هو " مشروع كربتو مليونير" , والأمر يعود إلى الشركات التابعة لتقرر الانضمام إلى البرامج في كل خطوة وتمويلها حسب توفرها. كما هو الحال في أي عمل، لا توجد ضمانات، ولكن العديد من الشركات التابعة ، بمجرد أن ترى نجاح أعضاء آخرين في مجموعة الفيسبوك، بعد أن يبدأوا في التواصل مع الكفيل وبعد حضور ندوات أسبوعية سيقرر المضي قدما / الاستمرار ، وتمويل حساباتهم وبدء التسويق. عندما يحدث ذلك، تبدأ  في كسب العمولات.

                        </p>
                        <br><br>

                        <h4>لدي بالفعل الرد الآلي، يمكنني استخدام ذلك بدلا من الرد الآلي  ل " مشروع  كريبتو مليونير" ؟</h4><br>
                        <p>

                            بالطبع ، يجب عليك توصيل النظام الخاص بك بالرد الآلي " Aweber "  أو جيتريسبونس " Getresponse"" لجمع الخيوط ومتابعتها. انقر على مصادر التسويق، وشاهد الفيديو ذي الصلة واتبع الخطوات لتوصل  الرد الآلي الخاص بك. ملاحظة - إذا قمت بتوصيل جهاز الرد الآلي  " الرد التلقائي" الخاص بك واستخدمت الصفحه الخاصه بك(capture page) ، لن يتم إرسال رسائل عبر البريد الإلكتروني من مينا  بالتوقعات. بل يجب عليك أن تتابع كل ذلك بنفسك.


                            أريد بناء صفحات خاصة بي بدلا من استخدام تلك الموجودة في النظام.
                        </p>
                        <br><br>

                        <h4>هل يمكنني أن أفعل ذلك و اظل  أحصل على تسجيل  أعضاء جدد لدي ؟</h4><br>
                        <p>

                            نعم! هناك رابط على الصفحة "تحرير الملف الشخصي" الذي يتخذه الناس لعمل  حسابهم الخاص  ولكن بتجاوز / تجاهل فيديو معلومات ما قبل التسجيل في " مشروع  كربتيو المليونير".
                            استخدم الصفحة الخاصة بك، و جمع المعلومات التي تحتاجها  ثم إعد توجيهها إلى الرابط  المبين في صفحة تحرير الملف الشخصي من المكتب الخلفي. و ذلك يسمح بعمل قائمه خاصه بك  بأي رد آلي / اي نظام ادارة اتصال تريده , و سيظلوا يمرون من خلال موقع " مشروع كربتيو المليونير " لانشاء حسابهم / لعمل حساباتهم.
                        </p>
                        <br><br>

                        <h4>كيف يمكنني تسجيل الدخول إلى مكتبي الخلفي؟</h4><br>
                        <p>

                            الرابط هنا: https://bethemillionaire.com/login
                            أدخل اسم المستخدم وكلمة المرور الخاصة بك ويجب أن تكون سليمة. إذا كنت في حاجة إلي إعادة تعيين أو لا يمكنك تسجيل الدخول، انقر فوق "نسيت كلمة المرور" واتبع الخطوات لاسترداد حسابك. - قد تحتاج إلى التحقق من "البريد غير المهم / بريد المهملات " أو فلتر الرسائل غير المرغوب فيها للرسالة.
                             أنا لا أتلقى أي رسائل بريد إلكتروني من " مشروع كريبتو مليونير"  ماذا  يحدث؟
                            تحقق من البريد غير المهم / بريد المهملات  أو فلاتر الرسائل غير المرغوب فيها. يرجى إضافة support@bitcoinswealthclub.com إلى جهات الاتصال الخاصة بك / القائمة البيضاء للمساعدة في ضمان التسليم إلى صندوق البريد الوارد. (قد يختلف هذا حسب مزود البريد الإلكتروني أو برنامج البريد الإلكتروني الذي تستخدمه.)
                        </p>
                        <br><br>

                        <h4>لقد انضممت  حديثا / حاليا إلى هذا النظام التسويقي وأنا بالفعل في واحدة من البرامج تحت راعي آخر / كفيل اخر ،هل لا يزال يمكنني استخدام هذا؟</h4><br>
                        <p>

                            بالطبع ، فقط نضع في اعتبارنا أن الشركات التابعة الجديدة قد تكون في نفس الوضع. وسوف تكون أيضا قادرة على الانضمام، وهذا يعني أن المبيعات لن تكون  أبدا مضمونة. عندما يأتي الوقت للانضمام إلى البرامج التي هي في النظام، يرجى التأكد من استخدام الروابط في مكتبك الخلفي والعمل مع الكفيل الخاص بك، والشخص الذي قدم هذا النظام لك!
                        </p>
                        <br><br>

                        <h4> هل يمكنني تنزيل رسائل الرد التلقائي واستخدامها في نظامي الخاص؟</h4><br>
                        <p>

                            يقوم مينا رفعت بتحديث هذه الرسائل ويحتفظ لنفسه بالحق في تغيير المحتوى كتحديثات وتغييرات، أو إذا تفوقت الرسائل الجديدة على الرسائل القديمة بعد اختبارها. إذا كنت تستخدم الصفحات المقصودة مع التسجيل المسبق، فسوف يتلقى العملاء المحتملون تسلسل الرسائل الأكثر حداثة تلقائيا. إذا كنت تريد نسخة منها، يرجى الاشتراك فيها عن طريق إدخال معلومات الاتصال الخاصة بك على الصفحة الخاصة بك. يمكنك ثم حفظ الرسائل واستخدامها للترويج الخاص بك نظام كريبتو مليونير. يمكنك أيضا طلب كود محدد / رمز محدد .

                        </p>
                        <br><br>

                        <h4>كيف يتم الدفع لي ؟ كيف يمكنني الحصول على المال؟</h4><br>
                        <p>

                            في كل برنامج كنت تسير من خلال كيفية التعامل بالعمولات التي يتم دفعها من قبل (affiliates) الشركات التابعة الجديده عند تسجيلهم.طالما كنت متوافقا مع الشركات الفردية فطريقة او كيفيه الدفع متروكه لكم و سيتم الدفع لك مباشرتا عن اي مبيعات تقوم بها باستخدام هذا النظام . حيث لا يوجد " وسيط" او " المحفظة الالكترونية"  المرتبطة بمثل هذه النظم , لذلك يجب ان تتلقى الأموال على الفور او علي حسب اتمام عملية البيع.



                            لقد قمت بحفظ الرابط التابع لي في مكتبي الخلفي، ولكن عند النقر عليه، فإنه لا يزال يظهر الرابط التابع للكفيل، وليس لي. ما الخطأ؟
                            لا شيئ. الروابط في المكتب الخلفي الخاص بك سوف تصل دائما روابط الكفيل الخاص بك (أو المشرف إذا الكفيل الخاص بك ليس في هذا البرنامج معين.) من أجل اختبار/ تجربة الرابط  الخاص بك سوف تحتاج إلى تسجيل الخروج من " مشروع كريبتو مليونير" ، و قم بزيارة الرابط الخاص بك وقم بإنشاء حساب. (سوف تحتاج إلى عنوان بريد إلكتروني ثان للقيام بذلك لأن عنوان بريد إلكتروني يستخدم مرة واحدة فقط في قاعدة بيانات الأعضاء لدينا من السجلات.) عند تسجيل الدخول إلى "حساب فرعي" جديد خاص بك، يجب أن ترى الروابط التابعة الخاصة بك التي يتم  تقديمها. فنحن نطلب منك ان تستخدم "اسم تجريبي" في حسابك الفرعي الجديد بحيث  يتمكن المشرف من حذفه اذا لزم الامر.
                        </p>
                        <br><br>

                        <h4>هل احتاج اللي الرد الآلي  الخاص بي؟</h4><br>
                        <p>

                            لا. بالاعتماد علي الصفحه المخصصه التي تستخدمها للتسويق الرابط التابع  الخاص بك سوف يمكن " مشروع كربتيو المليونير" من تتبع خطواتك باستخدام   الرد الآلي  من مينا المنشأ  و المختبر  للمبيعات وللتحويل الأمثل.
                            لديك الحرية الكاملة  في التواصل مع قائمتك باستخدام الرد الآلي الخاص بك أو فقط يدويا عن طريق الوصول إلى عناوين البريد الإلكتروني الخاصة بهم من قائمة "الأعضاء المشار إليهم" في قسم "تحرير الملف الشخصي" من المكتب الخلفي ل " مشروع كريبتو مليونير".

                        </p>
                        <br><br>




                    </div>


                </div>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>

</script>
{% endblock %}


{% block script %}

<script>

     $(document).ready(function() {
        $('select').material_select();
      });

</script>

{% endblock %}
