{% extends 'base1.html' %}

{% block title %}BeTheMillionaire | Home{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <meta property="og:url"           content="{{ request.build_absolute_uri }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Latest Webinar" />
    <meta property="og:description"   content="bethemillionaire" />
    <meta property="og:image"         content="https://www.bethemillionaire.com/static/home/style/images/logo/logo.png" />
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">

{% endblock %}

{% block main %}
    <div class="row" style="margin-top: 30px;">
        <div class="orange" style="padding: 20px;">
            <div class="valign-wrapper" style="">
                <h3 class="col s12 m12 l12 center-align white-text">
                    Click here for your webinar registration<br>
                    <a target="_blank" href="{{ webinar_registration_link.link }}" class="btn black white-text" style="margin-top: 10px;">
                        Webinar registration
                    </a>
                </h3>
            </div>
        </div>

        <div class="col s12 m12 l12" style="padding: 30px;">
            <div class="col s12 m8 offset-m2 l7 black center-align" style="padding: 30px;">
                <iframe width="100%" height="430px" src="https://www.youtube.com/embed/mjhE6uSkOqg" frameborder="0" gesture="media" allow="encrypted-media" autoplay="true" allowfullscreen></iframe>

                <a href="{% url 'home:index' %}" class="btn orange black-text" style="margin-top: 10px;">
                    Show Me The SYSTEM
                </a><br>

                <a href="{% url 'topic:step_1' %}" class="btn orange black-text" style="margin-top: 10px;">
                    Start 5 step fast start
                </a>
            </div>

            <div class="col s12 m8 offset-m2 l5 center-align" style="padding: 20px;">
                <img src="{% static 'home/style/images/logo/logo.png' %}" style="height: 100%; width: 100%;" alt="">

                <h5>
                    Welcome to <span class="black white-text" style="padding: 10px;">BeTheMillionaire</span>
                </h5>

                <br>


                <div class="col s12 m12 l12 center-align" style="margin-top: 30px;">
                    <h5>Share Now on Facebook</h5>
                    <iframe src="https://www.facebook.com/plugins/share_button.php?href={{ request.build_absolute_uri }}&layout=button_count&size=large&mobile_iframe=true&appId=135252217333448&width=100&height=35" width="100" height="35" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>


            </div>
        </div>

        <div class="col s12 m12 l12 center-align" style="padding: 30px; margin-top: 20px;">
            <p class="col s12 m12 l12 divider"></p>

            <h5 style="margin-top: 40px;">Your sponsor is great, Learn from your sponsor</h5>

            <div class="col s12 m8 offset-m2 l8 offset-l2" style="margin-top: 20px;">
                <div class="col s10 offset-s1 m5 l5 center-align" style="">
                    {% if request.user.sponsor.profile_picture %}
                        <img src="{{ request.user.sponsor.profile_picture.url }}" width="100%" style="">
                    {% else %}
                        <img src="{% static 'account/style/images/no-img.jpg' %}"  width="100%" style="">
                    {% endif %}
                </div>

                <div class="col s10 offset-s1 m6 l6 left-align" style="padding: 20px;">
                    <p style="font-size: 16px;">@name: {{ request.user.sponsor.username | title }}</p>
                    <p style="font-size: 16px;">@email: {{ request.user.sponsor.email }}</p>
                    <p style="font-size: 16px;">@phone: {{ request.user.sponsor.phone_number }}</p>
                    <p style="font-size: 16px;">@skype: {{ request.user.sponsor.skype }}</p>
                    <p style="font-size: 16px;">@facebook: <a target="_blank" href="{{ request.user.sponsor.facebook }}">click</a></p>
                    <p style="font-size: 16px; text-decoration: underline;">@sponsor manage team</p>

                    {% for sponsor_team in sponsor_teams %}
                    <a href="{% url 'home:personal-training' owner_id=sponsor_team.owner.id team_id=sponsor_team.id %}" class="btn black orange-text" style="margin-top: 10px;">
                        {{ sponsor_team.name }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col s12 m12 l12 center-align" style="padding: 40px; margin-top: 20px;">
            <p class="col s12 m12 l12 divider"></p>

            <h5 style="margin-top: 40px;">Start from step 1, success is <span class="red white-text" style="padding: 10px;">guaranteed</span></h5>

            <div class="col s12 m8 offset-m2 l8 offset-l2 left-align" style="border: 4px solid #333; margin-top: 30px; padding: 20px;">
                <h5>
                    Success is in your hand, just follow these steps!
                </h5>

                <a href="{% url 'topic:step_1' %}" class="btn orange black-text" style="margin-top: 10px;">
                    Step 1 – The Foundation & Overview
                </a>

                <a href="{% url 'topic:step_2' %}" class="btn orange black-text" style="margin-top: 10px;">
                    Step 2 – Set Up Your Bitcoin Wallet Load It With Bitcoins
                </a>

                <a href="{% url 'topic:step_3' %}" class="btn orange black-text" style="margin-top: 10px;">
                    Step 3 – Set Up Your Multiple Passive Profits Wealth Building Vehicles Inside The System
                </a>

                <a href="{% url 'topic:step_4' %}" class="btn orange black-text" style="margin-top: 10px;">
                    Step 4 - How To Earn Extra $20K A Month, Get Access To 7 Figures Live Mentoring
                </a>

                <a href="{% url 'topic:step_5' %}" class="btn orange black-text" style="margin-top: 10px;">
                    Step 5 – Start Promoting BeTheMillionaire System & Earn Bitcoins In Multiple Ways!
                </a>
            </div>


            <div class="col s12 m12 l12 center-align" style="padding: 40px; margin-top: 20px;">
                <p class="col s12 m12 l12 divider"></p>

                <h5 style="margin-top: 40px; margin-bottom: 50px;">Promotion & Affiliating</h5>

                <div class="col s12 m6 l6" style="padding: 20px;">
                    <h5>Promote BeTheMillionaire in the <span class="blue-text" style="padding: 10px;">Social Media</span>,
                        its help you to get member and referrals point. More referral point chance you to win monthly <span class="red-text">competetion</span>.
                        Join our facebook group.
                    </h5>
                </div>

                <div class="col s12 m6 l6" style="padding: 20px;">
                    <a target="_blank" href="https://www.facebook.com/groups/336201610190269/" class="btn blue white-text" style="margin-top: 10px;">
                        Join BeTheMillionaire Facebook Group
                    </a>

                    <a href="#affiliate_link" class="btn orange black-text modal-trigger" style="margin-top: 10px;">
                        Click To Get Your Default Affiliate Link
                    </a>

                    <div id="affiliate_link" class="modal">
                        <div class="modal-content">
                            <h4 style="margin-bottom: 40px; color: blue;">Default Affiliate Link</h4>

                            <p><b>Here Is Your Capture Page ( Copy Below )</b></p>

                            <div class="chip col s12 m12 l12" style="font-size: 16px; margin-top: 10px; margin-bottom: 50px;">
                                <p>http://www.bethemillionaire.com/account/registration/?userid={{ user.username }}</p>
                            </div>
                        </div>
                    </div>

                    <p style="font-size: 16px; margin-top: 10px;">Promote this link to your friends and family</p>
                    <a href="{% url 'home:affiliate_link' %}" style="font-size: 16px; margin-top: 10px; text-decoration: underline;">My all affiliate link</a>
                </div>
            </div>


            <div class="col s12 m12 l12 center-align" style="padding: 40px; margin-top: 20px;">
                <p class="col s12 m12 l12 divider"></p>

                <h5 style="margin-top: 40px; margin-bottom: 50px;">Upgrade Membership and get Our Extra-ordinary courses</h5>

                <div class="col s12 m10 offset-m1 l8 offset-l2">
                    <img src="{% static 'home/style/images/image/cd_cover1.png' %}" height="100%" width="100%">
                    <img src="{% static 'home/style/images/image/cd_cover2.png' %}" height="100%" width="100%">

                    <a href="{% url 'course:course' %}" class="btn orange black-text pulse" style="margin-top: 10px;">
                        Visit Course
                    </a>
                </div>
            </div>

            <div class="col s12 m12 l12 center-align" style="padding: 40px; margin-top: 20px;">
                <p class="col s12 m12 l12 divider"></p>

                <h5 style="padding: 40px;">WE ARE INCRESING <span class="red white-text" style="padding: 10px;">{{ total_member }}+</span>
                </h5>

                <p class="col s12 m12 l12 divider"></p>
            </div>

        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            $('.modal').modal();
         });
    </script>
{% endblock %}
