{% extends 'base.html' %}

{% block title %}Manage Team{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col s12 m12 l12" style="">
            <div class="col s12 m12 l9 right main-content" style="margin-top: 30px;">
                <div class="col s12 m12 l12 center-align">
                    <h4>Manage team</h4>
                </div>

                <div class="col s12 m12 l10 offset-l1" style="margin-top: 10px;">
                    <div class="card blue">
                        <div class="card-content white-text">
                            <span class="card-title">Your sponsors team where you can join</span>
                            <p>
                                You can join in your sponsors teaching team and know how he start in BeTheMillionaire and
                                 know how he success. If you not seen any team then contact with your sponsor to join you in his team.
                            </p>

                            {% for my_join_team in my_join_teams %}
                                <a href="{% url 'home:personal-training' owner_id=my_join_team.owner.id team_id=my_join_team.id %}" class="btn red white-text" style="margin-top: 10px;">
                                    {{ my_join_team.name }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col s12 m12 l10 offset-l1" style="margin-top: 10px;">
                    <div class="card blue">
                        <div class="card-content white-text">
                            <span class="card-title">Create your own teaching team for your trainee</span>
                            <p>
                                You can create one or several team and you can add your follower to that team
                                and start teaching them.
                            </p>
                        </div>
                    </div>
                </div>

                <form class="col s12 m12 l12 center-align" method="post">
                    <h5 class="col s12 m10 offset-m1 l10 offset-l1 left-align">Create Team</h5>
                    {% csrf_token %}

                    <div class="input-field col s12 m10 offset-m1 l10 offset-l1">
                        <i class="material-icons prefix">create</i>
                        {{ tean_form.name }}
                        <label for="icon_prefix white-text">Team Name</label>
                    </div>

                    {% if tean_form.non_field_errors %}
                        {% for error in tean_form.non_field_errors %}
                            <div class="col s12 m8 offset-m2 l8 offset-l2 collection teal lighten-2" style="border: 0px;">
                                <p href="#!" class="collection-item white-text teal lighten-2">{{ error }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <button type="submit" class="waves-effect waves-light btn green white-text" style="margin-top: 20px;">Create Team</button>

                </form>

                {% for team in teams %}
                <div class="col s12 m10 offset-m1 l10 offset-l1" style="margin-top: 30px;">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">{{ team.name | title }}</span>
                            <p>Member:</p>
                            {% for m in team.member.all %}
                                <a class="dropdown-button btn red white-text" style="margin-top: 10px;" href="#!" data-activates="{{ m.username }}-{{team.id}}">
                                    {{ m.username | title }} : {{ m.membership }}
                                </a>

                                <ul id='{{ m.username }}-{{ team.id }}' class='dropdown-content' style="">
                                    <li><a href="{% url 'account:public-profile' %}?userid={{ m.username }}" style="font-size: 12px;">View Profile</a></li>
                                    <li><a href="{% url 'home:remove-team-member' %}?member_d={{ m.id }}&team_id={{ team.id }}" style="font-size: 12px;">Remove This Member</a></li>
                                </ul>
                            {% endfor %}
                        </div>

                        <div class="card-action">
                            <a href="{% url 'home:personal-training' owner_id=request.user.id team_id=team.id %}">Go To Training</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="col s12 m10 offset-m1 l10 offset-l1" style="margin-top: 30px;">
                    <div class="card blue">
                        <div class="card-content white-text">
                            <span class="card-title">My Referrals</span>
                            {% for referral in my_referrals %}
                                <a class="dropdown-button btn" style="margin-bottom: 5px;" href="#!" data-activates="{{ referral.id }}">
                                    {{ referral.username | title }} : {{ referral.membership }}
                                </a>

                                <ul id='{{ referral.id }}' class='dropdown-content' style="">
                                    {% for team_name in teams %}
                                    <li><a href="{% url 'home:add-team-member' %}?new_member={{ referral.id }}&team_id={{ team_name.id }}" style="font-size: 12px;">Add to {{ team_name.name | upper }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
            <!--end main-content -->

            <div class="col s12 m12 l3 left left-content" style="border-right: 1px solid #333; margin-top: 20px;">
                <div class="col s12 m12 l12">

                    <a class="col s12 m12 l12 navy-text" style="padding: 10px;" href="{% url 'home:manage-team' %}">Manage Team</a>
                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'home:affiliate_link' %}">Affiliate Links And Funnels</a>
                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'home:banners' %}">Banners</a>
                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'home:email_swipes' %}">Email Swipes</a>

                </div>
            </div>
            <!--end left-content -->
        </div>
    </div>
{% endblock %}
