{% extends 'base1.html' %}

{% block title %}BeTheMillionaire | My Commissions{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">

    <style>
        .left_main_menu a{
            color: orange;
        }

        .left_main_menu a:hover{
            color: white;
            text-decoration: underline;
        }

        #particles-js{
            background-image: url('/static/account/style/images/reg/back-1.jpeg');
            background-repeat: no-repeat;
            background-position: center;
            height: 250vh;
            width: 100%;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="row" id="particles-js" style="">
        <div class="col s12 l8 offset-l2" style="position: absolute;">
            <div class="col m4 l3 blue" style="">
                <div class="col s12 m12 l12 #1a237e indigo orange-text darken-4 center-align" style="padding: 10px;">
                    <h5>Commission</h5>
                </div>

                <div class="col s12 m12 l12 white center-align" style="min-height: 200px;">
                    {% if request.user.profile_picture %}
                        <img class="col m10 offset-m1 l10 offset-l1" src="{{ request.user.profile_picture.url}}" height="100%" width="100%" style="margin-top: 20px;" alt="">
                    {% else %}
                        <img class="col m10 offset-m1 l10 offset-l1" src="{% static 'account/style/images/no-img.jpg' %}" height="100%" width="100%" style="margin-top: 20px;" alt="">
                    {% endif %}
                    <p style="margin-bottom: 10px;">@{{ request.user.username | title }}</p>
                </div>

                <div class="col s12 m12 l12 #1a237e indigo orange-text darken-4 left_main_menu" style="padding: 10px; margin-bottom: 20px;">
                    <a class="left col s12 m12 l12 white-text" href="{% url 'home:my-commission' %}" style="padding: 10px;">My Commission
                        <span class="right" style=""> > </span>
                    </a>

                    <a class="left col s12 m12 l12" href="{% url 'account:membership-level-vip' %}" style="padding: 10px;">Upgrade VIP
                        <span class="right" style=""> > </span>
                    </a>

                    <a class="left col s12 m12 l12" href="{% url 'account:membership-level-premium' %}" style="padding: 10px;">Upgrade Premium
                        <span class="right" style=""> > </span>
                    </a>
                </div>
            </div>

            <div class="col m8 l9" style="padding: 0px; margin-top: 0px; opacity: .9;">
                <div class="col s12 l12 white center-align" style="padding: 20px;">

                    <h4 class="left-align orange-text">Commission</h4>
                    <div class="left-align">
                        <p>
                            Here you can see your referral sale commission.
                        </p>
                    </div>


                    <div class="col s12 m12 l12" style="margin-top: 30px; margin-bottom: 40px;">
                        {% if commissions %}
                        <table class="highlight centered responsive-table">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Referred User</th>
                                    <th>Commission</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>

                            <tbody class="table_data">
                                {% for commission in commissions %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ commission.referred_user.username | title }}</td>
                                    <td>{{ commission.commission }}$</td>

                                    <td>{{ commission.creation_time | date }}</td>
                                    <td>
                                        {% if commission.is_verified %}
                                            Authorized
                                        {% else %}
                                            Pending
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <p class="red-text">
                                You have not get any commission yet.
                            </p>
                        {% endif %}
                    </div>


                </div>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>
    particlesJS.load("particles-js", "{% static 'home/js/particles.json' %}",
        function(){
            console.log("particles.js loaded...")
        }
    )
</script>
{% endblock %}


{% block script %}

<script>

     $(document).ready(function() {
        $('select').material_select();
      });

</script>

{% endblock %}
