{% extends 'base.html' %}

{% block title %}Passive Income{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col s12 m12 l12" style="">
            <div class="col s12 m12 l9 right main-content" style="margin-top: 30px;">
                <div class="col s12 m10 offset-m1 l10 offset-l1" style="margin-top: 20px;">
                    <h4 class="center-align">
                        Watch The Video Below And Set Up Your Passive Income Wealth Building Vehicles!
                    </h4>
                </div>

                <div class="col s12 m12 l10 offset-l1" style="margin-top: 20px; height: 400px;">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/wX2UNUfpBJo" frameborder="0" gesture="media" allow="encrypted-media" autoplay="true" allowfullscreen></iframe>
                </div>



                <!--tab wallet-->
                <div class="col s12 m12 l10 offset-l1" style="margin-top: 30px;">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s5"><a class="active black-text" href="#cryptocurrency_trading">Cryptocurrency Trading</a></li>
                            <li class="tab col s5"><a class="black-text" href="#bitcoin_altcoin_mining">Bitcoins and Altcoins Mining</a></li>
                        </ul>
                    </div>

                    <!--tab cryptocurrency_trading-->
                    <div class="col s12 m12 l12" id="cryptocurrency_trading" style="padding: 30px;">
                        <h5>
                            Discover How To Trade Cryptocurrencies Like A Pro And 10X – 100X Your Bitcoin and Crypto Portfolio Learning From Crypto Millionaire Traders!
                        </h5>

                        <div class="col s12 m12 l12" style="margin-top: 20px;">
                            <div class="col m5 l5" style="">
                                <img class="col m8 offset-m2" src="{% static 'home/style/images/image/passive_profit_1_img.png' %}" height="100%" width="100%">

                                <div class="col s12 m12 l12" style="margin-top: 20px; margin-bottom: 20px;">
                                    <div class="" style="">
                                        <a target="_blank" href="https://www.exodus.io/" class="waves-effect waves-light btn">Click To Learn More</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col m7 l7" style="">
                                <p>1. Get LIVE Weekly Trading coaching and market updates from people who 100X their Crypto portfolio and became Bitcoin millionaires ;</p>
                                <br>
                                <p>2. Get Crypto Trading Course That Will Teach You A-Z How To Buy Low And Sell High So You Can Live The Lifestyle Of Your Dreams;</p>
                                <br>
                                <p>3. Get Real Time Trading Signals, Learn Which Are The Best Coins To Buy In 2018 That Will Almost Guarantee To Increase In Value For Mid To Long Term!</p>
                            </div>
                        </div>
                    </div>
                    <!--end tab cryptocurrency_trading-->

                    <!--tab bitcoin_altcoin_mining-->
                    <div class="col s12 m12 l12" id="bitcoin_altcoin_mining" style="padding: 30px;">
                        <h5>
                            Discover How You Can Earn Bitcoins Passively From The 9th Largest Mining Pool In The World For The Next 5 Years!
                        </h5>

                        <div class="col s12 m12 l12" style="margin-top: 20px;">
                            <div class="col m5 l5" style="">
                                <img class="col m8 offset-m2" src="{% static 'home/style/images/image/passive_profit_1_img.png' %}" height="100%" width="100%">

                                <div class="col s12 m12 l12" style="margin-top: 20px; margin-bottom: 20px;">
                                    <div class="" style="">
                                        <a target="_blank" href="https://www.exodus.io/" class="waves-effect waves-light btn">Click To Learn More</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col m7 l7" style="">
                                <p>1. Get LIVE Weekly Trading coaching and market updates from people who 100X their Crypto portfolio and became Bitcoin millionaires ;</p>
                                <br>
                                <p>2. Get Crypto Trading Course That Will Teach You A-Z How To Buy Low And Sell High So You Can Live The Lifestyle Of Your Dreams;</p>
                                <br>
                                <p>3. Get Real Time Trading Signals, Learn Which Are The Best Coins To Buy In 2018 That Will Almost Guarantee To Increase In Value For Mid To Long Term!</p>
                            </div>
                        </div>
                    </div>
                    <!--end tab bitcoin_altcoin_mining-->
                </div>
                <!--end tab wallet-->

            </div>
            <!--end main-content -->

            <div class="col s12 m12 l3 left left-content" style="">
                <div class="col s12 m12 l12">
                    <div class="card white black-text">
                        <div class="card-content black-text left-content-introduction">
                            <div class="card-title valign-wrapper" style="background-color: blue; color: white">Quick Start Video</div>

                            <div>
                                <a href="#">
                                    <p class="valign-wrapper">START HERE - 5 Steps To Set Up BeTheMillionaire System!</p>
                                </a>
                            </div>

                            <div>
                                <a href="#">
                                    <p class="valign-wrapper">Video Course: Secrets To Growing Your Wealth In Bitcoins</p>
                                </a>
                            </div>

                            <div>
                                <a href="#">
                                    <p class="valign-wrapper">UPGRADE YOUR MEMBERSHIP</p>
                                </a>
                            </div>

                            <div>
                                <a href="#">
                                    <p class="valign-wrapper">BTM Facebook Group</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col s12 m12 l12">
                    <div class="collection">
                        <a href="#!" class="collection-item black-text"><span class="badge red-text"><b>100300</b></span>Current Members</a>
                    </div>
                </div>


                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="card white">
                            <div class="card-content black-text">
                                <span class="card-title">Your BTM Sponsor</span>

                                <div class="row">
                                    <div class="col s12 m12 l12" style="width: 90%">
                                        {% for user_pro in user_profile %}
                                            {% if user_pro.sponsor.profile_picture %}
                                                <img src="{{ user_pro.sponsor.profile_picture.url }}" width="100%" style="">
                                            {% else %}
                                                <img src="{% static 'account/style/images/no-img.jpg' %}"  width="100%" style="">
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                    <div class="col s12 m6 offset-m3 l6 offset-l3">
                                        <h4 id="login_user_sponsor_left"></h4>
                                    </div>

                                    <div class="col s12 m12 l12">
                                        <p>Email: <span id="login_user_sponsor_email"></span></p>
                                    </div>

                                    <div class="col s12 m12 l12">
                                        <p>Phone: <span id="login_user_sponsor_phone"></span></p>
                                    </div>

                                    <div class="col s12 m12 l12">
                                        <p>Skype: <span id="login_user_sponsor_skype"></span></p>
                                    </div>

                                    <a href="#">
                                        <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                            <p style="width: 100%" class="center-align">Message Me On Facebook</p>
                                        </div>
                                    </a>

                                    <a href="#">
                                        <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                            <p style="width: 100%" class="center-align">Training By Your Sponsor</p>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <!--end left-content -->
        </div>
    </div>
{% endblock %}
