{% extends 'base.html' %}

{% block title %}Privacy Policy | BeTheMillionaire{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col s12 m12 l12" style="">
            <div class="col s12 m12 l9 right main-content" style="">
                <h4>Privacy Policy</h4>

                <p class="flow-text col s12 m10 offset-m1" style="margin-bottom: 50px;">
                     وقد تم تجميع هذه السياسة الخصوصية لتقديم خدمة أفضل لأولئك الذين يهتمون بكيفية استخدام "المعلومات الشخصية الخاصة بهم "
                        Pil تستخدم بالانترنت. ، كما هو موضح في قانون الخصوصية الأمريكي وأمن المعلومات، هي المعلومات التي يمكن استخدامها من تلقاء نفسها أو مع غيرها من المعلومات لتحديد أو الاتصال أو تحديد موقع شخص واحد، أو لتحديد فرد في السياق. يرجى قراءة سياسة الخصوصية بعناية للحصول على فهم واضح لكيفية جمع أو استخدام أو حماية أو التعامل مع المعلومات الشخصية الأخرى الخاصة بك وفقا لموقعنا على الانترنت.

                        <br><br>
                        ما نوعية المعلومات الشخصية التي نجمعها من الأشخاص الذين يقومون بزياره مدونتنا ، أو موقع الويب ، أو التطبيق؟

                        عند الطلب أو التسجيل في موقعنا، عند الحاجة  قد يطلب منك إدخال اسمك أو عنوان بريدك الإلكتروني أو عنوانك البريدي أو تفاصيل أخرى لمساعدتك في تجربتك.

                        متى نجمع المعلومات؟
                        <br><br>

                         نقوم بجمع معلومات منك عند التسجيل في موقعنا،
                        أو الاشتراك في نشرة إخبارية، أو ملء نموذج أو إدخال معلومات على موقعنا.

                        <br><br>
                         كيف نستعمل معلوماتك؟

                         قد نستخدم المعلومات التي نجمعها منك عند التسجيل أو إجراء عملية شراء أو الاشتراك في نشرتنا الإخبارية أو الرد على استبيان أو اتصال تسويقي أو تصفح موقع الويب أو استخدام بعض ميزات الموقع الأخرى بالطرق التالية:
                         • لتخصيص تجربتك والسماح لنا لتقديم نوع المحتوى وعروض المنتجات التي كانت الأكثر اهتماما بالنسبه لك.

                         • لإدارة مسابقة، والترويج، والمسح أو ميزة الموقع الأخرى<br>

                        . • للارسال رسائل البريد الإلكتروني الدورية بشأن طلبك أو غيرها من المنتجات والخدمات.

                    <br><br>
                         • للمتابعة معهم بعد المراسلات (الدردشة الحية، البريد الإلكتروني أو الاستفسارات الهاتفية)
                        كيف نحمي معلوماتك؟

                    <br><br>
                        نحن لا نستخدم مسح ضعيف و / أو المسح لمعايير pci

                         نحن نقدم فقط على تزويد المقالات والمعلومات. و لا نطلب أبدا أرقام بطاقات الائتمان.

                        نحن نستخدم المسح الضار  بانتظام.
                    <br><br>

                        نحن لا نستخدم شهادة ssl •
                    <br>

                        لا نحتاج إلى طبقة المقابس الآمنة"ssl" لأنها: بها مجانيه عضوية الموافقة لدخول الافراد.
                    <br><br>


                        هل نستخدم "ملفات تعريف الارتباط"؟
                        نعم فهي ملفات تعريف الارتباط هي ملفات صغيرة ينقلها الموقع أو مزود الخدمة إلى القرص الصلب لجهاز الكمبيوتر الخاص بك من خلال متصفح الويب الخاص بك (إذا سمحت) والتي تمكن أنظمة الموقع أو مزود الخدمة من التعرف على المتصفح الخاص بك والتقاط وتذكر بعض المعلومات. على سبيل المثال،

                        نستخدم ملفات تعريف الارتباط لمساعدتنا في تذكر العناصر ومعالجتها في سلة التسوق.
                    <br>

                        كما أنها تستخدم لمساعدتنا في فهم تفضيلاتك استنادا إلى نشاط الموقع السابق أو الحالي، والذي يمكننا من تزويدك بخدمات محسنة.

                         كما نستخدم ملفات تعريف الارتباط لمساعدتنا في جمع البيانات المجمعة حول حركة الزيارات في الموقع والتفاعل مع الموقع حتى نتمكن من تقديم تجارب وأدوات أفضل للموقع في المستقبل.
                        نستخدم ملفات تعريف الارتباط من أجل:
                    <br>

                        • فهم وحفظ تفضيلات المستخدم للزيارات المستقبلية.
                    <br>
                        • تتبع الإعلانات.
                    <br>


                        يمكنك اختيار أن يقوم جهاز الكمبيوتر بتحذيرك في كل مرة يتم فيها إرسال ملف تعريف ارتباط، أو يمكنك اختيار إيقاف تشغيل كافة ملفات تعريف الارتباط.
                    <br>

                        يمكنك إجراء ذلك من خلال إعدادات المتصفح. نظرا لأن المتصفح مختلف قليلا، فراجع قائمة المساعدة في المتصفح للتعرف على الطريقة الصحيحة لتعديل ملفات تعريف الارتباط. في حالة إيقاف تشغيل ملفات تعريف الارتباط، قد لا تعمل بعض الميزات التي تجعل موقعك أكثر كفاءة على نحو سليم. ولن يؤثر ذلك على تجربة المستخدم التي تجعل موقعك أكثر كفاءة وقد لا يعمل بشكل صحيح.
                    <br><br>

                        توضيح من الطرف الثالث
                         نحن لا نبيع معلوماتك الشخصية أو نتاجر بها أو نقلها إلى أطراف خارجية.
                    <br><br>
                         روابط الجهه الثالثه
                        عادة  وفقا لتقديرنا، يجوز لنا تضمين أو تقديم منتجات أو خدمات من جهة الثالثه (الخارجية ) على موقعنا الإلكتروني.
                         تحتوي مواقع الجهات الخارجية هذه على سياسات خصوصية مستقلة ومنفرد وبالتالي، فإننا لا نتحمل أي مسؤولية عن محتوى وأنشطة هذه المواقع المرتبطة.
                        ومع ذلك، فإننا نسعى لحماية سلامة موقعنا ونرحب بأي ملاحظات حول هذه المواقع.
                    <br><br>

                         جوجل
                    <br>
                        يمكن تلخيص متطلبات غوغل الإعلانية من خلال مبادئ غوغل الإعلانية. يتم وضعها في مكان لتوفير تجربة إيجابية للمستخدمين.
                         https://support.google.com/adwordspolicy/answer/1316548؟hl=en
                    <br><br>
                        لم يتم تمكين غوغل أدسنز على موقعنا ولكننا قد نقوم بذلك في المستقبل.
                    <br>

                        قانون حماية الخصوصية عبر الإنترنت في كاليفورنيا

                         كالوبا هو أول قانون دولة في البلاد تتطلب مواقع تجارية وخدمات عبر الإنترنت لنشر سياسة الخصوصية.

                         يمتد نطاق القانون إلى ما هو أبعد من ولاية كاليفورنيا ليطلب من أي شخص أو شركة في الولايات المتحدة (وتصور العالم) أن تشغل مواقع الويب التي تجمع معلومات شخصية من مستهلكي ولاية كاليفورنيا لنشر سياسة خصوصية واضحة على موقعها على الويب تفيد بالضبط المعلومات التي يتم جمعها وتلك الأفراد أو الشركات التي يتم تقاسمها معهم.

                         - اطلع على المزيد على: http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf
                        <br><br>

                        ووفقا للقانون،  فانت توافق علي ما يلي :

                        _يمكن للمستخدمين زيارة موقعنا بطريقة  مجهولة (بدون اسم)

                        _ بعد إنشاء سياسة الخصوصية هذه، سنضيف اليها  رابطا  على صفحتنا الرئيسية  كحد أدنى،
                        في أول الصفحة الهامة بعد الدخول إلى موقعنا الإلكتروني.
                        يتضمن رابط سياسة الخصوصية كلمة "الخصوصية" ويمكن العثور عليها بسهولة في الصفحة المحددة أعلاه.
                        سيتم إعلامك بأي تغييرات في سياسة الخصوصية:

                        • في صفحة سياسة الخصوصية يمكن تغيير معلوماتك الشخصية:
                        • عن طريق تسجيل الدخول إلى حسابك

                    <br><br>

                         كيف يتعامل موقعنا مع إشارات عدم التعقب؟

                         نحن نضيف عدم تتبع الإشارات ولا تتبع فعليا، وأو استخدام الإعلان عندما يتم وضع آلية عدم تتبع (دنت) المتصفح.

                         هل يسمح موقعنا بتتبع سلوكيات الجهات الخارجية؟
                        من المهم أيضا ملاحظة أننا لا نسمح بتتبع سلوك الجهات الخارجية كوبا (قانون حماية خصوصية الأطفال عبر الإنترنت) عندما يتعلق الأمر بجمع المعلومات الشخصية من الأطفال دون سن 13 سنة، وقانون حماية خصوصية الأطفال على الانترنت (كوبا) يضع الآباء في السيطرة عليها.

                         وتقوم لجنة التجارة الفيدرالية، وهي وكالة حماية المستهلك في الولايات المتحدة، بفرض قاعدة كوبا،
                        التي تحدد ما يجب على مشغلي المواقع الإلكترونية والخدمات عبر الإنترنت القيام به لحماية خصوصية الأطفال وسلامتهم على الإنترنت. نحن لا نمارس  تسويق خاص للأطفال دون سن 13 سنة.
                        ممارسات المعلومات العادلة
                        وتشكل مبادئ ممارسات المعلومات العادلة العمود الفقري لقانون الخصوصية في الولايات المتحدة،
                        وقد لعبت المفاهيم التي تتضمنها دورا هاما في تطوير قوانين حماية البيانات في جميع أنحاء العالم.
                    <br>
                        إن فهم مبادئ ممارسات المعلومات العادلة وكيفية تنفيذها يجب أن يكون حاسما في الامتثال لقوانين الخصوصية المختلفة التي تحمي المعلومات الشخصية.
                    <br>
                         من أجل أن تتماشى مع ممارسات المعلومات العادلة سوف نتخذ الإجراءات التالية استجابة،
                        في حالة حدوث خرق البيانات:
                         سنقوم بإعلامك عبر البريد الإلكتروني
                         • خلال يوم  واحد ونوافق أيضا على مبدأ الانتصاف الفردي الذي يقضي بأن يكون للأفراد الحق في أن يمارسوا حقوقا قابلة للتنفيذ قانونا ضد جامعي البيانات ومعالجيها الذين لا يلتزمون بالقانون.
                    <br>
                        ولا يقتضي هذا المبدأ أن يكون للأفراد حقوقا قابلة للتنفيذ ضد مستخدمي البيانات فحسب،
                        بل أيضا أن الأفراد يلجأون إلى المحاكم أو الوكالات الحكومية للتحقيق في حالات عدم الامتثال من جانب مأخذ البيانات  أو ملاحقتهم قضائيا.
                    <br><br>
                         قانون البريد المزعج قانون CAM_SPAM
                         هو القانون الذي يحدد قواعد البريد الإلكتروني التجارية،
                         ويحدد متطلبات الرسائل التجارية،
                        ويعطي المستفيدين الحق في الحصول على رسائل البريد الإلكتروني التي توقفت من إرسالها لهم، ويحدد عقوبات صارمة على المخالفين.
                    <br><br>
                        نجمع عنوان بريدك الإلكتروني من أجل:

                         • إرسال المعلومات، والرد على الاستفسارات، واي طلبات أخرى أو أسئلة ولكي نكون وفقا ل CAN SPAM،

                        فإننا نوافق على ما يلي:
                         • عدم استخدام معلومات  مضللة او عناوين بريد إلكتروني كاذبة.

                         • تحديد الرسالة كإعلان بطريقة مضبطه.
                         • تضمين العنوان الفعلي لمقر العمل أو الموقع.
                        • مراقبة الطرف الثالث لخدمات البريد الإلكتروني التسويق للامتثال،
                         إذا تم استخدام واحد مسبقا.
                        • الشرف_ الانسحاب / سرعة  إلغاء طلبات الاشتراك•
                        السماح للمستخدمين بإلغاء الاشتراك باستخدام الرابط أسفل كل رسالة إلكترونية.

                    <br><br>

                        إذا أردت في أي وقت إلغاء الاشتراك من تلقي رسائل البريد الإلكتروني المستقبلية،
                        يمكنك مراسلتنا عبر البريد الإلكتروني
                    <br><br>
                        • اتبع التعليمات أسفل كل بريد إلكتروني.
                        وسوف نقوم بحذفك فورا من جميع المراسلات.
                        إذا كانت لديك أية أسئلة بخصوص سياسة الخصوصية هذه،
                        يمكنك الاتصال بنا باستخدام المعلومات أدناه.
                    <br>
                         https://www.bethemillionaire.com هاتيفات إزيوني 12 كارميل، هزافون 21926 إسرائيل
                        support@bethemillionaire.com
                </p>

            </div>
            <!--end main-content -->

            <div class="col s12 m12 l3 left left-content" style="">
                <div class="col s12 m12 l12">
                    <div class="card white black-text">
                        <div class="card-content black-text left-content-introduction">
                            <div class="card-title valign-wrapper" style="background-color: blue; color: white">Quick Start Video</div>

                            <div>
                                <a href="#">
                                    <p class="valign-wrapper">START HERE - 5 Steps To Set Up Bitcoins Wealth Club System!</p>
                                </a>
                            </div>

                            <div>
                                <a href="#">
                                    <p class="valign-wrapper">Video Course: Secrets To Growing Your Wealth In Bitcoins</p>
                                </a>
                            </div>

                            <div>
                                <a href="#">
                                    <p class="valign-wrapper">UPGRADE YOUR MEMBERSHIP</p>
                                </a>
                            </div>

                            <div>
                                <a href="#">
                                    <p class="valign-wrapper">BWC Facebook Group</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col s12 m12 l12">
                    <div class="collection">
                        <a href="#!" class="collection-item black-text"><span class="badge red-text"><b>100300</b></span>Current Members</a>
                    </div>
                </div>


                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="card white">
                            <div class="card-content black-text">
                                <span class="card-title">Your BTM Sponsor</span>

                                <div class="row">
                                    <div class="col s12 m12 l12" style="width: 90%">
                                        {% for user_pro in user_profile %}
                                            {% if user_pro.sponsor.profile_picture %}
                                                <img src="{{ user_pro.sponsor.profile_picture.url }}" width="100%" style="">
                                            {% else %}
                                                <img src="{% static 'account/style/images/no-img.jpg' %}"  width="100%" style="">
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                    <div class="col s12 m6 offset-m3 l6 offset-l3">
                                        <h4 id="login_user_sponsor_left"></h4>
                                    </div>

                                    <div class="col s12 m12 l12">
                                        <p>Email: <span id="login_user_sponsor_email"></span></p>
                                    </div>

                                    <div class="col s12 m12 l12">
                                        <p>Phone: <span id="login_user_sponsor_phone"></span></p>
                                    </div>

                                    <div class="col s12 m12 l12">
                                        <p>Skype: <span id="login_user_sponsor_skype"></span></p>
                                    </div>

                                    <a href="#">
                                        <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                            <p style="width: 100%" class="center-align">Message Me On Facebook</p>
                                        </div>
                                    </a>

                                    <a href="#">
                                        <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                            <p style="width: 100%" class="center-align">Training By Your Sponsor</p>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <!--end left-content -->
        </div>
    </div>
{% endblock %}
