{% extends 'base.html' %}

{% block title %}Recent Update | BeTheMillionaire{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col s12 m12 l12" style="">
            <div class="col s12 m12 l9 right main-content" style="">
                <h4>Recent Update</h4>

                <p class="flow-text col s12 m10 offset-m1" style="margin-bottom: 50px;">
                    ونحن نعمل باستمرار على تحسين نظام مشروع كريبتو مليونير،  وليس دائما سيتم تحديث هذه الصفحة مع جميع التحديثات الأخيرة والتغيرات التي تحدث داخل مشروع كريبتو مليونير،   لذا يرجى تفقد مجموعتنا لدي الفيسبوك كثيرا حيث يتم عاده نشر كل تحديث بها!
                    <br>

                    التحديثات الاخيره   - الإعلان عن مسابقة أسبوعية بالجوائز! *** الإعلان عن مسابقة أسبوعية وقد تم إنشاء مشروع كريبتو مليونير لمساعدتك على كسب البيتكوين بطرق متعددة ،   والعمل على سرعه زياده ثروتك بالبيتكوين،   ويسمح لك بمساعدة  الاخرين بطريقه سهله  على القيام بنفس الشيء في حين يتم. القيام ب90٪ من عملك!
                    <br>

                    ونحن في طريقنا لعمل  مسابقة أسبوعية لدي مشروع كريبتو مليونير ابتداءا من هذا الاسبوع ويمكن للجميع الفوز بالبيتكوين كل اسبوع!
                    <br>

                    تبدا المسابقه كل يوم أربعاء في تمام الساعة 12 مساء بتوقيت شرق الولايات المتحدة وتنتهي يوم الأربعاء التالي في. تمام الساعة 12 مساء بتوقيت شرق الولايات المتحدة.
                    <br>

                    تبدأ المسابقة الأولى في 20 سبتمبر وتنتهي في 27 سبتمبر. قواعد للفوز بسيطة - هؤلاء الأعضاء الذين يحيلون معظم الناس إلى مشروع كريبتو مليونير  للفوز بكل جوائز الأسبوع.
                    <br>

                    يمكنك أن ترى أين كان مكانك من المتصدرين الكتاب ف 7أيام الماضية بالنسبة للعملاء المحتملين المشار إليهم: https://www.bethemillionaire.com/home/member-home/btm-leader-boards/ يمكنك الاطلاع على روابطك للترويج من هنا:
                    <br>


                    https://www.bethemillionaire.com/home/member-home/affiliate-links/ يمكنك التحقق من جميع الإحالات الخاصة بك من هنا: https://www.bethemillionaire.com/membership-account/my-referrals/ إليك الجوائز لهذا الأسبوع: 1st مكان - 0.05btc المركز الثاني - 0.025btc المركز الثالث - 0.015btc المركز الرابع - 0.01  بيتكوين ومن  المركز الخامس - المركز العاشر - 0.003 بتك
                    <br>


                    لن يتم احتساب سوى أشخاص حقيقيين بحسابات حقيقية - لا يمكنك تسجيل عناوين بريد إلكتروني مزيفة للفوز بالجوائز وأي شخص سيحاول أن يفعل ذلك سوف يكون محظورا من المجموعة والنظام.
يمكنك الترويج عبر الفيسبوك، يوتيوب، إينستاجرام، تويتر، لافتات، إعلانات منفردة، أي استراتيجية تسويق واي  طريقة متاحة حيث يوجد أشخاص.
                     <br>


                    هذه مجرد مكافأة لكل عمل قمت به للكسب من خلال تعزيز المشروع،  ومساعدة الآخرين ، وصنع جداول متعددة للدخل باي حال على طول الطريق!
                    <br>


                     حظا سعيدا !  ويمكن أن تنتظر لمعرفة من هو الفائز بجوائز الأسبوع المقبل!  -  2 من المسارات الجديدة متاحة لبدء الدورة `` أسرار لزيادة ثروتك الخاصة بالبيتكوين
                    <br>


                     ` ******** تم إضافة مسابقتين جديدتين **********
                    <br>


                    وهناك الكثير من يتساءل عن مسار الدورة  "أسرار تزيد ثروتك بالبيتكوين" والانطلاق منها، وبالنسبه اليكم يا شباب  لقد أنشأت 2 من مسارات التحويل الجديدة(funnels) التي يمكنكم استخدامها على الفور!
                    <br>


                    وبالطبع لم تنته الدوره بعد  ولكن يمكنك البدء في بناء جمهورك وزيادة الإحالات الخاصة بك عن طريق كثير من العرض والاقلاع  عن الدورة مجانا!
                    <br>

                    المسار للاحالة/للتحويل الواحد هو المسار  المباشر المستقيم إلى صفحة التسجيل - إذا كنت ترغب في استخدام capture page/صفحة التقاط الخاصة بك أمامها.
                    <br>


                     مسار التحويل الثاني هو عبارة عن 3 خطوات للمسار. يمكنك استخدامها على الفور لجمع العملاء المحتملين باستخدام capture page/صفحة الالتقاط التي تم إجراؤها من أجلك. يمكنك العثور عليها تحت روابط التابعة لها!
                        <br>


                    استمتع!

                </p>

            </div>
            <!--end main-content -->

            <div class="col s12 m12 l3 left left-content" style="border-right: 1px solid #333; margin-top: 20px;">
                <div class="col s12 m12 l12">

                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'home:faq' %}">FAQ</a>
                    <a class="col s12 m12 l12 navy-text" style="padding: 10px;" href="{% url 'home:recent-update' %}">BTM Recent Updates</a>
                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="https://www.facebook.com/groups/336201610190269/">BTM Facebook Group</a>
                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'home:privacy-policy' %}">Privacy Policy</a>

                </div>
            </div>
            <!--end left-content -->
        </div>
    </div>
{% endblock %}
