{% extends 'base_v_2.html' %}

{% block title %}BeTheMillionaire | Social Trading{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">

    <style>
        .left_main_menu a{
            color: orange;
        }

        .left_main_menu a:hover{
            color: white;
            text-decoration: underline;
        }

        #particles-js1{
            background-image: url('/static/account/style/images/reg/back-1.jpeg');
            background-repeat: repeat;
            background-position: center;
            min-height: 210vh;
            width: 100%;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="row" id="particles-js1" style="">
        <div class="col s12 l8 offset-l2" style="">
            <div class="col s12 m4 l3 blue hide-on-med-and-down" style="">
                <div class="col s12 m12 l12 #1a237e indigo orange-text darken-4 center-align" style="padding: 10px;">
                    <h5>Passive Profits</h5>
                </div>

                <div class="col s12 m12 l12 white center-align" style="min-height: 200px;">
                    {% if request.user.profile_picture %}
                        <img class="col m10 offset-m1 l10 offset-l1" src="{{ request.user.profile_picture.url}}" height="100%" width="100%" style="margin-top: 20px;" alt="">
                    {% else %}
                        <img class="col m10 offset-m1 l10 offset-l1" src="{% static 'account/style/images/no-img.jpg' %}" height="100%" width="100%" style="margin-top: 20px;" alt="">
                    {% endif %}
                    <p style="margin-bottom: 10px;">@{{ request.user.username | title }}</p>
                </div>

                <div class="col s12 m12 l12 #1a237e indigo orange-text darken-4 left_main_menu" style="padding: 10px; margin-bottom: 20px;">
                    <a class="left col s12 m12 l12" href="{% url 'home:passive-income' %}" style="padding: 10px;">Passive Income
                        <span class="right" style=""> > </span>
                    </a>

                    <a class="left col s12 m12 l12" href="{% url 'home:crypto-trading' %}" style="padding: 10px;">Crypto Trading
                        <span class="right" style=""> > </span>
                    </a>

                    <a class="left col s12 m12 l12" href="{% url 'home:crypto-mining' %}" style="padding: 10px;">Crypto mining
                        <span class="right" style=""> > </span>
                    </a>

                    <a class="left col s12 m12 l12 white-text" href="{% url 'home:crypto-resource' %}" style="padding: 10px;">Crypto Resources
                        <span class="right" style=""> > </span>
                    </a>

                    <!--crypto resource sub menu-->

                    <a class="left col m10 offset-m1 l10 offset-l1" href="{% url 'home:crypto-resource' %}" style="padding: 10px;">Crypto exchange
                        <span class="right" style=""> > </span>
                    </a>

                    <a class="left col m10 offset-m1 l10 offset-l1" href="{% url 'home:crypto-tool' %}" style="padding: 10px;">Trading tools
                        <span class="right" style=""> > </span>
                    </a>

                    <a class="left col m10 offset-m1 l10 offset-l1" href="{% url 'home:hardware-wallet' %}" style="padding: 10px;">Hardware wallet
                        <span class="right" style=""> > </span>
                    </a>

                    <a class="left col m10 offset-m1 l10 offset-l1 white-text" href="{% url 'home:social-trading' %}" style="padding: 10px;">Scoial trading
                        <span class="right" style=""> > </span>
                    </a>

                    <a class="left col m10 offset-m1 l10 offset-l1" href="{% url 'home:useful-side' %}" style="padding: 10px;">Useful sides
                        <span class="right" style=""> > </span>
                    </a>
                </div>
            </div>

            <div class="col s12 m8 l9" style="padding: 0px; margin-top: 0px; opacity: .9;">
                <div class="col s12 l12 white center-align" style="">
                    <div class="col s12 m12 l12" style="padding: 0px;">







                        <!--passive income navigation menu for mobile-->


                        <!-- Modal Trigger -->

                        <a style="margin-top: 10px;" class="left-align waves-effect waves-light btn red modal-trigger hide-on-large-only" href="#passive-menu">Passive Income Locator</a>

                        <!-- Modal Structure -->
                        <div id="passive-menu" class="modal bottom-sheet">
                            <div class="modal-content">
                                <div class="collection left-align">
                                    <a href="{% url 'home:passive-income' %}" class="collection-item">Passive Income</a>
                                    <a href="{% url 'home:crypto-trading' %}" class="collection-item">Crypto Trading</a>
                                    <a href="{% url 'home:crypto-mining' %}" class="collection-item">Income Stream</a>
                                    <a href="{% url 'home:crypto-resource' %}" class="collection-item">Crypto Resources</a>

                                    <a href="{% url 'home:crypto-tool' %}" class="collection-item">Trading tools</a>
                                    <a href="{% url 'home:hardware-wallet' %}" class="collection-item">Hardware wallet</a>
                                    <a href="{% url 'home:social-trading' %}" class="collection-item orange-text">Scoial trading</a>
                                    <a href="{% url 'home:useful-side' %}" class="collection-item">Useful sides</a>

                                </div>


                            </div>
                        </div>


                        <!--end passive income navigation menu for mobile-->








                        <!--crypto mining-->
                        <div id="crypto_mining" class="col s12 m12 l12" style="margin-bottom: 20px; padding: 0px;">
                            <h3 class="orange-text hide-on-med-and-down" style="text-decoration: underline;">Social Trading</h3>
                            <h5 class="orange-text hide-on-large-only" style="text-decoration: underline;">Social Trading</h5>

                            <h5 class="left-align col s12 m12 l12 orange-text" style="padding: 0px;">
                                Social trading is a service that allows investors to replicate the operations of expert traders. Social trading requires little or no knowledge about financial markets, and only requires that the user make a correct selection of traders to follow, especially considering the percentage of successful operations and the diversification of the financial instruments traded by the expert, that is to say that the expert does not concentrate on a single financial instrument or, failing that, not to replicate several traders that operate only the same financial instrument.
                            </h5>


                            <div class="col s12 m12 l12" style="margin-top: 10px; margin-bottom: 40px; padding: 0px;">
                                <div class="video-container" style="">
                                    <iframe width="100%" height="450px" src="https://www.youtube.com/embed/AajNTycAjKo" frameborder="0" gesture="media" allow="encrypted-media" autoplay="true" allowfullscreen></iframe>
                                </div>
                            </div>



                            <h3 class="orange-text hide-on-med-and-down" style="text-decoration: underline;">Etoro</h3>
                            <h5 class="orange-text hide-on-large-only" style="text-decoration: underline;">Etoro</h5>

                            <h5 class="left-align orange-text" style="margin-top: 50px;">eToro is the world’s leading social trading platform, offering a wide array of tools to invest in the capital markets. Create a portfolio with cryptocurrencies, stocks, commodities, ETFs and more.</h5>

                            <a target="_blank" href="{{ trezors_account.trezor_username }}" class="col s12 m12 l12 btn waves-effect waves-light orange black-text" style="margin-top: 20px;">
                                Etoro
                            </a>
                        </div>
                        <!--end crypto mining-->
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}




{% block script %}

<script>

  $(document).ready(function(){
    $('.modal').modal();
  });
</script>

{% endblock %}
