<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Particle js</title>
    {% load staticfiles %}
    <style>
        #particles-js{
            background-image: url('/static/account/style/images/reg/nnnn.jpg');
            height: 100vh;
        }
    </style>
</head>
<body style="background-color: black;">
    <div id="particles-js">

    </div>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
        particlesJS.load("particles-js", "{% static 'home/js/particles.json' %}",
        function(){
            console.log("particles.js loaded...")
        }
        )
    </script>
</body>
</html>
