{% extends 'base.html' %}

{% block title %}What Is Bitcoin | BeTheMillionaire{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col s12 m12 l12" style="">
            <div class="col s12 m12 l9 right main-content" style="">
                <div class="col s12 m10 offset-m1 l10 offset-l1" style="margin-top: 20px;">
                    <h4 class="center-align">
                        What Is Bitcoin And Why It's Completely Revolutionizing Money
                    </h4>
                </div>


                <div class="col s12 m12 l10 offset-l1" style="margin-top: 20px; height: 400px;">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ByROUKc2qHY" frameborder="0" gesture="media" allow="encrypted-media" autoplay="true" allowfullscreen></iframe>
                </div>


                <div class="col s12 m10 offset-m1 l10 offset-l1 center-align" style="margin-top: 30px; margin-bottom: 20px;">
                    <h4 class="">
                        If you're brand new to Bitcoin the 4 short videos below will get you up to speed fast.
                    </h4>
                </div>

                <div class="col s12 m12 l10 offset-l1" style="margin-top: 20px; height: 400px;">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Gc2en3nHxA4" frameborder="0" gesture="media" allow="encrypted-media" autoplay="true" allowfullscreen></iframe>
                </div>

                <div class="col s12 m12 l10 offset-l1" style="margin-top: 30px; height: 400px;">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/uike95OzlNk" frameborder="0" gesture="media" allow="encrypted-media" autoplay="true" allowfullscreen></iframe>
                </div>

                <div class="col s12 m12 l10 offset-l1" style="margin-top: 30px; height: 400px;">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/2UC_8NdR1To" frameborder="0" gesture="media" allow="encrypted-media" autoplay="true" allowfullscreen></iframe>
                </div>

                <div class="col s12 m12 l10 offset-l1" style="margin-top: 30px; height: 400px; margin-bottom: 30px;">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/7u6wK5pi7Ec" frameborder="0" gesture="media" allow="encrypted-media" autoplay="true" allowfullscreen></iframe>
                </div>

            </div>
            <!--end main-content -->

            <div class="col s12 m12 l3 left left-content" style="border-right: 1px solid #333; margin-top: 20px;">
                <div class="col s12 m12 l12">

                    <a class="col s12 m12 l12 navy-text" style="padding: 10px;" href="{% url 'home:what-is-bitcoin' %}">What is Bitcoin</a>
                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'home:buy-bitcoins-here' %}">Buy Bitcoin Here</a>
                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'home:bitcoin-wallets' %}">Bitcoin Wallets</a>
                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'home:bitcoin-debit-cards' %}">Bitcoin Debit Card</a>

                </div>
            </div>
            <!--end left-content -->
        </div>
    </div>
{% endblock %}

{% block script %}

    <script>
        $(document).ready(function(){
            $('.modal').modal();
        });
    </script>

{% endblock %}
