{% extends 'admin-base.html' %}

{% block title %}Administration | BeTheMillionaire{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col s12 m10 offset-m1 l8 offset-l2" style="">
            <h5>User management</h5>

            <p class="col s12 m12 l12 divider">

            </p>

            <a href="{% url 'administration:all-user' %}" class="waves-effect waves-light btn red white-text" style="margin-top: 20px;">All user</a>
            <a href="{% url 'administration:payment-pending' %}" class="waves-effect waves-light btn red white-text" style="margin-top: 20px;">Pending Payment</a><br>
            <a href="{% url 'administration:commission-payment' %}" class="waves-effect waves-light btn red white-text" style="margin-top: 20px;">Pending Referral Commission Payout</a>


            <h5 style="margin-top: 50px;">Featured Operation</h5>

            <p class="col s12 m12 l12 divider">

            </p>

            <a style="margin-top:20px;" href="{% url 'administration:module-control' %}" class="waves-effect waves-light btn">Module Control</a>

            <a style="margin-top:20px;" href="{% url 'administration:lesson-control' %}" class="waves-effect waves-light btn">Lesson Control</a>

            <a style="margin-top:20px;" href="{% url 'administration:step-control' %}" class="waves-effect waves-light btn">Step Control</a>


            <h5 style="margin-top: 50px;">Affiliate Link Control</h5>

            <p class="col s12 m12 l12 divider">

            </p>

            <a style="margin-top: 20px;" href="{% url 'administration:affiliate-link-control' %}" class="waves-effect waves-light btn">Affiliate Link Control</a>


            <h5 style="margin-top: 50px;">Add or remove video lesson</h5>

            <p class="col s12 m12 l12 divider">

            </p>

            <a style="margin-top: 20px; margin-bottom: 50px;" href="{% url 'administration:add-video' %}" class="waves-effect waves-light btn">Add Video</a>


            <h5 style="margin-top: 50px;">Webinar registration link</h5>

            <p class="col s12 m12 l12 divider">

            </p>

            <a style="margin-top: 20px; margin-bottom: 50px;" href="{% url 'administration:webinar-registration-link' %}" class="waves-effect waves-light btn">Update Webinar Link</a>


            <h5 style="margin-top: 50px;">Leader Board</h5>

            <p class="col s12 m12 l12 divider">

            </p>

            <a style="margin-top: 20px; margin-bottom: 50px;" href="{% url 'administration:create-leader-board' %}" class="waves-effect waves-light btn">Create New Leader Board</a>



            <h5 style="margin-top: 50px;">Recent Update</h5>
            <p class="col s12 m12 l12 divider">

            </p>

            <a style="margin-top: 20px; margin-bottom: 50px;" href="{% url 'administration:recent-update-post' %}" class="waves-effect waves-light btn">Add recent update</a>
            <a style="margin-top: 20px; margin-bottom: 50px;" href="{% url 'administration:recent-update-post-all' %}" class="waves-effect waves-light btn">All recent update</a>



        </div>
    </div>
{% endblock %}
