{% extends 'admin-base.html' %}

{% block title %}Module Control - Administration | BeTheMillionaire{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col s12 m10 offset-m1 l8 offset-l2" style="">
            <div class="col s12 m12 l12" style="margin-top: 20px; margin-bottom: 20px;">
                <h4 class="">
                    Available Module
                </h4>
            </div>

            <!--module 1-->
            <div class="col s12 m12 l12">
                <div class="card blue">
                    <div class="card-content white-text">
                        <div class="row">
                            <div class="white-text">
                                <span class="card-title">Active Module</span>
                                <p style="font-size: 14px; margin-top: 20px;">
                                    Here are the list of Active Module
                                </p>
                            </div>

                            <div class="col s12 m12 l12" style="margin-top: 10px;">
                                <div class="card white">
                                    {% for module in modules %}
                                        {% if module.is_active %}
                                            <div class="card-content black-text">
                                                <div class="black-text">
                                                    <span class="card-title">{{ module.short_name }}</span>
                                                    <p style="font-size: 14px; margin-top: 20px;">
                                                        {{ module.name }}
                                                    </p>

                                                    <p style="font-size: 14px; margin-top: 20px;">
                                                        Module Status : <span style="color: red">Active</span>
                                                    </p>

                                                    <form method="post">
                                                        {% csrf_token %}

                                                        <input type="hidden" name="module_id" value="{{ module.id }}" />
                                                        <input type="hidden" name="module_action" value="disable" />
                                                        <button style="margin-top: 20px;" type="submit" class="waves-effect waves-light btn">Disable This Module</button>
                                                    </form>
                                                </div>
                                            </div>

                                            <div class="divider #333">

                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--end active module-->

                <div class="card blue">
                    <div class="card-content white-text">
                        <div class="row">
                            <div class="white-text">
                                <span class="card-title">Disabled Module</span>
                                <p style="font-size: 14px; margin-top: 20px;">
                                    Here are the list of Disabled Module
                                </p>
                            </div>

                            <div class="col s12 m12 l12" style="margin-top: 10px;">
                                <div class="card white">
                                    {% for module in modules %}
                                        {% if not module.is_active %}
                                            <div class="card-content black-text">
                                                <div class="black-text">
                                                    <span class="card-title">{{ module.short_name }}</span>
                                                    <p style="font-size: 14px; margin-top: 20px;">
                                                        {{ module.name }}
                                                    </p>

                                                    <p style="font-size: 14px; margin-top: 20px;">
                                                        Module Status : <span style="color: red">Disabled</span>
                                                    </p>

                                                    <form method="post">
                                                        {% csrf_token %}

                                                        <input type="hidden" name="module_id" value="{{ module.id }}" />
                                                        <input type="hidden" name="module_action" value="active" />
                                                        <button style="margin-top: 20px;" type="submit" class="waves-effect waves-light btn">Active This Module</button>
                                                    </form>
                                                </div>
                                            </div>

                                            <div class="divider #333">

                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--end module 1-->

        </div>
    </div>
{% endblock %}
