{% extends 'admin-base_v_1.html' %}

{% block title %}Recent Update | BeTheMillionaire{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">
{% endblock %}


{% block left_menu %}
    <div class="col s12 m12 l12 #1a237e indigo orange-text darken-4 left_main_menu" style="padding: 10px; margin-bottom: 20px; margin-top: 30px;">
        <a class="left col s12 m12 l12" href="{% url 'administration:index' %}" style="padding: 10px;">Dashboard
            <span class="right" style=""> > </span>
        </a>

        <a class="left col s12 m12 l12" href="{% url 'administration:all-user' %}" style="padding: 10px;">User management
            <span class="right" style=""> > </span>
        </a>

        <a class="left col s12 m12 l12" href="{% url 'administration:payment-management' %}" style="padding: 10px;">Payment management
            <span class="right" style=""> > </span>
        </a>

        <a class="left col s12 m12 l12" href="{% url 'administration:course-management' %}" style="padding: 10px;">Course management
            <span class="right" style=""> > </span>
        </a>

        <a class="left col s12 m12 l12" href="{% url 'administration:affiliate-link-control' %}" style="padding: 10px;">Affiliate link
            <span class="right" style=""> > </span>
        </a>

        <a class="left col s12 m12 l12" href="{% url 'administration:webinar-registration-link' %}" style="padding: 10px;">Webinar reg link
            <span class="right" style=""> > </span>
        </a>

        <a class="left col s12 m12 l12" href="{% url 'administration:create-leader-board' %}" style="padding: 10px;">Leader board
            <span class="right" style=""> > </span>
        </a>


        <a class="left col s12 m12 l12 white-text" href="{% url 'administration:recent-update-home' %}" style="padding: 10px;">Recent Update
            <span class="right" style=""> > </span>
        </a>


        <!--recent update submenu-->
        <a class="left col s12 m12 l10 offset-l1" href="{% url 'administration:recent-update-post' %}" style="padding: 10px;">Post
            <span class="right" style=""> > </span>
        </a>

        <a class="left col s12 m12 l10 offset-l1 white-text" href="{% url 'administration:recent-update-post-all' %}" style="padding: 10px;">View
            <span class="right" style=""> > </span>
        </a>
        <!--end recent update submenu-->

        <a class="left col s12 m12 l12" href="{% url 'administration:live-video-link-update' %}" style="padding: 10px;">Live video link
            <span class="right" style=""> > </span>
        </a>
    </div>
{% endblock %}


{% block admin_content %}


<div class="col s12 m10 offset-m1 l10 offset-l1" style="">
    <div class="col s12 m12 l12" style="margin-top: 20px; margin-bottom: 20px;">
        <h5 class="">
            Recent Update Post - {{ post.id }}
        </h5>
    </div>


    <div class="col m12 l12 left-align">

        <h5>Title</h5>
        <p>
            {{ post.title }}
        </p>


        <h5>Post</h5>
        <p>
            {{ post.post }}
        </p>

    </div>


    <a style="margin-top: 20px; margin-bottom: 50px;" href="{% url 'administration:recent-update-post-all' %}" class="waves-effect waves-light btn">Back to all post</a>
    <a style="margin-top: 20px; margin-bottom: 50px;" href="{% url 'administration:recent-update-post-edit' post_id=post.id %}" class="waves-effect waves-light btn">Edit This Post</a>
    <a style="margin-top: 20px; margin-bottom: 50px;" href="{% url 'administration:recent-update-post-delete' post_id=post.id %}" class="waves-effect waves-light btn">Delete This Post</a>


</div>


{% endblock %}





