{% extends 'admin-base_v_1.html' %}

{% block title %}User Management | BeTheMillionaire{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">
{% endblock %}


{% block left_menu %}
    <div class="col s12 m12 l12 #1a237e indigo orange-text darken-4 left_main_menu" style="padding: 10px; margin-bottom: 20px; margin-top: 30px;">
        <a class="left col s12 m12 l12" href="{% url 'administration:index' %}" style="padding: 10px;">Dashboard
            <span class="right" style=""> > </span>
        </a>

        <a class="left col s12 m12 l12 white-text" href="{% url 'administration:all-user' %}" style="padding: 10px;">User management
            <span class="right" style=""> > </span>
        </a>

        <a class="left col s12 m12 l12" href="{% url 'administration:payment-management' %}" style="padding: 10px;">Payment management
            <span class="right" style=""> > </span>
        </a>

        <a class="left col s12 m12 l12" href="{% url 'administration:course-management' %}" style="padding: 10px;">Course management
            <span class="right" style=""> > </span>
        </a>

        <a class="left col s12 m12 l12" href="{% url 'administration:affiliate-link-control' %}" style="padding: 10px;">Affiliate link
            <span class="right" style=""> > </span>
        </a>

        <a class="left col s12 m12 l12" href="{% url 'administration:webinar-registration-link' %}" style="padding: 10px;">Webinar reg link
            <span class="right" style=""> > </span>
        </a>

        <a class="left col s12 m12 l12" href="{% url 'administration:create-leader-board' %}" style="padding: 10px;">Leader board
            <span class="right" style=""> > </span>
        </a>


        <a class="left col s12 m12 l12" href="{% url 'administration:recent-update-home' %}" style="padding: 10px;">Recent Update
            <span class="right" style=""> > </span>
        </a>

        <a class="left col s12 m12 l12" href="{% url 'administration:live-video-link-update' %}" style="padding: 10px;">Live video link
            <span class="right" style=""> > </span>
        </a>
    </div>
{% endblock %}


{% block admin_content %}






<div class="col s12 l12" style="">
    <div class="col s12 m12 l12">
        <div class="col s12 m12 l12" style="margin-top: 40px;">
            <div class="col m2">
                {% if user.profile_picture %}
                <img src="{{ user.profile_picture.url }}" width="100%" height="100%">
                {% else %}
                <img src="/media/no-img.jpg" width="100%" height="100%">
                {% endif %}
            </div>

            <div class="col m8" style="">
                <p style="font-size: 18px;">{{ user.username | title }}</p>
                <p style="font-size: 14px;">@mail : {{ user.email }}</p>

                {% if user.phone_number %}
                    <p style="font-size: 14px;">@call : {{ user.phone_number }}</p>
                {% endif %}

                {% if user.is_staff or user.is_superuser %}
                    <p style="font-size: 14px;">@status : <span style="color: blue;">Staff</span></p>
                {% endif %}

                {% if user.is_active %}
                    <p style="font-size: 14px;">@profile : <span style="color: green;">Active</span></p>
                {% else %}
                    <p style="font-size: 14px;">@profile : <span style="color: red;">Deactive</span></p>
                {% endif %}

                <p>Sponsor : {{ user.sponsor.username | title }}</p>

                <p>
                    <a href="{% url 'administration:user-referral' user_id=user.id %}">See All Referrals</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col s12 l4 white" style="">

        <div class="col s12 m12 l12" style="margin-bottom: 50px; margin-top: 40px;">
            <p class="left" style="font-size: 22px;">Basic Information</p>

            <a href="{% url 'administration:edit-user' user_id=user.id %}" class="right" style="font-size: 14px;">edit profile</a>
            <p class="col s12 m12 l12 divider" style="margin-top: 5px;"></p>

            <div class="col s12 m12 l12" style="padding: 10px; margin-top: 5px;">
                <p>Username : {{ user.username | title }}</p>
                <p>Email : {{ user.email }}</p>
                {% if user.phone_number %}
                    <p>Phone : {{ user.phone_number }}</p>
                {% endif %}
                <p>Facebook : {{ user.facebook }}</p>
                <p>Skype : {{ user.skype }}</p>
                <p>Website : {{ user.website }}</p>
                <p>Join Date : {{ user.join_date | date }}</p>

                <a href="{% url 'administration:change-user-password' user_id=user.id %}" class="waves-effect waves-light btn green white-text" style="margin-top: 20px;">Change password</a>

                <br>

                {% if user.is_active %}
                    <a href="{% url 'administration:active-deactive-user' profile_status='deactivate' user_id=user.id %}" class="waves-effect waves-light btn red white-text" style="margin-top: 20px;">Deactivate This Account</a><br>
                {% else %}
                    <a href="{% url 'administration:active-deactive-user' profile_status='activate' user_id=user.id %}" class="waves-effect waves-light btn red white-text" style="margin-top: 20px;">Activate This Account</a><br>
                {% endif %}

                <a href="{% url 'administration:delete-user' user_id=user.id %}" class="waves-effect waves-light btn red white-text" style="margin-top: 20px;">Delete This Account</a>

            </div>
        </div>
    </div>

    <div class="col s12 l4 white" style="">
        <div class="col s12 m12 l12" style="margin-bottom: 50px; margin-top: 40px;">
            <p class="left" style="font-size: 22px;">Membership</p>

            <p class="col s12 m12 l12 divider" style="margin-top: 5px;"></p>

            <div class="col s12 m12 l12" style="padding: 10px; margin-top: 5px;">
                <p>Membership Name : {{ user.membership.name }}</p>
                <p>Membership Package : {{ user.membership.package }}</p>
                <p>Membership Price : ${{ user.membership.price }}</p>
                <br>
                <p>Start Date : {{ user.payments.creation_time }}</p>
                <p>Expired On : {{ user.payments.expired_time }}</p>

                <a href="{% url 'administration:change-membership' user_id=user.id %}" class="waves-effect waves-light btn green white-text" style="margin-top: 20px;">Change membership</a>

            </div>
        </div>
    </div>

    <div class="col s12 l4 white" style="">
        <div class="col s12 m12 l12" style="margin-bottom: 50px; margin-top: 40px;">
            <p class="left" style="font-size: 22px;">Payment Information</p>

            <p class="col s12 m12 l12 divider" style="margin-top: 5px;"></p>

            <div class="col s12 m12" style="margin-top: 30px;">
                {% for payment in payments %}
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">{{ payment.user.username | title }} : {{ payment.creation_time }}</span>

                            <p class="col s12 m12 l12 divider"></p>

                            <p style="margin-top: 20px;">Username: {{ payment.user.username | title }}</p>
                            <p>Intent: {{ payment.intent }}</p>
                            <p>Payer ID: {{ payment.payer_ID }}</p>
                            <p>Payment ID: {{ payment.payment_ID }}</p>
                            <p>Payment Token: {{ payment.payment_Token }}</p>
                            <p>Membership Name: {{ payment.membership.name }}</p>
                            <p>Membership Package: {{ payment.membership.package }}</p>
                            <p>Membership Price: ${{ payment.membership.price }}</p>
                            <p>Time: {{ payment.creation_time }}</p>
                            <p>
                                {% if payment.is_verify == 'pending' %}
                                    Is verified: <span class="red-text">{{ payment.is_verify | title }}</span><br>
                                    <a style="margin-top: 10px;" href="{% url 'administration:payment-detail' payment_id=payment.id %}" class="btn green">View</a>
                                {% else %}
                                    Is verified: <span class="red-text">{{ payment.is_verify | title }}</span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>







{% endblock %}





