<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BeTheMillionaire | Access</title>

    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'account/style/images/logo/favicon.png' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'account/style/materialize.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'account/style/login.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">

    <style>
        .container{
            min-width: 100%;
        }

        .container > .row {
            margin: 0;
        }


        .container > .row > .col {
            padding: 0;
        }

        *{
            padding: 0px;
            margin: 0px;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="row" style="">
            <div class="col s12 m12 l4 #b3e5fc light-blue lighten-4" id="left-section" style="">
                <div class="col s12 m12 l12 valign-wrapper" style="height: 130px; margin-bottom: 20px;">
                    <div class="center-align logo" style="width: 100%">
                        Be theMillionaire
                    </div>
                </div>


                <div class="col s12 m12 l12" style="margin-top: 10px;">
                    <a target="_blank" href="{% url 'account:login' %}"><div class="card blue" style="cursor: pointer;">
                        <div class="card-content white-text">
                            <h5 class="center-align">
                                1. Click Here To Login BeTheMillionaire Club!
                            </h5>
                        </div>
                    </div></a>
                </div>

                <div class="col s12 m12 l12" style="margin-top: 10px;">
                    <a href="https://www.facebook.com/groups/bitcoinswealthclub/" target="_blank"><div class="card blue" style="cursor: pointer;">
                        <div class="card-content white-text">
                            <h5 class="center-align">
                                2. Join Our Official Facebook Group
                            </h5>
                        </div>
                    </div></a>
                </div>

                <div class="col s12 m12 l12" style="margin-top: 10px;">
                    <div class="card blue" style="cursor: pointer;">
                        <div class="card-content white-text">
                            <h5 class="center-align">
                                3. Register For Our Weekly New Member Orientation Live Webinar
                            </h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m12 l8" id="right-section" style="">
                <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1" style="margin-top: 10px;">
                    <div class="col s12 m12 l12" style="">
                        <h4 class="center-align red-text">
                            Congratulations! Welcome To Bitcoins Wealth Club System Where We Are Helping People Become Bitcoin Millionaires!
                        </h4>
                    </div>
                </div>

                <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1" style="">
                    <p style="font-size: 20px;">
                        Please check your email with your login information and Step-By-Step Instructions how to get started fast and complete the 3 steps below!
                    </p>
                </div>

                <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1" style="margin-top: 20px; height: 400px;">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/-2X4mB4hyLA" frameborder="0" gesture="media" allow="encrypted-media" autoplay="true" allowfullscreen></iframe>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col s12 m12 l12">
                <div id="footer" class="valign-wrapper">
                    <p style="margin-left: 50px;">All right reserverd by bethemillionaire @ 2017-2017</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript" src="{% static 'home/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'home/js/materialize.min.js' %}"></script>
