{% extends 'base.html' %}

{% block title %}Payment Failed | BeTheMillionaire{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col s12 m12 l12" style="">
            <div class="col s12 m12 l8 offset-l2 main-content" style="">
                <br><br>
                <div class="collection">
                    <h5 class="collection-item white red-text"><span class="badge"></span>An Error Occurred, We can not process your payment!</h5>
                </div><br><br>

                <p>
                    <a href="#">Try Again</a>
                </p>

                <br><br>

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}
