<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BeTheMillionaire | Login</title>

    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'account/style/materialize.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Changa" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>


    <style>
        .container{
            min-width: 100%;
        }

        .container > .row {
            margin: 0;
        }


        .container > .row > .col {
            padding: 0;
        }

        *{
            padding: 0px;
            margin: 0px;
            font-family: 'Changa', 'myFont';
        }

        @font-face {
            font-family: 'myFont';
            src: url('/static/account/fonts/myFont.ttf');
        }

        #toast-container {
          top: auto !important;
          right: auto !important;
          bottom: 10%;
          left:7%;
        }

        .preloader-background {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;

            position: fixed;
            z-index: 100;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    </style>
</head>

<body class="#eceff1 blue-grey lighten-5">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2 l8 offset-l2">
                <!--nav-->
                <div class="col s12 m12 l12 black white-text valign-wrapper" style="min-height: 100px;">
                    <div class="col m6" style="">
                        <p style="font-size: 35px;"><b>BeTheMillionaire</b></p>
                    </div>

                    <div class="col m6 right-align" style="">
                        <p style="font-size: 25px; color: red; margin-top: 30px;">Login</p>
                    </div>
                </div>
                <!--end nav-->

                <!--sign up form-->
                <div class="col s12 m12 l12 white center-align" style="">
                    <h4 class="col s12 m12 l12" style="margin-top: 40px;">You are in the right place!! We introduce you a new way, how to be millionaire</h4>

                    <p class="col s12 m12 l12 divider" style="margin-top: 30px;"></p>

                    <form class="col s12 m10 offset-m1 l10 offset-l1" method="post" style="margin-top: 50px; margin-bottom: 50px;">
                        {% csrf_token %}

                        <div class="input-field col s12 m12 l12">
                            <i class="material-icons prefix">account_circle</i>
                            {{ form.username }}
                            <label for="icon_prefix white-text">Username</label>
                        </div>

                        <div class="input-field col s12 m12 l12">
                            <i class="material-icons prefix">lock</i>
                            {{ form.password }}
                            <label for="icon_prefix white-text">Password</label>
                        </div>


                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <div class="col s12 m10 offset-m1 l10 offset-l1 collection red" style="border: 0px;">
                                    <p href="#!" class="collection-item white-text red">{{ error }}</p>
                                </div>
                            {% endfor %}
                        {% endif %}

                        <p class="col s12 m10 offset-m1" style="margin-top: 20px;">
                            <a href="{% url 'password_reset' %}">Forgot password?</a>
                        </p>

                        <p class="col s12 m10 offset-m1">
                            Don't have an account yet?
                            <a href="{% url 'account:registration' %}">Registration</a>
                        </p>

                        <div class="col s12 m12 l12" style="margin-top: 20px;">
                            <button class="btn waves-effect waves-light black" type="submit" style="">Login
                            </button>
                        </div>
                    </form>

                    <p class="col s12 m12 l12 divider" style="margin-top: 30px;"></p>


                    <h5 class="col s12 m12 l12" style="margin-top: 50px;"><span class="blue white-text" style="padding: 10px;">Register</span> today and get those benefits:</h5>



                    <div class="col s12 m12 l12 left-align">
                        <div class="col m6 offset-m3">
                            <p style="margin-top: 20px;">
                                <i class="material-icons">check</i> Get Access To Top Bitcoin Education & Resources
                            </p>

                            <p>
                                <i class="material-icons">check</i> Earn Multiple Streams Of Passive Income Daily
                            </p>

                            <p>
                                <i class="material-icons">check</i> Earn Minimum 0.4% – 2% a day returns
                            </p>

                            <p>
                                <i class="material-icons">check</i> Multiple your money by minimum 470% a year
                            </p>

                            <p>
                                <i class="material-icons">check</i> Easy To Follow Step-By-Step System
                            </p>

                            <p>
                                <i class="material-icons">check</i>  100% Free To Join BeTheMillionaire!
                            </p>
                        </div>

                        <div class="col s12 m12 l12 center-align" style="margin-bottom: 50px; margin-top: 40px;">
                            <a href="{% url 'account:registration' %}" class="btn waves-effect waves-light red pulse" type="submit" style="">Registration
                            </a>
                        </div>
                    </div>
                </div>
                <!--end sign up form-->

                <p class="col s12 m12 l12 center-align" style="margin-top: 40px; margin-bottom: 40px;">
                    &copy; copyright 2018-2018 Mena Refaat & BeTheMillionaire
                </p>

            </div>
        </div>
    </div>

    <!--preloader-->

    <div class="preloader-background">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-orange-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <!--end preloader-->

    <script type="text/javascript" src="{% static 'account/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'account/js/materialize.min.js' %}"></script>
</body>
</html>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        $('.preloader-background').delay(1700).fadeOut('slow');

        $('.preloader-wrapper')
            .delay(1700)
            .fadeOut();
    });

    $(document).ready(function () {
        $.ajax({
        url: '/account/api/user-profile/',
        data: { "user_range":1, },
        dataType: 'json',
        success: function (data) {
            username = data[0].username;

            var toastHTML = `
              <div class="col s12 m12 l12 valign-wrapper" style="">
                <a href="{% url 'account:public-profile' %}?userid=${username}" class="white-text" style="text-decoration: underline;">${username} </a> &nbsp; Just joined!
              </div>
            `

            M.toast({html: toastHTML });
        }
        });
    });

    $(function() {
      setInterval(update, 5000);
    });

    function dissmiss(){
        M.Toast.dismissAll();
    }

    function update() {
      $.ajax({
        url: '/account/api/user-profile/',
        data: { "user_range":1, },
        dataType: 'json',
        success: function (data) {
            username = data[0].username;

            var toastHTML = `
              <div class="col s12 m12 l12 valign-wrapper" style="">
                <a href="{% url 'account:public-profile' %}?userid=${username}" class="white-text" style="text-decoration: underline;">${username} </a> &nbsp; Just joined!
              </div>
            `

            M.toast({html: toastHTML });

        }
        });
    }
</script>
