{% extends 'base.html' %}

{% block title %}My Auto Responder Settings | BeTheMillionaire{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col s12 m12 l12" style="">
            <div class="col s12 m12 l9 right main-content" style="">
                <div class="col s12 m12 l10 offset-l1" style="margin-top: 10px;">
                    <div class="card blue">
                        <div class="card-content white-text">
                            <span class="card-title">Connect Your Autoresponder</span>
                            <p>
                                If you want to collect the email addresses of all of your referrals to BeTheMillionaire on all the Pre-Registration pages so you can follow up with them then connect your Autoresponder below, I recommend either Getresponse, please follow the tutorials. If you don't have your Autoresponder set up yet then you can create an account on this page.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m8 offset-m2 l18 offset-l2" style="margin-top: 20px;">
                    <div class="col s12 m12 l12">
                        <ul class="tabs">
                            <li class="tab col s4"><a class="active black-text" href="#autoresponders-setup">My Autoresponders</a></li>
                            <li class="tab col s4"><a class="black-text" href="#getresponsesetup">GetResponse Setup</a></li>
                            <!--<li class="tab col s4"><a class="black-text" href="#other">Other</a></li>-->
                        </ul>
                    </div>
                </div>

                <div class="col s12 m8 offset-m2 l18 offset-l2" style="margin-top: 20px;">
                    <!--autoresponders setup-->
                    <div id="autoresponders-setup" class="col s12">
                        <div class="col s12 m12 l12" style="margin-top: 20px;">
                            <div class="col s12 m12 l12">
                                <ul class="tabs">
                                    <li class="tab col s4"><a class="active black-text" href="#getresponseautoresponders">GetResponse</a></li>
                                    <!--<li class="tab col s4"><a class="black-text" href="#aweberautoresponders">Aweber</a></li>
                                    <li class="tab col s4"><a class="black-text" href="#others">Other</a></li>-->
                                </ul>
                            </div>
                        </div>

                        <!--getresponse form-->
                        <div id="getresponseautoresponders" class="col s12" style="margin-top: 20px; margin-bottom: 20px;">
                            <form method="post">
                                {% csrf_token %}

                                <div class="input-field col s12 m10 offset-m1 l10 offset-l1">
                                    <i class="material-icons prefix">assistant_photo</i>
                                    {{ getresponseform.campaignId }}
                                    <label for="icon_prefix white-text">Campaign Id</label>
                                </div>

                                <div class="input-field col s12 m10 offset-m1 l10 offset-l1">
                                    <i class="material-icons prefix">code</i>
                                    {{ getresponseform.api_key }}
                                    <label for="icon_prefix white-text">API KEY</label>
                                </div>

                                <div class="input-field col s12 m10 offset-m1 l10 offset-l1">
                                    <i class="material-icons prefix">contacts</i>
                                    {{ getresponseform.isEnable }}
                                    <label for="icon_prefix white-text">System Follow Up Emails</label>
                                    <p>You can Enable / Disable System Follow Up Email By Write enable/disable</p>
                                </div>

                                {% if getresponseform.non_field_errors %}
                                    {% for error in getresponseform.non_field_errors %}
                                        <div class="col s12 m8 offset-m2 l8 offset-l2 collection teal lighten-2" style="border: 0px;">
                                            <p href="#!" class="collection-item white-text teal lighten-2">{{ error }}</p>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <button name="getresponseform" value="getresponseform" class="col s6 offset-s6 btn waves-effect waves-light" type="submit" style="width: 140px; height: 50px;">Save
                                    <i class="material-icons right">send</i>
                                </button>
                            </form>
                        </div>

                        <!--
                        <div id="aweberautoresponders" class="col s12" style="margin-top: 20px; margin-bottom: 20px;">
                            get response
                        </div>

                        <div id="others" class="col s12">
                            get response
                        </div>-->
                    </div>
                    <!--end autoresponders setup-->

                    <div id="getresponsesetup" class="col s12">
                        <h5 class="center-align">How To Set Up Your GetResponse Autoresponder</h5>

                        <div class="col s12 m12 l12" style="height: 350px; margin-top: 20px; margin-bottom: 20px;">
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/iWGOgcELX8Y" frameborder="0" gesture="media" allow="encrypted-media" autoplay="true" allowfullscreen></iframe>
                        </div>

                        <div class="col s12 m12 l12" style="margin-top: 20px;">
                            <a target="_blank" href="{{ get_response_account.getresponse_username }}"><div class="card blue" style="cursor: pointer;">
                                <div class="card-content white-text">
                                    <h5 class="center-align">
                                        Click Here To Create Your GetResponse Account
                                    </h5>
                                </div>
                            </div></a>
                        </div>

                        <div class="col s12 m12 l12" style="margin-top: 50px; margin-bottom: 30px;">
                            <p>
                                <b>1.</b> Create Your List By Logging Into GetResponse > Create Campaign > Name Campaign
                            </p>

                            <p>
                                <b>2.</b> Uncheck the Enable confirmed opt-in optoins under Permission of Campaign Settings
                            </p>

                            <p>
                                <b>3.</b> Change The "From Name" and "Email" to your name and email – For best deliver-ability use your own domain for “send from” email address.
                            </p>

                            <p>
                                <b>4.</b> Click on PreLoad Messages -> Change source account -> campaign name for autoresponders is BeTheMillionaire
                            </p>

                            <p>
                                <b>5.</b> Follow The Instructions in The “Edit Profile” above or Myaccount -> My Profile Settings To Connect GetResponse via API and Campaign name.
                            </p>

                            <p>
                                <b>6.</b> Test Your Autoresponder is working by Opting Into Your Own Capture Page here: <a href="{% url 'account:preregistration' %}?userid={{ request.user.username }}">https://www.bethemillionaire.com/?userid={{ request.user.username }}</a>
                            </p>

                        </div>

                    </div>

                    <!--
                    <div id="other" class="col s12">
                        other affiliate
                    </div>-->
                </div>
            </div>

            <!--end main-content -->

            <div class="col s12 m12 l3 left left-content" style="border-right: 1px solid #333; margin-top: 20px;">
                <div class="col s12 m12 l12">

                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'account:profile' %}">My Profile</a>
                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'home:payment-account-setting' %}">Payment Account Setting</a>
                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'home:my-commission' %}">My Commission</a>
                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'account:membership-levels' %}">Upgrade Membership</a>
                    <a class="col s12 m12 l12 navy-text" style="padding: 10px;" href="{% url 'account:my-autoresponder-settings' %}">My Autoresponder Setting</a>
                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'account:my-referrals' %}">My Referrals</a>

                </div>
            </div>
            <!--end left-content -->
        </div>
    </div>
{% endblock %}
