{% extends 'base.html' %}

{% block title %}My-Referrals | BeTheMillionaire{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col s12 m12 l12" style="">
            <div class="col s12 m12 l9 right main-content" style="">

                <div class="col s12 m12 l12" style="margin-bottom: 30px; margin-top: 20px;">
                    <h4 class="col s12 m4 l4 left" style="">Referred Users - {{ total_referrals }}</h4>

                    <form class="col m8 l8 left" method="post">
                        {% csrf_token %}
                        <div class="input-field col s12 m10 offset-m1 l10 offset-l1">
                            <i class="material-icons prefix">search</i>
                            {{ form.username }}
                            <label for="icon_prefix white-text">User Name</label>
                        </div>
                    </form>
                </div>

                {% if request.GET.userid %}
                    <div class="col s12 m12 l12" style="margin-top: 30px; margin-bottom: 30px; border: 1px solid #333;">
                        <h5>Search Results: </h5>
                        {% if user_exists %}
                            <div class="col s12 m12 l12">
                                <table class="centered responsive-table striped" style="margin-bottom: 20px;">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Membership-Status</th>
                                            <th>Referred</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for referral, referrals_referrals in s_lists %}

                                        <tr>
                                            <td><b>{{ forloop.counter }}. </b>{{ referral.date_joined.date }}</td>
                                            <td>{{ referral.username }}</td>
                                            <td>{{ referral.email }}</td>
                                            <td>{{ referral.membership }}</td>
                                            <td>{{ referrals_referrals }}</td>
                                        </tr>

                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <p>User not found!</p>
                        {% endif %}
                    </div>
                {% endif %}

                <div class="col s12 m12 l12">
                    <table class="centered responsive-table striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Membership-Status</th>
                                <th>Referred</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for referral, referrals_referrals in lists %}

                            <tr>
                                <td><b>{{ forloop.counter }}. </b>{{ referral.date_joined.date }}</td>
                                <td>{{ referral.username }}</td>
                                <td>{{ referral.email }}</td>
                                <td>{{ referral.membership }}</td>
                                <td>{{ referrals_referrals }}</td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!--end main-content -->

            <div class="col s12 m12 l3 left left-content" style="border-right: 1px solid #333; margin-top: 20px;">
                <div class="col s12 m12 l12">

                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'account:profile' %}">My Profile</a>
                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'home:payment-account-setting' %}">Payment Account Setting</a>
                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'home:my-commission' %}">My Commission</a>
                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'account:membership-levels' %}">Upgrade Membership</a>
                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'account:my-autoresponder-settings' %}">My Autoresponder Setting</a>
                    <a class="col s12 m12 l12 navy-text" style="padding: 10px;" href="{% url 'account:my-referrals' %}">My Referrals</a>

                </div>
            </div>
            <!--end left-content -->
        </div>
    </div>
{% endblock %}
