{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BeTheMillionaire | Recover Password</title>

    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'account/style/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/materialize.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">

    <style>

        .container{
            min-width: 100%;
        }

        .container > .row {
            margin: 0px;
            padding: 0px;
        }


        .container > .row > .col {
            padding: 0px;
            margin: 0px;
        }

    </style>

<!--main body-->
<div class="container">
    <div class="row" style="">
        <div class="col s12 m12 l12" style="padding: 0px; margin: 0px; margin-bottom: 0px;">
            <div class="col s12 m6 l4" style="padding: 0px; margin: 0px;">
                <div class="card-panel teal lighten-5" style="padding: 0px; margin: 0px; height: 675px;">
                    <form method="post" class="col s12 black-text" style="">
                        {% csrf_token %}

                        <div class="col s12 m12 l12 valign-wrapper" style="height: 130px; margin-bottom: 50px;">
                            <div class="center-align logo" style="width: 100%">
                                Be theMillionaire
                            </div>
                        </div>

                        {% if validlink %}

                        <div class="row">
                            <div class="input-field col s12 m10 offset-m1 l10 offset-l1">
                                <i class="material-icons prefix">lock</i>
                                {{ form.new_password1 }}
                                <label for="icon_prefix white-text">New Password</label>
                            </div>

                            <div class="input-field col s12 m10 offset-m1 l10 offset-l1">
                                <i class="material-icons prefix">repeat</i>
                                {{ form.new_password2 }}
                                <label for="icon_prefix white-text">Retype New Password</label>
                            </div>




                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <div class="col s12 m8 offset-m2 l8 offset-l2 collection teal lighten-2" style="border: 0px;">
                                        <p href="#!" class="collection-item white-text teal lighten-2">{{ error }}</p>
                                    </div>
                                {% endfor %}
                            {% endif %}



                            <button class="btn right" type="submit" value="{% trans 'Reset my password' %}" name="action" style="margin-right: 20px;">Reset Password
                            </button>

                            {% else %}
                                <p>
                                  The password reset link was invalid, possibly because it has already been used.
                                  Please request a new password reset.
                                </p>
                            {% endif %}

                            <div class="col s12 m8 offset-m1 l8 offset-l1" style="margin-top: 40px; font-size: 12px; ">
                                Know the password, <a href="{% url 'account:login' %}" class="gray-text">login</a> here!
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            <div class="col s12 m6 l8 hide-on-small-only" style="padding: 0px; margin: 0px;">
                <div class="card-panel" style="padding: 0px; margin: 0px; height: 675px;">
                    <img class="" src="{% static 'account/style/images/login_wallpaper.jpg' %}" height="100%" width="100%">
                </div>
            </div>
        </div>
    </div>
</div>
<!--end main body-->
<script type="text/javascript" src="{% static 'home/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'home/js/materialize.min.js' %}"></script>
