{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BeTheMillionaire | Recover Password</title>

    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'account/style/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/materialize.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">

    <style>

        .container{
            min-width: 100%;
        }

        .container > .row {
            margin: 0px;
            padding: 0px;
        }


        .container > .row > .col {
            padding: 0px;
            margin: 0px;
        }

    </style>

<!--main body-->
<div class="container">
    <div class="row" style="">
        <div class="col s12 m12 l12" style="padding: 0px; margin: 0px; margin-bottom: 0px;">
            <div class="col s12 m6 l4" style="padding: 0px; margin: 0px;">
                <div class="card-panel teal lighten-5" style="padding: 0px; margin: 0px; height: 675px;">
                    <form method="post" class="col s12 black-text" style="">
                        {% csrf_token %}

                        <div class="col s12 m12 l12 valign-wrapper" style="height: 130px; margin-bottom: 50px;">
                            <div class="center-align logo" style="width: 100%">
                                Be theMillionaire
                            </div>
                        </div>

                        <div class="row col s12 m12 l12">
                            Password was successfully reset.<br>
                            You can <a href="{% url 'account:login' %}">Login</a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col s12 m6 l8 hide-on-small-only" style="padding: 0px; margin: 0px;">
                <div class="card-panel" style="padding: 0px; margin: 0px; height: 675px;">
                    <img class="" src="{% static 'account/style/images/login_wallpaper.jpg' %}" height="100%" width="100%">
                </div>
            </div>
        </div>
    </div>
</div>

    <!--preloader-->

    <div class="preloader-background">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <!--end preloader-->


<!--end main body-->


<!--add js-->
<!--js-->
<script type="text/javascript" src="{% static 'home/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'home/js/materialize.min.js' %}"></script>

<script>
    //--preloader script
        document.addEventListener("DOMContentLoaded", function(){
            $('.preloader-background').delay(1700).fadeOut('slow');

            $('.preloader-wrapper')
                .delay(1700)
                .fadeOut();
        });
</script>
<!--end js-->
