<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pre Usi | BeTheMillionaire</title>

    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'account/style/images/logo/favicon.png' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'account/style/materialize.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'account/style/login.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">

    <style>
        .container{
            min-width: 100%;
        }

        .container > .row {
            margin: 0;
        }


        .container > .row > .col {
            padding: 0;
        }

        *{
            padding: 0px;
            margin: 0px;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="row" style="">
            <div class="col s12 m12 l4 #b3e5fc light-blue lighten-4" id="left-section" style="">
                <div class="col s12 m12 l12 valign-wrapper" style="height: 130px; margin-bottom: 20px;">
                    <div class="center-align logo" style="width: 100%">
                        Be theMillionaire
                    </div>
                </div>

                <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1" style="">
                    <p>
                        (Previously insiders only – now available to everyday people)
                    </p>
                </div>

                <div class="col s12 m12 l12" style="margin-top: 40px;">
                    <a class="modal-trigger" href="#modal1"><div class="card blue" style="cursor: pointer;">
                        <div class="card-content white-text">
                            <h5 class="center-align">
                                Yes, GIVE ME FREE ACCESS NOW!
                            </h5>
                        </div>
                    </div></a>
                </div>

                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h5 style="color: red;">
                            Enter Your Best Email Below To Get Access To This Wealth Building Strategy...
                        </h5>
                        <form method="post" onsubmit="return validation()">
                            {% csrf_token %}

                            <div class="input-field col s12 m10 offset-m1 l10 offset-l1">
                                <i class="material-icons prefix">email</i>
                                <!--<input id="icon_prefix" type="text" class="validate">-->
                                {{ form.email }}
                                <label for="icon_prefix white-text">Email</label>
                            </div>

                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <div class="col s12 m8 offset-m2 l8 offset-l2 collection teal lighten-2" style="border: 0px;">
                                        <p href="#!" class="collection-item white-text teal lighten-2">{{ error }}</p>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <button id="reg" class="col s6 offset-s6 btn waves-effect waves-light" type="submit" name="action" style="width: 140px; height: 50px; margin-bottom: 20px;">Next
                                <i class="material-icons right">send</i>
                            </button>
                        </form>

                    </div>
                </div>

            </div>

            <div class="col s12 m12 l8" id="right-section" style="">
                <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1" style="">
                    <h3 style="color: red;">NEW CUTTING EDGE WEALTH BUILDING STRATEGY FINALLY REVEALED TO THE GENERAL PUBLIC...</h3>
                </div>

                <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1" style="">
                    <h4>
                        Discover How To Multiply Your Money By <span style="background-color: yellow;">Minimum 472% A Year Passively</span> Without Doing Any Work & Earn $1K – $2K Daily On Autopilot Leveraging 100% FREE System…
                    </h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 l12">
                <div id="footer" class="valign-wrapper">
                    <p style="margin-left: 50px;">All right reserverd by bethemillionaire @ 2017-2017</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript" src="{% static 'home/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'home/js/materialize.min.js' %}"></script>
<script>
        $(document).ready(function(){
        $('.modal').modal();
  });


  function validation(){
    var email = $("input[name=email]").val();

        if(email.length != 0){
            if(validateEmail(email)){

                return true;

            }else{
                var err_msg = "Email address not correct!";
                alert(err_msg);
                return false;
            }
        }else{
            var err_msg = "Enter email!";
            alert(err_msg);
            return false;
        }
  }

  function validateEmail(email) {
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
}
</script>
