{% extends 'base1.html' %}

{% block title %}{{ request.user.username }} | Profile{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">

    <style>
        .left_main_menu a{
            color: orange;
        }

        .left_main_menu a:hover{
            color: white;
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col m4 l2 blue" style="border: 1px solid #333; height: 650px;">
            <div class="col s12 m12 l12 #1a237e indigo orange-text darken-4 center-align" style="padding: 10px;">
                <h5>My Profile</h5>
            </div>

            <div class="col s12 m12 l12 white center-align" style="min-height: 200px;">
                {% if request.user.profile_picture %}
                    <img class="col m10 offset-m1 l10 offset-l1" src="{{ request.user.profile_picture.url}}" height="100%" width="100%" style="margin-top: 20px;" alt="">
                {% else %}
                    <img class="col m10 offset-m1 l10 offset-l1" src="{% static 'account/style/images/no-img.jpg' %}" height="100%" width="100%" style="margin-top: 20px;" alt="">
                {% endif %}
                <p style="margin-bottom: 10px;">@{{ request.user.username | title }}</p>
            </div>

            <div class="col s12 m12 l12 #1a237e indigo orange-text darken-4 left_main_menu" style="padding: 10px;">
                <a class="left col s12 m12 l12 white-text" href="{% url 'account:profile' %}" style="padding: 10px;">Profile
                    <span class="right" style=""> > </span>
                </a>

                <a class="left col s12 m12 l12" href="{% url 'account:affiliate-network' %}" style="padding: 10px;">Other Affiliate Network
                    <span class="right" style=""> > </span>
                </a>

                <a class="left col s12 m12 l12" href="" style="padding: 10px;">My Membership
                    <span class="right" style=""> > </span>
                </a>

                <a class="left col s12 m12 l12" href="" style="padding: 10px;">Change Password
                    <span class="right" style=""> > </span>
                </a>

                <a class="left col s12 m12 l12" href="" style="padding: 10px;">Change Profile Picture
                    <span class="right" style=""> > </span>
                </a>
            </div>
        </div>

        <div class="col m8 l10 #eceff1 blue-grey lighten-5" style="height: 650px; padding: 30px;">
            <div class="col s12 l8 offset-l2 white z-depth-2 center-align" style="height: 550px; padding: 30px;">


                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="col s12 m10 offset-m1 l10 offset-l1 left-align">
                        <h5>Basic Information</h5>
                    </div>

                    <div class="input-field col s12 m10 offset-m1 l10 offset-l1">
                        {{ user_edit_form.email }}
                        <label for="icon_prefix white-text">Email</label>
                    </div>

                    <div class="input-field col s12 m10 offset-m1 l10 offset-l1">
                        {{ user_edit_form.phone_number }}
                        <label for="icon_prefix white-text">Phone Number</label>
                    </div>

                    <div class="input-field col s12 m10 offset-m1 l10 offset-l1">
                        {{ user_edit_form.website }}
                        <label for="icon_prefix white-text">Website</label>
                    </div>

                    <div class="input-field col s12 m10 offset-m1 l10 offset-l1">
                        {{ user_edit_form.facebook }}
                        <label for="icon_prefix white-text">Facebook</label>
                    </div>

                    <div class="input-field col s12 m10 offset-m1 l10 offset-l1">
                        {{ user_edit_form.skype }}
                        <label for="icon_prefix white-text">Skype</label>
                    </div>

                    <button type="submit" name="account_info" value="account_info" style="margin-bottom: 20px;" class="btn">Update</button>

                </form>



            </div>
        </div>

    </div>
{% endblock %}
