<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secrets to Wealth Final Step | BeTheMillionaire</title>

    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'account/style/images/logo/favicon.png' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'account/style/materialize.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'account/style/login.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">

    <style>
        .container{
            min-width: 100%;
        }

        .container > .row {
            margin: 0;
        }


        .container > .row > .col {
            padding: 0;
        }

        *{
            padding: 0px;
            margin: 0px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row" style="">
            <div class="col s12 m12 l4 #b3e5fc light-blue lighten-4" id="left-section" style="">
                <div class="col s12 m12 l12 valign-wrapper" style="height: 100px; margin-bottom: 10px;">
                    <div class="center-align logo" style="width: 100%">
                        Be theMillionaire
                    </div>
                </div>

                <div class="col s12 m12 l12 center-align">
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">REGISTER NOW</a>
                </div>

                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h5 style="color: red;">
                            Register Below To Get Free Access To Bitcoins Wealth Club System & The Course ``Secrets To Growing Your Wealth In Bitcoins``
                        </h5>
                        <form method="post" onsubmit="return validation()">
                            {% csrf_token %}

                            <div class="input-field col s12 m10 offset-m1 l6">
                                <i class="material-icons prefix">account_circle</i>
                                <!--<input id="icon_prefix" type="text" class="validate">-->
                                {{ form.username }}
                                <label for="icon_prefix white-text">User Name</label>
                            </div>

                            <div class="input-field col s12 m10 offset-m1 l6">
                                <i class="material-icons prefix">email</i>
                                <!--<input id="icon_prefix" type="text" class="validate">-->
                                {{ form.email }}
                                <label for="icon_prefix white-text">Email</label>
                            </div>

                            <div class="input-field col s12 m10 offset-m1 l6">
                                <i class="material-icons prefix">lock</i>
                                <!--<input id="icon_telephone" type="password" class="validate">-->
                                {{ form.password1 }}
                                <label for="icon_telephone">Password</label>
                            </div>

                            <div class="input-field col s12 m10 offset-m1 l6">
                                <i class="material-icons prefix">repeat</i>
                                <!--<input id="icon_telephone" type="password" class="validate">-->
                                {{ form.password2 }}
                                <label for="icon_telephone">Password Again</label>
                            </div>

                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <div class="col s12 m8 offset-m2 l8 offset-l2 collection teal lighten-2" style="border: 0px;">
                                        <p href="#!" class="collection-item white-text teal lighten-2">{{ error }}</p>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <p class="col s10 offset-s1 m10 offset-l1 l8 offset-l2" style="font-size: 12px;">
                                By click Register, you will agree to our <a href="#">terms and conditions</a>.
                            </p>

                            <button id="reg" class="col s6 offset-s6 btn waves-effect waves-light" type="submit" name="action" style="width: 140px; height: 50px; margin-bottom: 20px;">Register
                                <i class="material-icons right">send</i>
                            </button>
                        </form>

                    </div>
                </div>


                <div class="col s12 m12 l12 center-align">
                    <h5>Here is a fraction of what you are going to learn inside the course:</h5>

                    <p>
                        <i class="material-icons">check</i>Discover Why Bitcoins Revolutionized Money & How To Start Using It Today To Grow Your Wealth So You Can <span style="background-color: yellow;">Secure Yours And Your Family Financial Future</span>
                    </p>

                    <p>
                        <i class="material-icons">check</i>Learn Why Bitcoins & Other Cryptocurrencies <span style="text-decoration: underline;">Is The Most Exciting Investment Vehicle</span> In The World Today
                    </p>

                    <p>
                        <i class="material-icons">check</i>How To <b>Earn MULTIPLE Streams Of PASSIVE INCOME In Bitcoins</b> Every Day
                    </p>

                    <p>
                        <i class="material-icons">check</i>The World’s Most Cutting Edge Insider Wealth Building Strategies To <span style="text-decoration: underline;">Passively And Safely Multiply Your Money By 5X Over & Over Again</span>
                    </p>

                    <p>
                        <i class="material-icons">check</i>How To <b>Make A Minimum 0.5% – 1.25% (Or More) Per Day ROI</b> Consistently Instead Of A Measly 0 – 10% A Year That 99% Of Population Are Used To
                    </p>

                    <p>
                        <i class="material-icons">check</i>How To Start Earning Money Today Without Any Previous Experience
                    </p>

                    <p>
                        <i class="material-icons">check</i>How To Massively Leverage Bitcoins Wealth Club System To Create Ultimate Duplication & Live A Freedom Lifestyle Of Your Dreams
                    </p>
                </div>

                <div class="col s12 m12 l12 center-align" style="margin-bottom: 20px;">
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">REGISTER NOW</a>
                </div>

            </div>

            <div class="col s12 m12 l8" id="right-section" style="">
                <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1" style="">
                    <h4 style="color: red;">FREE Course "How To Grow Your Wealth In Bitcoins" Reveals...</h4>
                </div>

                <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1" style="">
                    <h5>
                        The Easiest Way To Earn 0.3+ Bitcoins Per Day On Complete Auto-Pilot With 100% Free Bitcoins Wealth Club System...
                    </h5>
                </div>

                <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1" style="">
                    <p style="font-size: 18px; color: red; background-color: yellow;padding: 10px; margin-bottom: 10px;">
                        (Yes, for real, over 11,000+ people are using Bitcoins Wealth Club system to grow their wealth, register your 100% free account on this page)
                    </p>
                </div>

                <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1" style="height: 350px;">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/-2X4mB4hyLA" frameborder="0" gesture="media" allow="encrypted-media" autoplay="true" allowfullscreen></iframe>
                </div>

                <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1" style="color: red;">
                    <h5>
                        Register Your 100% Free Account Inside Bitcoins Wealth Club System & Get As A Bonus Comprehensive Step-By-Step Course "The Secrets To Grow Your Wealth In Bitcoins"
                    </h5>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col s12 m12 l12">
                <div id="footer" class="valign-wrapper">
                    <p style="margin-left: 50px;">All right reserverd by bethemillionaire @ 2017-2017</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript" src="{% static 'home/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'home/js/materialize.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $('.modal').modal();
  });


  function validation(){
    var username = $("input[name=username]").val();
    var email = $("input[name=email]").val();
    var password1 = $("input[name=password1]").val();
    var password2 = $("input[name=password2]").val();

    if(username.length != 0){
        if(email.length != 0){
            if(validateEmail(email)){
                if(password1.length >= 8){
                    if(password1 == password2){
                        return true;
                    }else{
                        var err_msg = "Password not matched!";
                        alert(err_msg);
                        return false;
                    }
                }else{
                    var err_msg = "Password too short( minimum 8 character! )";
                    alert(err_msg);
                    return false;
                }
            }else{
                var err_msg = "Email address not correct!";
                alert(err_msg);
                return false;
            }
        }else{
            var err_msg = "Enter email!";
            alert(err_msg);
            return false;
        }
    }else{
        var err_msg = "Enter Username!";
        alert(err_msg);
        return false;
    }
  }

  function validateEmail(email) {
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
}

</script>
