{% extends 'base.html' %}

{% block title %}Lesson 3 – The Complete Guide To Easily Buying Bitcoins Online & Offline | BeTheMillionaire{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col s12 m12 l12" style="">
            <div class="col s12 m12 l9 right main-content" style="">
                <div class="col s12 m10 offset-m1 l10 offset-l1" style="margin-top: 20px;">
                    <h4 class="center-align">
                        Lesson 3 – The Complete Guide To Easily Buying Bitcoins Online & Offline
                    </h4>
                </div>

                <div class="col s12 m10 offset-m1 l10 offset-l1" style="margin-top: 20px;">
                    <p class="">
                        Step Progress ( 2/4 )
                    </p>
                </div>

                <div class="col s12 m12 l10 offset-l1" style="margin-top: 20px; height: 400px;">
                    {% for video in videos %}
                        {{ video.video_link | safe }}
                    {% endfor %}
                </div>

                <!--tab buy bitcoins-->

                <div class="col s12 m12 l10 offset-l1" style="margin-top: 50px;">
                    <div class="col s12 m10 offset-m1 l10 offset-l1 center-align" style="margin-top: 50px;">
                        <h5 class="">
                            How to buy bitcoins? It’s as simple as 1,2,3
                        </h5>
                    </div>

                    <div class="col s12 m10 offset-m1 l10 offset-l1" style="margin-top: 30px; margin-bottom: 30px;">
                        <p><b>1. Find a good Bitcoin Exchange</b></p>
                        <p><b>2. Trade your local currency (like USD or Euro) for Bitcoins</b></p>
                        <p><b>3. Move your Bitcoins into a secure wallet</b></p>
                    </div>

                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s4"><a style="font-size: 12px;" class="active black-text" href="#buy_bitcoins_credit_card">Buy Bitcoins With Credit Card</a></li>
                            <li class="tab col s4"><a style="font-size: 12px;" class="black-text" href="#buy_bitcoins_cash">Buy Bitcoins With Cash</a></li>
                            <li class="tab col s4"><a style="font-size: 12px;" class="black-text" href="#buy_bitcoins_bank_wires">Buy Bitcoins With Bank Wires</a></li>
                        </ul>
                    </div>

                    <!--tab buy_bitcoins_credit_card-->
                    <div class="col s12 m12 l12" id="buy_bitcoins_credit_card" style="padding: 30px;">
                        <p>
                            Credit cards is one of the easiest and quickest way to buy bitcoins online
                            You’ll get Bitcoins instantly once initial verification of your identity is complete, it’s very convenient to buy.
                            Typically cheaper fees than any Bitcoin ATM Machine.
                            Cons: Usually you pay a little higher fees buying with a credit card, so if you're patient and not in a rush to buy then use a bank transfer to pay lower fees
                            It’s not a private way to buy so your ID will be required to buy with a credit card
                        </p>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="{{ coin_mama_account.coin_mama_username }}">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">Coinmama (Worldwide)</p>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="{{ coin_base_account.coinbase_username }}">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">Coinbase (US, CA, EU)</p>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="{{ cex_io_account.cexio_username }}">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">Cex.io (Worldwide)</p>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="{{ bit_panda_account.bitpanda_username }}">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">BitPanda (Europe)</p>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="{{ inda_coin_account.indacoin_username }}">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">IndaCoins</p>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="https://www.coinjar.com/">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">CoinJar (AUS, UK, US, EU)</p>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="https://www.quadrigacx.com/">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">QuadrigaCX (CANADA)</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--end tab buy_bitcoins_credit_card-->

                    <!--tab buy_bitcoins_cash wallets-->
                    <div class="col s12 m12 l12" id="buy_bitcoins_cash" style="padding: 30px;">
                        <p>
                            Cash deposit is often the easiest, fastest and most private ways to buy Bitcoins. You can usually receive your bitcoins within a couple hours.
                            Can be more private since in some cases no personal information is required, it’s very fast cause no verification is required.
                            It’s pretty much instant, there is no need to wait 2-5 days for a bank transfer to process.
                            There are Bitcoin ATMs all around the world that let you purchase bitcoin with cash and you may have one near your home. Cons: Privacy comes at a cost; Cash exchanges often have price 5%-15% above market rate.
                            Cons: Can be hard to buy large amount of Bitcoins
                            Cons: Easier to get scammed so you need to be on alert who you are buying from and follow the exchange's rules.
                        </p>

                        <div class="col s12 m12 l12" style="margin-top: 20px;">
                            <a target="_blank" href="https://coinatmradar.com/">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">Find Local Bitcoin ATM Machine Near You</p>
                                </div>
                            </a>
                        </div>


                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="{{ local_bitcoin_account.local_bitcoins_username }}">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">LocalBitcoins</p>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="https://wallofcoins.com/">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">Wall Of Coins</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--end tab buy_bitcoins_cash wallets-->

                    <!--tab buy_bitcoins_bank_wires-->
                    <div class="col s12 m12 l12" id="buy_bitcoins_bank_wires" style="padding: 30px;">
                        <p>
                            Bank transfer is one of best ways to buy bitcoins in most countries. It’s a great way to buy large amount of Bitcoins.
                            Using a bank transfer will usually result in the lowest fees, so you can get a great price on your purchase.
                            <br><b>CONS:</b> Usually requires ID verification, so not a good choice for privacy
                            <br><b>CONS:</b> It’s very slow; bank transfers can take UP to 5 days to complete (depending on the exchange and country)
                        </p>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="{{ coin_base_account.coinbase_username }}">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">Coinbase (US, CA, EU)</p>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="https://gdax.com/">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">GDAX</p>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="https://uphold.com/">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">Uphold</p>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="https://gemini.com/">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">Gemini</p>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="{{ cex_io_account.cexio_username }}">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">CEX.IO</p>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 l6" style="margin-top: 20px;">
                            <a target="_blank" href="{{ bit_panda_account.bitpanda_username }}">
                                <div class="col s12 m12 l12 valign-wrapper message_me_fb">
                                    <p style="width: 100%; font-size: 20px;" class="center-align">BitPanda (EU)</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--end tab buy_bitcoins_bank_wires-->

                </div>

                <!--end tab buy bitcoins-->


                <!--take notes-->
                <div class="col s12 m10 offset-m1 l10 offset-l1 center-align" style="margin-top: 20px;">
                    <a style="margin-bottom: 20px; margin-top: 20px;" class="waves-effect yellow black-text waves-light btn modal-trigger" href="#take_note">Take Notes</a>

                    <!-- Modal Structure -->
                    <div id="take_note" class="modal">
                        <div class="modal-content">
                            <div class="col s12 m12 l12">
                                <h4>Write Your Note About This Lecture : </h4>
                            </div>

                           <form method="post">
                                {% csrf_token %}

                                <input type="hidden" name="commentid" value="{{ comment.id }}">

                                <div style="" class="input-field col s12 m10 offset-m1 l10 offset-l1">
                                    <i class="material-icons prefix">create</i>
                                    {{ noteForm.note }}
                                    <label for="icon_prefix white-text">Create Note</label>
                                </div>

                                {% if noteForm.non_field_errors %}
                                    {% for error in noteForm.non_field_errors %}
                                        <div class="col s12 m8 offset-m2 l8 offset-l2 collection teal lighten-2" style="border: 0px;">
                                            <p href="#!" class="collection-item white-text teal lighten-2">{{ error }}</p>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <div class="col s12 m12 l12 center-align" style="margin-bottom: 20px;">
                                    <button class="btn waves-effect waves-light center-align" type="submit" value="note_form" name="note_form">Save Note
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <!--end take note-->

                <div class="col s12 m10 offset-m1 l10 offset-l1" style="margin-bottom: 20px; margin-top: 50px;">
                    <a style="margin-right: 20px;" href="{% url 'topic:module-2-lesson-2' %}" class="waves-effect waves-light btn">Previous Lesson</a>
                    <a href="{% url 'topic:module-2-lesson-4' %}" class="waves-effect waves-light btn">Yes, I Completed</a><br>
                    <a style="margin-top: 20px;" href="{% url 'topic:module-2-lesson-4' %}" class="waves-effect waves-light btn">Next Lesson</a>
                </div>

                <!--comment section-->

                <div class="col s12 m10 offset-m1 l10 offset-l1" style="margin-top: 20px;">
                    <h5 class="">
                        {{ total_comments }} Responses to "Lesson 3 – The Complete Guide To Easily Buying Bitcoins Online & Offline"
                    </h5>

                    <div class="col s12 m12 l12">
                        {% load staticfiles %}
                        <!--main comment-->
                        {% for comment in comments %}
                            <div class="col s12 m12 l12" style="margin-top: 20px; padding: 0px;">
                                {% if comment.user.profile_picture %}
                                    <div class="col s4 m3 l2" style="padding: 0px;">
                                        <img src="{{ comment.user.profile_picture.url }}" alt="" height="100%" width="100%">
                                    </div>
                                {% else %}
                                    <div class="col s4 m3 l2" style="padding: 0px;">
                                        <img src="{% static 'topic/style/images/no-img.jpg' %}" alt="" height="100%" width="100%">
                                    </div>
                                {% endif %}

                                <div class="col s8 m9 l10">
                                    <a href="{% url 'account:public-profile' %}?userid={{ comment.user.user.username }}">{{ comment.user.user.username | upper }}</a>
                                </div>

                                <div class="col s8 m9 l10" style="margin-top: 10px;">
                                    <p>{{ comment.comment }}</p>
                                </div>
                            </div>

                            <div class="col s12 m12 l12" style="margin: 5px; margin-bottom: 20px;">
                                <!--subcomment-->


                                {% for subcomment in subcomments %}
                                    {% ifequal comment.id subcomment.comment.id %}
                                        <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1" style="margin-top: 20px; padding: 0px;">
                                            {% if subcomment.user.profile_picture %}
                                                <div class="col s4 m3 l2" style="padding: 0px;">
                                                    <img src="{{ subcomment.user.profile_picture.url }}" alt="" height="100%" width="100%">
                                                </div>
                                            {% else %}
                                                <div class="col s4 m3 l2" style="padding: 0px;">
                                                    <img src="{% static 'topic/style/images/no-img.jpg' %}" alt="" height="100%" width="100%">
                                                </div>
                                            {% endif %}

                                            <div class="col s8 m9 l10">
                                                <a href="{% url 'account:public-profile' %}?userid={{ subcomment.user.user.username }}">{{ subcomment.user.user.username | upper }}</a>
                                            </div>

                                            <div class="col s8 m9 l10" style="margin-top: 10px;">
                                                <p>{{ subcomment.subcomment }}</p>
                                            </div>
                                        </div>
                                    {% endifequal %}
                                {% endfor %}

                                <a style="margin-left: 60px; margin-bottom: 20px; margin-top: 10px;" class="waves-effect waves-light btn modal-trigger" href="#{{ comment.id }}">Reply</a>
                                <!-- Modal Structure -->
                                <div id="{{ comment.id }}" class="modal">
                                    <div class="modal-content">
                                        <div class="col s12 m12 l12">
                                            <h4>Write Your Comment</h4>
                                        </div>

                                       <form method="post">
                                            {% csrf_token %}

                                            <input type="hidden" name="commentid" value="{{ comment.id }}">

                                            <div style="" class="input-field col s12 m10 offset-m1 l10 offset-l1">
                                                <i class="material-icons prefix">create</i>
                                                {{ subcommentForm.subcomment }}
                                                <label for="icon_prefix white-text">Comment</label>
                                            </div>

                                            {% if subcommentForm.non_field_errors %}
                                                {% for error in subcommentForm.non_field_errors %}
                                                    <div class="col s12 m8 offset-m2 l8 offset-l2 collection teal lighten-2" style="border: 0px;">
                                                        <p href="#!" class="collection-item white-text teal lighten-2">{{ error }}</p>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}

                                            <div class="col s12 m12 l12 center-align" style="margin-bottom: 20px;">
                                                <button class="btn waves-effect waves-light center-align" type="submit" value="subcomment_form" name="subcomment_form">Reply
                                                    <i class="material-icons right">send</i>
                                                </button>
                                            </div>

                                        </form>
                                    </div>
                                </div>

                                <!--end subcomment-->
                            </div>
                        {% endfor %}

                        <!--end maincomment -->
                    </div>
                </div>

                <div class="col s12 m10 offset-m1 l10 offset-l1" style="margin-top: 20px;">
                    <h5 class="">
                        Leave a Reply
                    </h5>

                    <p>
                        Logged in as <a href="#">{{ request.user.username }}</a>. <a href="{% url 'account:logout' %}">Logout</a>
                    </p>
                </div>


                <div class="col s12 m12 l12" style="margin-top: 20px;">
                    <form method="post">
                        {% csrf_token %}

                        <div style="" class="input-field col s12 m10 offset-m1 l10 offset-l1">
                            <i class="material-icons prefix">create</i>
                            {{ commentForm.comment }}
                            <label for="icon_prefix white-text">Comment</label>
                        </div>

                        {% if commentForm.non_field_errors %}
                            {% for error in commentForm.non_field_errors %}
                                <div class="col s12 m8 offset-m2 l8 offset-l2 collection teal lighten-2" style="border: 0px;">
                                    <p href="#!" class="collection-item white-text teal lighten-2">{{ error }}</p>
                                </div>
                            {% endfor %}
                        {% endif %}

                        <div class="col s12 m12 l12 center-align" style="margin-bottom: 20px;">
                            <button class="btn waves-effect waves-light center-align" value="comment_form" type="submit" name="comment_form">Comment
                                <i class="material-icons right">send</i>
                            </button>
                        </div>

                    </form>
                </div>

            </div>
            <!--end main-content -->

            <div class="col s12 m12 l3 left left-content" style="border-right: 1px solid #333; margin-top: 20px;">
                <div class="col s12 m12 l12">
                    <a class="col s12 m12 l12 white-text center-align blue" style="padding: 10px; font-size: 16px;" href="#">Course Outline</a>


                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'lessons:module_1' %}">** Module 1 – How Be The Millionaire system can help you</a>

                    <a class="col m10 offset-m1 grey-text" style="padding: 10px; font-size: 12px;" href="{% url 'topic:module-1-lesson-1' %}">1. Lesson 1 – Welcome To BeTheMillionaire System</a>
                    <a class="col m10 offset-m1 grey-text" style="padding: 10px; font-size: 12px;" href="{% url 'topic:module-1-lesson-2' %}">2. Lesson 2 – Foundation & Overview Of BeTheMillionaire System</a>


                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'lessons:module_2' %}">** Module 2 – What Is Bitcoin & Why It’s Completely Revolutionizing Money</a>

                    <a class="col m10 offset-m1 grey-text" style="padding: 10px; font-size: 12px;" href="{% url 'topic:module-2-lesson-1' %}">1. Lesson 1 – Why Bitcoins & Cryptocurrencies Are The Most Exciting Investment Vehicles To Grow Your Wealth On Earth Today</a>
                    <a class="col m10 offset-m1 grey-text" style="padding: 10px; font-size: 12px;" href="{% url 'topic:module-2-lesson-2' %}">2. Lesson 2 – What Are The Best Bitcoin Wallets To Use To Store Your Bitcoins Safely?</a>
                    <a class="col m10 offset-m1 navy-text" style="padding: 10px; font-size: 12px;" href="{% url 'topic:module-2-lesson-3' %}">3. Lesson 3 – The Complete Guide To Easily Buying Bitcoins Online & Offline</a>
                    <a class="col m10 offset-m1 grey-text" style="padding: 10px; font-size: 12px;" href="{% url 'topic:module-2-lesson-4' %}">4. Lesson 4 – How To Turn Bitcoins Into Cash & Buy Anything You Want With VISA Debit Cards</a>


                    <a class="col s12 m12 l12 grey-text" style="padding: 10px;" href="{% url 'lessons:module_3' %}">** Module 3 – The Secret To Wealth Acceleration</a>

                    <a class="col m10 offset-m1 grey-text" style="padding: 10px; font-size: 12px;" href="{% url 'topic:module-3-lesson-1' %}">1. Lesson 1 – 4 Ways To Produce Income & How To Become Financially Free</a>
                    <a class="col m10 offset-m1 grey-text" style="padding: 10px; font-size: 12px;" href="{% url 'topic:module-3-lesson-2' %}">2. Lesson 2 – Why Banks Are Biggest Scammers & Why Typical Investment Vehicles SUCK</a>
                    <a class="col m10 offset-m1 grey-text" style="padding: 10px; font-size: 12px;" href="{% url 'topic:module-3-lesson-3' %}">3. Lesson 3 – 5 Primary Ways To Grow Your Wealth In Bitcoins</a>

                </div>
            </div>
            <!--end left-content -->
        </div>
    </div>
{% endblock %}

{% block script %}

    <script>
        $(document).ready(function(){
            $('.modal').modal();
        });
    </script>

{% endblock %}
