{% extends 'base1.html' %}

{% block title %}BeTheMillionaire | Step 5 - Start Promoting Bitcoins Wealth Club System & Earn Bitcoins In Multiple Ways{% endblock %}

{% block add-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style/index.css' %}">
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col s12 m8 offset-m2 l8 offset-l2 z-depth-2" style="margin-top: 20px; border: 1px solid #333; padding: 20px; margin-bottom: 50px;">
            <nav class="black" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="nav-wrapper">
                    <div class="col s12 ">
                        <a href="{% url 'topic:step_1' %}" class="orange-text breadcrumb">Step-1</a>
                        <a href="{% url 'topic:step_2' %}" class="orange-text breadcrumb">Step-2</a>
                        <a href="{% url 'topic:step_3' %}" class="orange-text breadcrumb">Step-3</a>
                        <a href="{% url 'topic:step_4' %}" class="orange-text breadcrumb">Step-4</a>
                        <a href="{% url 'topic:step_5' %}" class="white-text breadcrumb">Step-5</a>
                        <a href="{% url 'topic:step_5' %}" class="orange-text breadcrumb">  </a>
                        <a href="{% url 'topic:step_5' %}" class="orange-text">Complete {{ step_complete_percents }}%</a>
                    </div>
                </div>
            </nav>

            <h4 class="center-align">
                Step 5 - Start Promoting Bitcoins Wealth Club System & Earn Bitcoins In Multiple Ways
            </h4>

            <div class="chip col s12 m10 offset-m1 l10 offset-l1" style="font-size: 16px; margin-top: 20px; margin-bottom: 20px;">
                Your Default Link to Promote BeTheMillionaire is: <a target="_blank" href="http://www.bethemillionaire.com/?userid={{ request.user.username }}">www.bethemillionaire.com/?userid={{ request.user.username }}</a>
            </div>

            {% for step in steps %}
                {% if step.is_active %}
                    <div class="col s12 m12 l12 black center-align" style="padding: 30px;">
                        <iframe width="100%" height="470px" src="https://www.youtube.com/embed/4kO06VwaGBo" frameborder="0" gesture="media" allow="encrypted-media" autoplay="true" allowfullscreen></iframe>

                        <p class="white-text" style="margin-top: 10px;">
                            IMPORTANT! Please DO NOT go to next step before completing this step first.
                        </p>

                        <a style="margin-top: 10px;" href="{% url 'course:course' %}" class="waves-effect waves-light orange black-text btn">Yes, I complete</a>
                    </div>



                {% endif %}
            {% endfor %}

            <div class="col s12 m12 l12 center-align" style="margin-bottom: 20px; margin-top: 30px;">
                <a href="{% url 'topic:step_4' %}" class="waves-effect waves-light black orange-text btn">Previous Step</a>
                <br>
                <br>

                <a href="{% url 'course:course' %}" class="waves-effect waves-light black orange-text btn">Yes, I complete</a>
            </div>


            <!--comment-->


            <div class="col s12 m12 l12 z-depth-1" style="margin-top: 20px;">
                <h5 class="">
                    {{ total_comments }} Responses to "Step 5 - Start Promoting Bitcoins Wealth Club System & Earn Bitcoins In Multiple Ways"
                </h5>

                <div class="col s12 m12 l12">
                    {% load staticfiles %}
                    <!--main comment-->
                    {% for comment in comments %}
                        <div class="col s12 m12 l12" style="margin-top: 20px; padding: 0px;">
                            {% if comment.user.profile_picture %}
                                <div class="col s4 m3 l2" style="padding: 0px;">
                                    <img src="{{ comment.user.profile_picture.url }}" alt="" height="100%" width="100%">
                                </div>
                            {% else %}
                                <div class="col s4 m3 l2" style="padding: 0px;">
                                    <img src="{% static 'topic/style/images/no-img.jpg' %}" alt="" height="100%" width="100%">
                                </div>
                            {% endif %}

                            <div class="col s8 m9 l10">
                                <a href="{% url 'account:public-profile' %}?userid={{ comment.user.username }}">{{ comment.user.username | upper }}</a>
                            </div>

                            <div class="col s8 m9 l10" style="margin-top: 10px;">
                                {% if request.user.username == 'admin' %}
                                    <p style="cursor: pointer;" onclick="comment_delete({{ comment.id }})">Delete</p>
                                {% endif %}

                                <p>{{ comment.comment }}</p>
                            </div>
                        </div>

                        <div class="col s12 m12 l12" style="margin: 5px; margin-bottom: 20px;">
                            <!--subcomment-->


                            {% for subcomment in subcomments %}
                                {% ifequal comment.id subcomment.comment.id %}
                                    <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1" style="margin-top: 20px; padding: 0px;">
                                        {% if subcomment.user.profile_picture %}
                                            <div class="col s4 m3 l2" style="padding: 0px;">
                                                <img src="{{ subcomment.user.profile_picture.url }}" alt="" height="100%" width="100%">
                                            </div>
                                        {% else %}
                                            <div class="col s4 m3 l2" style="padding: 0px;">
                                                <img src="{% static 'topic/style/images/no-img.jpg' %}" alt="" height="100%" width="100%">
                                            </div>
                                        {% endif %}

                                        <div class="col s8 m9 l10">
                                            <a href="{% url 'account:public-profile' %}?userid={{ subcomment.user.username }}">{{ subcomment.user.username | upper }}</a>
                                        </div>

                                        <div class="col s8 m9 l10" style="margin-top: 10px;">
                                            {% if request.user.username == 'admin' %}
                                                <p style="cursor: pointer;" onclick="subcomment_delete({{ subcomment.id }})">Delete</p>
                                            {% endif %}

                                            <p>{{ subcomment.subcomment }}</p>
                                        </div>
                                    </div>
                                {% endifequal %}
                            {% endfor %}

                            <a style="margin-left: 60px; margin-bottom: 20px; margin-top: 10px;" class="waves-effect waves-light btn modal-trigger" href="#{{ comment.id }}">Reply</a>
                            <!-- Modal Structure -->
                            <div id="{{ comment.id }}" class="modal">
                                <div class="modal-content">
                                    <div class="col s12 m12 l12">
                                        <h4>Write Your Comment</h4>
                                    </div>

                                   <form method="post">
                                        {% csrf_token %}

                                        <input type="hidden" name="commentid" value="{{ comment.id }}">

                                        <div style="" class="input-field col s12 m10 offset-m1 l10 offset-l1">
                                            <i class="material-icons prefix">create</i>
                                            {{ subcommentForm.subcomment }}
                                            <label for="icon_prefix white-text">Comment</label>
                                        </div>

                                        {% if subcommentForm.non_field_errors %}
                                            {% for error in subcommentForm.non_field_errors %}
                                                <div class="col s12 m8 offset-m2 l8 offset-l2 collection teal lighten-2" style="border: 0px;">
                                                    <p href="#!" class="collection-item white-text teal lighten-2">{{ error }}</p>
                                                </div>
                                            {% endfor %}
                                        {% endif %}

                                        <div class="col s12 m12 l12 center-align" style="margin-bottom: 20px;">
                                            <button class="btn waves-effect waves-light center-align" type="submit" value="subcomment_form" name="subcomment_form">Reply
                                                <i class="material-icons right">send</i>
                                            </button>
                                        </div>

                                    </form>
                                </div>
                            </div>

                            <!--end subcomment-->
                        </div>
                    {% endfor %}

                    <!--end maincomment -->
                </div>
            </div>

            <div class="col s12 m12 l12" style="margin-top: 20px;">
                <h5 class="">
                    Leave a Reply
                </h5>

                <p>
                    Logged in as <a href="#">{{ request.user.username }}</a>. <a href="{% url 'account:logout' %}">Logout</a>
                </p>
            </div>


            <div class="col s12 m12 l12 " style="margin-top: 20px;">
                <form method="post">
                    {% csrf_token %}

                    <div style="" class="input-field col s12 m12 l12">
                        <i class="material-icons prefix">create</i>
                        {{ commentForm.comment }}
                        <label for="icon_prefix white-text">Comment</label>
                    </div>

                    {% if commentForm.non_field_errors %}
                        {% for error in commentForm.non_field_errors %}
                            <div class="col s12 m8 offset-m2 l8 offset-l2 collection teal lighten-2" style="border: 0px;">
                                <p href="#!" class="collection-item white-text teal lighten-2">{{ error }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="col s12 m12 l12 center-align" style="margin-bottom: 20px;">
                        <button class="btn waves-effect waves-light center-align" value="comment_form" type="submit" name="comment_form">Comment
                            <i class="material-icons right">send</i>
                        </button>
                    </div>

                </form>
            </div>

            <!--end comment-->

        </div>
    </div>
{% endblock %}

{% block script %}

    <script>
        $(document).ready(function(){
            $('.modal').modal();
        });


        {% if request.user.username == 'admin' %}

            function comment_delete(comment_id){

                $.ajax({
                    url: '/topic/api/comment/',
                    data: { "comment_id":comment_id },
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        document.location.href = "{{ request.get_full_path }}";
                    }
                });
            }


            function subcomment_delete(subcomment_id){

                $.ajax({
                    url: '/topic/api/subcomment/',
                    data: { "subcomment_id":subcomment_id },
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        document.location.href = "{{ request.get_full_path }}";
                    }
                });
            }
        {% endif %}

    </script>

{% endblock %}
